//==========================================================================
//
//  Article Link
//
//==========================================================================

//==========================================================================
//  Container
//==========================================================================
.article-link {
    position: relative;
    width: design-grid(6);
    height: auto;
    padding: design-grid(0.5);
    margin-bottom: rem(40);
    color: color(primary);
    text-decoration: none;
    border-left: 1px solid color(bg-secondary);
    overflow: hidden;
    margin-right: 0;

    &:last-child,
    &:nth-child(2n+2),
    &:nth-child(4n+4) {
        margin-right: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 0%;
        height: 100%;
        opacity: 0;
        background: color(cta-secondary, 0.1);
        transform-origin: 50% 50%;
        transition: width $animation-duration-short cubic-bezier(0.5,0,1,1), opacity $animation-duration-short cubic-bezier(0.5,0,1,1);
    }

    &:hover,
    &:active,
    &:focus {
        color: color(primary);
        text-decoration: none;

        &:before {
            width: 100%;
            opacity: 1;
        }
    }

    &:visited {
        color: color(primary);
    }

}


//==========================================================================
//  Tags
//==========================================================================
.article-link__tags {
    margin-bottom: rem(15);
    font-size: 0;
}

.article-link__tag {
    display: inline-block;
    position: relative;

    @include typography(breadcrumb);
    text-transform: uppercase;
    color: color(secondary);
    line-height: line-height(minor-second);
    margin-bottom: rem(5);

    &:not(:last-child) {
        padding-right: rem(20);

        &:after {
            content: '/';
            position: relative;
            left: rem(10);
            bottom: 0;
        }
    }
}


//==========================================================================
//  Title
//==========================================================================
.article-link__title {
    @include typography(h2-content, 300, $root-font-family);
    margin-bottom: rem(20);
    padding: 0;
    line-height: line-height(minor-third);
}


//==========================================================================
//  Text
//==========================================================================
.article-link__text {
    p {
        padding-bottom: rem(20);
    }
    p:last-child {
        padding-bottom: 0;
    }
}

//==========================================================================
//  Modifiers
//==========================================================================
.article-link--long {
    width: design-grid(12);
    margin-right: 0;

    .article-link__tags {
        margin-bottom: rem(20);
    }

    .article-link__tag {
        color: color(cta-secondary);
    }

    .article-link__title {
        margin-bottom: rem(25);
    }
}


//==========================================================================
//  Media queries
//==========================================================================
@include mq(screen768) {
    .article-link {
        width: design-grid(6);
        padding: design-grid(0.25) design-grid(0.5);

        &:nth-child(2n+2) {
            margin-right: 0;
        }

    }

    .article-link__title {
        font-size: rem(26);
    }

    .article-link__text {
        p {
            padding-bottom: rem(25);
        }
    }

    .article-link--long {
        margin-right: $grid-gutter;

        &:nth-child(2n+2) {
            margin-right: 0;
        }
    }
}

@include mq(screen1400) {
    .article-link {
        padding: design-grid(0.25) design-grid(0.5);
        margin-right: $grid-gutter;
    }
}

@include mq(screen1600) {
    .article-link {
        width: design-grid(3);

        &:nth-child(2n+2) {
            margin-right: $grid-gutter;
        }

        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }

    .article-link--long {
        height: design-grid(4.25);
    }
}

@include mq(screen1800) {
    .article-link--long {
        height: design-grid(4);
    }
}
