//==========================================================================================
//
//  Recent Article
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.recent-article {
    display: inline-block;
    margin: 0 auto;
}

.recent-article__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

//==========================================================================================
//  Carousel Overrides
//==========================================================================================
.recent-article .carousel__item {
    flex-grow: 0;
    //   Provides spacing between flex items for the carousel.
    border: 5px solid transparent;
    border-top: 0px;
    border-bottom: 0px;
}


//==========================================================================================
//  Item
//==========================================================================================
.recent-article__item {
    padding-bottom: rem(30);
    text-align: center;
}


//==========================================================================================
//  Item Inner
//==========================================================================================
.recent-article__item-inner {
    display: inline-block;
    text-align: left;
    text-decoration: none;
}


//==========================================================================================
//  Image
//==========================================================================================
.recent-article__image-container {
    display: block;
    margin-bottom: rem(5);
}

.recent-article__image {
    width: 100%;
    height: auto;
}


//==========================================================================================
//  Tags
//==========================================================================================

.recent-article__tags {
    font-size: 0;
}

.recent-article__tag {
    display: inline-block;
    position: relative;

    @include typography(breadcrumb);
    text-transform: uppercase;
    color: color(secondary);
    line-height: line-height(minor-second);
    margin-bottom: rem(5);

    &:not(:last-child) {
        padding-right: rem(20);

        &:after {
            content: '/';
            position: relative;
            left: rem(10);
            bottom: 0;
        }
    }
}

.recent-article__tag .link {
    display: inline-block;
    position: relative;
    @include typography(breadcrumb);
    text-transform: uppercase;
    text-decoration: none;
    color: color(cta-secondary);
    line-height: line-height(minor-second);
    margin-bottom: rem(10);
}

.recent-article__tag .link,
.recent-article__tag-divider {
    @include typography(breadcrumb);
}

.recent-article__tag-divider {
    padding: 0 rem(5);
}

.recent-article__tag:last-child {
    .recent-article__tag-divider {
        display: none;
    }
}


//==========================================================================================
//  Text
//==========================================================================================
.recent-article__text {
    @include typography(body);
    color: color(primary);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: color(primary);
        text-decoration: underline;
    }

    &:visited {
        color: color(primary);
    }
}


//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen768) {
    .recent-article__content {
        margin: 0;
    }

    .recent-article .carousel__item {
        //   Provides spacing between flex items for the carousel.
        border: 0;
    }

    .recent-article__item {
        width: fixed-grid(2.4);
    }

    .recent-article__item-inner {
        width: fixed-grid(2);
    }

    .recent-article__image-container {
        margin-bottom: rem(10);
    }
}
