//==========================================================================================
//
//  Cookie message
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
[data-component="cookie"] {
    position: fixed;
    z-index: $z-index-cookie-warning;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0;
}

.cookie {
    border-top: 1px solid color(primary);
    background-color: white;
}

.cookie__inner {
    padding: 20px 50px 20px 20px;
    text-align: left;
    position: relative;
}


//==========================================================================================
//  Content
//==========================================================================================
.cookie__text {
    @include typography(body);
    color: color(primary);
    margin-right: 20px;
}

.cookie__link {
    white-space: nowrap;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}


//==========================================================================================
//  Iconography
//==========================================================================================
.cookie__close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    /* No need from here if we add svg cross */
    width: 20px;
    height: 20px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 25px;
        background-color: color(cta-secondary);
    }

    &::before {
        transform: translateY(-50%) rotate(45deg);
    }

    &::after {
        transform: translateY(-50%) rotate(-45deg);
    }
}


//==========================================================================================
//  Media queries
//==========================================================================================
 @include mq(screen480) {
    .cookie__inner {
        padding: 40px 75px;
        text-align: center;
    }
    .cookie__text {
        margin-right: 0;
    }
    .cookie__close {
        right: 30px;
    }
 };

 @include mq(screen768) {
    .cookie__inner {
        padding: 40px 60px;
    }
 };

 @include mq(screen1000) {
    .cookie__inner {
        padding-right: 100px;
        padding-left: 100px;
    }
    .cookie__close {
        right: 60px;
    }
 };
