//==========================================================================================
//
//  Main Feature
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.main-feature {
    padding-bottom: design-grid(1);
    border-bottom: 1px solid color(bg-secondary);
}


//==========================================================================================
//  Title
//==========================================================================================
.main-feature__title {
    @include typography(h3, 500);
    color: color(primary);
    padding-bottom: rem(20);
}


//==========================================================================================
//  Heading
//==========================================================================================
.main-feature__heading {
    @include typography(h2, 300);
    line-height: line-height(major-third);
    color: color(tertiary);
    padding-bottom: rem(20);
}


//==========================================================================================
//  Link
//==========================================================================================
.main-feature .link-with-arrow {
    svg {
        fill: color(cta-primary);
    }
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen768) {
    .main-feature {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
    }
}