//==========================================================================================
//
//  Secondary Feature
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.secondary-feature {
    padding: design-grid(1) 0;
    border-bottom: 1px solid color(bg-secondary);
}


//==========================================================================================
//  Title
//==========================================================================================
.secondary-feature__title {
    @include typography(h3, 500);
    color: color(primary);
    padding-bottom: rem(20);
}


//==========================================================================================
//  Figure
//==========================================================================================
.secondary-feature__figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


//==========================================================================================
//  Image
//==========================================================================================
.secondary-feature__image-container {
    width: design-grid(6);
}

.secondary-feature__image {
    width: 100%;
    height: auto;
}


//==========================================================================================
//  Details
//==========================================================================================
.secondary-feature__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: design-grid(6);
    padding-left: $grid-gutter;
}


//==========================================================================================
//  Heading
//==========================================================================================
.secondary-feature__heading {
    padding-bottom: rem(10);
    @include typography(intro);
}


//==========================================================================================
//  Text
//==========================================================================================
.secondary-feature__text {
    flex-grow: 1;
    padding-bottom: rem(10);
}


//==========================================================================================
//  Link
//==========================================================================================
.secondary-feature .link-with-arrow {
    align-self: flex-start;
    svg {
        fill: color(cta-primary);
    }
}


//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1200) {
    .secondary-feature__image-container {
        width: design-grid(2);
    }

    .secondary-feature__details {
        width: design-grid(2);
    }
}

@include mq(screen768) {
    .secondary-feature {
        padding: 0;
        border-bottom: 0;
    }

    .secondary-feature__figure {
        justify-content: space-between;
    }

    .secondary-feature__image-container {
        width: design-grid(3);
    }

    .secondary-feature__details {
        width: design-grid(3);
        padding-left: 0;
    }
}
