//==========================================================================================
//
//  Sub Hero Component
//
//==========================================================================================

//==========================================================================================
//  Override container
//==========================================================================================
[data-component="sub-hero"] {
    padding-top: 20px;
}


//==========================================================================================
//  Container
//==========================================================================================
.sub-hero {}

.sub-hero__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-hero .main-feature {
    width:design-grid(12);
}

.sub-hero .secondary-feature {
    width: design-grid(12);
}


//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1200) {
    .sub-hero .main-feature {
        width:design-grid(6);
    }

    .sub-hero .secondary-feature {
        width: design-grid(4);
    }
}

@include mq(screen768) {
    .sub-hero .main-feature {
        width:design-grid(6);
    }

    .sub-hero .secondary-feature {
        width: design-grid(6);
    }
}