//==========================================================================================
//
//  Control panel
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.header .control-panel {
    flex: 1 0 auto;
    text-align: right;
}


//==========================================================================================
//  List
//==========================================================================================
.control-panel__list {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;

    height: 100%;
}

.control-panel__item {
    flex: 0 0 auto;

    position: relative;
    height: 100%;

    // //  Our arrow element
    // &::after {
    //     @include vertically-centered(absolute);
    //     content: "";
    //     right: 0;
    //     width: 1px;
    //     height: rem(36);

    //     background-color: color(tertiary);
    // }

    // &:last-child::after,
    // &[data-show-divider="false"]::after {
    //     display: none;
    // }

}


//==========================================================================================
//  Tooltip arrow
//==========================================================================================
.control-panel__button::after {
    content: " ";

    position: absolute;

    bottom: -1px;
    left: 50%;

    display: none;

    width: 0;
    height: 0;

	margin-left: -7px;

	border: solid transparent;
	border-color: transparent;
	border-bottom-color: color(primary);
	border-width: 7px;

	pointer-events: none;
}


//==========================================================================================
//  Buttons
//==========================================================================================
.control-panel__button {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    height: 100%;

    padding: 0 rem(16);
}


//==========================================================================================
//  States
//==========================================================================================
[data-tooltip-hidden="true"] {
    //  Small arrow
    .control-panel__button::after {
        display: none;
    }
    //  Icon
    .control-panel__symbol--icon {
        display: block;
    }
    .control-panel__symbol--close {
        display: none;
    }
}

[data-tooltip-hidden="true"]:hover {
    //  Show background color
    background-color: color(bg-secondary, 0.2);
}

[data-tooltip-hidden="false"] {
    //  Show background color
    background-color: color(bg-secondary, 0.2);
    //  Small arrow
    .control-panel__button::after {
        display: block;
    }
    //  Icon
    .control-panel__symbol--icon {
        display: none;
    }
    .control-panel__symbol--close {
        display: block;
    }
}


//==========================================================================================
//  Mobile navigation
//==========================================================================================

//  Navigation hidden
[data-control-panel="burger"][data-navigation-hidden="true"] {
    .control-panel__button::after {
        display: none;
    }
    //  Symbols
    .control-panel__symbol--icon { display: block; }
    .control-panel__symbol--close { display: none; }
}

//  Support hover state background colour change
[data-control-panel="burger"][data-navigation-hidden="true"]:hover {
    //  Show background color
    background-color: color(bg-secondary, 0.2);
}

//  Navigation shown
[data-control-panel="burger"][data-navigation-hidden="false"] {
    background-color: color(bg-secondary, 0.2);

    .control-panel__button::after {
        display: block;
    }
    &::after {
        display: none;
    }
    //  Symbols
    .control-panel__symbol--icon { display: none; }
    .control-panel__symbol--close { display: block; }
}


//==========================================================================================
//  Icons
//==========================================================================================
.control-panel__symbol {
    display: inline-block;

    width: 26px;
    height: 20px;

    color: color(cta-secondary);
    fill: color(cta-secondary);
}


//==========================================================================================
//  Tooltip
//==========================================================================================
.control-panel__tooltip {
    position: absolute;
    z-index: $z-index-header;
    bottom: 0;
    left: -50%;
    padding: 20px;

    color: white;
    @include typography(breadcrumb);
    text-align: center;
    white-space: nowrap;

    transform: translate(-50%, 100%);
    background-color: color(primary);

    .link {
        color: white;
    }
}


//==========================================================================================
//  Tooltip position
//==========================================================================================
[data-control-panel="telephone"] {
    & .control-panel__tooltip {
        left: -50%;
    }
}

[data-control-panel="search"] {
    position: initial;
    button {
        position: relative;
    }
    & .control-panel__tooltip {
        left: 0;
        min-width: 100%;
        right: 0;
        transform: translate(0, 100%);
        transition-property: width;
        transition-duration: $animation-duration-short;
    }
}


//==========================================================================================
//  Specific items
//==========================================================================================
[data-control-panel="burger"] {display: block; }
[data-control-panel="search"] { display: block; }
[data-control-panel="mail"] { display: none; }
[data-control-panel="telephone"] {
    display: block;
    //  Per design at mobile this is the last visible item in our control panel - hide the border
    &::after {
        display: none;
    }
}
[data-control-panel="region"] { display: block; }


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen480) {
    .control-panel__button {
        padding: 0 rem(20);
    }
    .control-panel__symbol {
        width: 32px;
        height: 24px;
    }
}


@include mq(screen1200) {

    //  Always center our tooltips on desktop
    [data-control-panel] .control-panel__tooltip {
        min-width: auto;
        left: 50%;
    }

    //  Show or hide control panel items on desktop
    [data-control-panel="burger"] { display: none; }
    [data-control-panel="search"] {
        position: relative;
        .control-panel__tooltip {
            transform: translate(0, 100%);
            left: 0;
        }
    }
    [data-control-panel="telephone"] {
        display: block;
        &::after {
            display: block;
        }
    }
    [data-control-panel="region"] { display: block; }

    //  Increase size of symbols on desktop
    .control-panel__button {
        padding: 0 16px;
    }

    .control-panel__symbol {
        width: 27px;
        height: 20px;
    }

};

@include mq(screen1400) {
    //  Show or hide control panel items on desktop
    [data-control-panel="mail"] { display: block; }

    .control-panel__symbol {
        width: 32px;
        height: 24px;
    }

};

@include mq(screen1600) {
    //  Increase size of symbols on desktop
    .control-panel__button {
        padding: 0 26px;
    }
};