//==========================================================================================
//
//  Dropdown
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
//  Increased specificity for Bootstrap
.navigation .dropdown {
    position: absolute;
    top: 100%;
    z-index: $z-index-navigation-dropdown;

    width: auto;
    min-width: 100%;
    max-width: 150%;

    list-style-type: none;

    &[aria-hidden] {
        display: block !important;
    }
    &[aria-hidden="true"] {
        visibility: hidden;
    }
    &[aria-hidden="false"] {
        visibility: visible;
    }
}


//==========================================================================================
//  Items
//==========================================================================================
.dropdown__item {
    position: relative;
    display: block;

    width: 100%;
}


//==========================================================================================
//  Links
//==========================================================================================
.dropdown__link {
    position: relative;
    display: block;

    padding: ($navigation-link-spacing * 0.75) $navigation-link-spacing;

    @include typography(breadcrumb);
    color: white;
    text-decoration: none;

    background-color: color(primary);



    &:hover, &:focus {
        background-color: color(cta-primary);
        color: white;
        text-decoration: none;
    }

    &:visited {
        color: white;
    }
}

.dropdown__link[data-navigation-trigger] {
    .dropdown__arrow--right {
        display: block;
    }
}


//==========================================================================================
//  Triangle
//==========================================================================================
.dropdown__item:first-of-type {
    .dropdown__link {
        &::before {
            top: -14px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: color(primary);
            border-width: 7px;
            margin-left: -7px;
        }

        &:hover::before,
        &:focus::before {
            border-bottom-color: color(cta-primary);
        }
    }
}




//==========================================================================================
//  Link content
//==========================================================================================
.dropdown__content {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.dropdown__text {
    flex: 1 0 auto;

    display: inline-block;
    width: calc(100% - #{$navigation-link-spacing});
}


//==========================================================================================
//  Iconography
//==========================================================================================
.dropdown__arrow {
    flex: 0 0 auto;

    position: relative;
    display: none;

    fill: white;
    width: 12px;
    height: 12px;

    font-size: 0;
    line-height: 0;
}

.dropdown__arrow--left {
    left: -6px;
    transform-origin: center center;
    transform: rotateZ(90deg);
}

.dropdown__arrow--right {
    left: 6px;
    transform-origin: center center;
    transform: rotateZ(-90deg);
}


//==========================================================================================
//  Sub dropdown
//==========================================================================================
.navigation .dropdown--nested {
    position: absolute;
    top: 0;
    left: 100%;
}

.dropdown--nested {
    .dropdown__link {
        background-color: color(cta-primary);

        &:hover, &:focus {
            background-color: color(cta-secondary);
        }
    }
}

.dropdown--nested .dropdown__item:first-of-type {
    .dropdown__link {
        &::before {
            display: none;
        }
    }
}

[data-navigation-trigger][aria-expanded="true"] {
    background-color: color(cta-primary);
}


//==========================================================================================
//  Animations
//==========================================================================================
.dropdown__content {
    position: relative;
    backface-visibility: visible;
    left: -200%;
    transform: translateZ(0);
    transition: left $animation-duration-medium cubic-bezier(0.23, 1, 0.32, 1);
}
.dropdown__link {
    overflow: hidden;
}

[aria-hidden="false"] > .dropdown__item > .dropdown__link > .dropdown__content {
    left: 0%;
}