//==========================================================================================
//
//  Header
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.header {
    position: fixed;
    z-index: $z-index-header;

    top: 0;
    left: 0;

    width: 100%;

    background-color: white;
    border-bottom: 1px solid color(tertiary);
}

.header__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

    margin: 0 auto;
    padding: 0 12px;
}


//==========================================================================================
//  Logo
//==========================================================================================
.header__home {
    flex: 0 0 auto;

    display: block;

    width: rem(142);
    height: auto;
}

.header__logo {
    width: 100%;
    height: 100%;
}

@include mq($from: screen0, $until: screen480) {
    .header__logo {
        display: none;
    }
}


//==========================================================================================
//  Navigation links
//==========================================================================================
.header__link {
    position: relative;
    display: block;
}


//==========================================================================================
//  Symbols
//==========================================================================================
.header__symbol {
    @include vertically-centered(absolute);
    display: none;

    right: design-grid(0.5);

    fill: color(cta-secondary);
    width: 12px;
    height: 12px;
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen480) {
    .header__home {
        width: rem(168);
    }
    .header__content {
        padding: 0 20px;
    }
};
@include mq(screen768) {
    .header__home {
        width: rem(224);
    }
};
@include mq(screen1200) {
    .header__home {
        width: rem(160);
    }
    .header__content {
        width: design-grid(12);
        padding: 0;
    }
};
@include mq(screen1400) {
    .header__home {
        width: rem(198);
    }
};