//==========================================================================================
//
//  Mobile navigation
//
//==========================================================================================

//==========================================================================================
//  Tray
//==========================================================================================
.mobile-navigation-tray.overlay {
    z-index: $z-index-header-mobile-nav;
}

.mobile-navigation-tray__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 120px;

    width: 100%;
    height: 100%;

    background-color: color(primary);

    .mobile-navigation {
        flex: 1 0 auto;
    }
    .mobile-navigation-links {
        flex: 0 0 auto;
    }
}


//==========================================================================================
//  Content
//==========================================================================================
.mobile-navigation-tray.overlay[aria-hidden="true"] {
    display: block !important;
    visibility: hidden;
    transform: translateY(-100%);
}
.mobile-navigation-tray.overlay[aria-hidden="false"] {
    visibility: visible;
    transform: translateY(0);
}


//==========================================================================================
//  Tray animations
//==========================================================================================
.mobile-navigation-tray.overlay {
    overflow-y: hidden;

    transition: transform $animation-duration-short ease-in-out;
    transform-origin: 50% 50%;

    backface-visibility: none;
}


//==========================================================================================
//  Footer links
//==========================================================================================
.mobile-navigation-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    width: calc(100% - #{$navigation-link-spacing * 2});

    margin: 0 $navigation-link-spacing;
    padding: 25px 0;

    border-top: 1px solid color(cta-secondary);
    background-color: color(primary);
}

.mobile-navigation-links__link {
    @include typography(body);
    color: white;
    text-decoration: none;

    flex: 0 0 auto;
    padding: 0 $navigation-link-spacing 0 0;

    &:hover, &:focus {
        text-decoration: underline;
    }
}


//==========================================================================================
//  Container
//==========================================================================================
.mobile-navigation {
    position: relative;

    display: block;
    flex-direction: row;
    align-items: center;

    width: 100%;

    background-color: color(primary);
}

.mobile-navigation__content {
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
}

.mobile-navigation__item {
    flex-direction: column;
    width: 100%;
}


//==========================================================================================
//  Links
//==========================================================================================
.mobile-navigation__links {
    width: 100%;

    padding-top: $mobile-navigation-link-spacing;
}

.mobile-navigation__link {
    position: relative;

    display: block;
    width: 100%;

    @include typography(navigation);
    color: white;
    font-size: 18px;
    text-decoration: none;
    line-height: 1;

    padding-top: $mobile-navigation-link-spacing;
    padding-bottom: $mobile-navigation-link-spacing;
    padding-left: $navigation-link-spacing;
    padding-right: #{$navigation-link-spacing + $navigation-symbol-padding};

    &:hover, &:focus {
        color: white;
        text-decoration: none;
        background-color: color(cta-primary);
    }
}


//==========================================================================================
//  Symbols
//==========================================================================================
[data-mobile-navigation-trigger] .mobile-navigation__symbol {
    display: inline-block;
}

.mobile-navigation__symbol {
    @include vertically-centered(absolute);
    right: $mobile-navigation-link-spacing;

    display: inline-block;

    fill: white;
    width: 12px;
    height: 12px;

    font-size: 0;
    line-height: 0;

    transform-origin: 0 50%;
    transform: rotateZ(-90deg);
}


//==========================================================================================
//  Back buttons
//==========================================================================================
.mobile-navigation__link--back {
    padding-top: $mobile-navigation-link-spacing * 1.5;
    padding-bottom: $mobile-navigation-link-spacing * 1.5;
    padding-left: #{$navigation-link-spacing + $navigation-symbol-padding};
    padding-right: $navigation-link-spacing;

    font-size: 14px;

    border-bottom: 1px solid color(cta-secondary);
}

.mobile-navigation__symbol--back {
    left: $navigation-link-spacing;
    transform-origin: 50% 0%;
    transform: rotateZ(90deg);
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen1200) {
    .mobile-navigation-tray.overlay {
        display: none;
    }
};

@include mq(screen1400) {
    .mobile-navigation-tray.overlay {
        display: none;
    }
};