//==========================================================================================
//
//  Main site navigation
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.navigation {
    display: none;
    flex-direction: row;
    align-items: center;

    height: 100%;

    text-align: left;
}

.header .navigation {
    flex: 1 0 auto;
}

.control-panel .navigation {
    flex: 0 0 auto;
    margin: 0 0;
}


//==========================================================================================
//  Content
//==========================================================================================
.navigation__item {
    position: relative;
    max-width: rem(160);
}


//==========================================================================================
//  Navigation links
//==========================================================================================
.navigation__link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

    padding-left: rem(20);
    padding-right: rem(22);

    @include typography(navigation);
    color: color(primary);
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: color(primary);
        text-decoration: none;
        background-color: color(bg-secondary, 0.2);
    }

    &:visited {
        color: color(primary);
    }
}

//==========================================================================================
//  Symbols
//==========================================================================================
.navigation__symbol {
    @include vertically-centered(absolute);
    right: $navigation-link-spacing;

    display: none;

    fill: color(cta-secondary);
    width: 12px;
    height: 12px;
}

//  Symbol states for open & closed
[data-navigation-parent][aria-expanded="false"] {
    .navigation__symbol--arrow {
        display: block;
    }
    .navigation__symbol--minus {
        display: none;
    }
}

[data-navigation-parent][aria-expanded="true"] {
    background-color: color(bg-secondary, 0.2);

    .navigation__symbol--arrow {
        display: none;
    }
    .navigation__symbol--minus {
        display: block;
    }
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen1200) {
    .navigation {
        display: flex;
        margin: 0 0 0 30px;
    }
    .navigation__link {
        font-size: 14px;
    }
    [data-navigation-parent] {
        padding-left: 12px;
        padding-right: 32px;
    }
    .navigation__symbol {
        right: 12px;
    }
}
@include mq(screen1400) {
    .navigation {
        margin: 0;
    }
}
@include mq(screen1600) {
    .navigation {
        margin: 0 0 0 36px;
    }
    [data-navigation-parent] {
        padding-left: rem(16);
        padding-right: rem(38);
    }
    .navigation__item {
        max-width: rem(200);
    }
}