//==========================================================================================
//
//  Header positioning
//  Several items have interdepenant values - storing these here for ease of maintenance
//
//==========================================================================================

//==========================================================================================
//  Account for header fixed positioning
//==========================================================================================
body {
    //  Should be the sum of our control-panel & region--mobile heights
    padding: 120px 0px 0px 0px;
}

// @include mq(screen320) {
//     body {
//         //  Match .region--mobile { height }
//         padding-top: fixed-grid(2.5);
//         border: 1px solid red;
//     }
// };

// @include mq(screen768) {
//     body {
//         //  Match .region--mobile { height }
//         padding-top: fixed-grid(2);
//     }
// };

// @include mq(screen1000) {
//     body {
//         //  Match .region--mobile { height }
//         padding-top: 150px;
//     }
// };

// @include mq(screen1200) {
//     body {
//         //  Match .region--mobile { height }
//         padding-top: 100px;
//     }
// };



//==========================================================================================
//  Navigation
//==========================================================================================
.navigation__item {
    height: 100px;
    font-size: 14px;
}


//==========================================================================================
//  Tray
//==========================================================================================
// .mobile-navigation-tray.overlay {
//     //  Should be the sum of our control-panel & region--mobile heights
//     top: 9vw
// }

// @include mq(screen480) {
//     .mobile-navigation-tray.overlay {
//         //  Match .region--mobile { height }
//         top: fixed-grid(2.5);
//     }
// };

// @include mq(screen768) {
//     .mobile-navigation-tray.overlay {
//         //  Match .region--mobile { height }
//         top: fixed-grid(2);
//     }
// };

// @include mq(screen1000) {
//     .mobile-navigation-tray.overlay {
//         //  Match .region--mobile { height }
//         top: 150px;
//     }
// };

// @include mq(screen1200) {
//     .mobile-navigation-tray.overlay {
//         //  Match .region--mobile { height }
//         top: 100px;
//     }
// };

//==========================================================================================
//  Control panel
//==========================================================================================
.header .control-panel {
    //  Account for border
    height: 120px
}



//==========================================================================================
//  Region
//==========================================================================================
// .region--mobile {
//     height: fixed-grid(1.5);
// }

// @include mq(screen480) {
//     .region--mobile {
//         height: fixed-grid(1);
//     }
// }

// @include mq(screen768) {
//     .region--mobile {
//         height: fixed-grid(0.66667);
//     }
// }

// @include mq(screen1000) {
//     .region--mobile {
//         height: 50px;
//     }
// }
