//==========================================================================================
//
//  Region select
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.region {
    display: none;
    height: 100%;
}

.region--mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;

    border-bottom: 1px solid color(bg-secondary, 0.2);
    text-align: left;

    .navigation__item {
        min-width: rem(132);
        height: 100%;

        .dropdown {
            top: 100%;
        }
    }

    .navigation__link {
        padding-right: rem(48);

        .navigation__symbol {
            right: rem(20);
        }
    }

    .dropdown__link {
        padding-left: rem(20);
    }

}

.navigation.region--mobile {
    margin: 0;
}


//==========================================================================================
//  Button
//==========================================================================================
.region__button {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

    padding-left: $navigation-link-spacing;
    padding-right: #{$navigation-link-spacing + $navigation-symbol-padding};

    @include typography(navigation);
    color: color(primary);
    text-decoration: none;

    &:hover, &:focus {
        background-color: color(bg-secondary, 0.2);
    }
}


//==========================================================================================
//  Within container
//==========================================================================================
.header .region--mobile {
    flex: 0 0 auto;
}


//==========================================================================================
//  Symbols
//==========================================================================================
.region__symbol {
    @include vertically-centered(absolute);
    right: $navigation-link-spacing;

    fill: color(cta-secondary);
    width: 12px;
    height: 12px;
}

.region[aria-expanded="false"] {
    .region__symbol--arrow {
        display: block;
    }
    .region__symbol--minus {
        display: none;
    }
}

.region[aria-expanded="true"] {
    .region__symbol--arrow {
        display: none;
    }
    .region__symbol--minus {
        display: none;
    }
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen1200) {
    .region {
        display: block;
    }
    .region--mobile {
        display: none;

        .navigation__item {
            min-width: rem(164);
        }
    }
}