//==========================================================================================
//
//	Search tooltip form
//
//==========================================================================================

//==========================================================================================
//  Container (form)
//==========================================================================================
.search__form {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}


//==========================================================================================
//  Label & input field
//==========================================================================================
.search__label {
	margin: auto;
	flex: 0 0 auto;
	display: inline-block;
	padding-right: rem(10);
}

.search__input {
	flex: 1 1 auto;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #fff;
	color: #fff;
	line-height: 1.5;
	background-color: transparent;
}


//==========================================================================================
//  Submit
//==========================================================================================
.search__button {
	flex: 0 0 auto;
  width: auto;
  height: 22px;
	line-height: 20px;
	margin-left: rem(10);
	background-color: transparent;
}


//==========================================================================================
//	Tooltip symbols
//==========================================================================================
.search__symbol {
    display: inline-block;

	width: 100%;
	height: 100%;

	color: white;
}


//==========================================================================================
//  Media queries
//==========================================================================================
 @include mq(screen480) {
     .search__input {
 		width:40%;
 	}
 }
 @include mq(screen1000) {
 	.search__input {
 		width: 45%;
 	}
 }
 @include mq(screen1200) {
 	.search__input {
 		width:60%;
 	}
 };

 @include mq(screen1400) {
     .search__input {
 		width:65%;
 	}
 };