//==========================================================================================
//
//  Tag Filter Component
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.tag-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

//==========================================================================================
//  Title
//==========================================================================================
.tag-filter__title {
    @include typography(image-title);
    color: color(secondary);
    margin-right: 1.5*$grid-gutter;
}

//==========================================================================================
//  Form Overrides
//==========================================================================================
.tag-filter__form {
    margin-right: 1.5*$grid-gutter;

    .form__row {
        display: flex;
        margin-bottom: 0;
    }

    .form__field {
        &:first-child {
            margin-right: 1.5*$grid-gutter;
        }
    }

    .form__field--inactive {
        .form__select-label {
            opacity: 2*$state-inactive-opacity;
        }
    }

    .form__row--short .form__field {
        width: design-grid(4);
    }

    .form__option {
        margin-left: rem(10);
    }

}

//==========================================================================================
//  Link with arrow
//==========================================================================================
.tag-filter {
    .link-with-arrow {
        padding-right: rem(20);
        margin-top: rem(30);

        .link-with-arrow__svg {
            fill: color(cta-secondary);
        }
    }
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1200) {
    .tag-filter__form {
        .form__row--short .form__field {
            width: design-grid(2);
        }
    }
}

@include mq(screen1000) {
    .tag-filter {
        flex-direction: row;
        align-items: center;
    }

    .tag-filter .link-with-arrow {
        margin-top: 0;
    }

    .tag-filter__form {
        .form__row--short .form__field {
            width: design-grid(3);
        }
    }
}
