//==========================================================================================
//
//  Tags
//
//==========================================================================================

//==========================================================================================
//  Containers
//==========================================================================================
.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: design-grid(12);

    margin: 0 auto;
    padding-top: $grid-gutter;
    padding-right: design-grid(2);
}

.tags__section {
    flex: 0 0 auto;
    width: design-grid(5);
    padding-right: $grid-gutter;
}

//==========================================================================================
//  Text styles
//==========================================================================================
.tags__title {
    padding: $grid-gutter 0 #{$grid-gutter / 2};

    color: color(secondary);
    @include typography(body);
    font-size: rem(14);
    text-transform: uppercase;
}

.tags__content {
    white-space: wrap;
}

.tags__link {
    display: inline-block;
    font-size: rem(14);
}

.tags__divider {
    padding: 0 design-grid(0.125);
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq($from: screen768) {
    .tags {
        width: design-grid(12);
        padding-right: design-grid(0.5);
    }
    .tags__section {
        width: design-grid(6);
        padding-right: design-grid(1);
    }
    .tags__title {
        font-size: initial;
    }
    .tags__link {
        font-size: initial;
    }
}

@include mq($from: screen1000) {
    .tags {
        flex-direction: column;
        justify-content: flex-end;
        //  This width needs to account for the width of .article-header__text
        width: design-grid(3);
    }
    .tags__section {
        width: auto;
    }
    .tags__title {
        font-size: initial;
    }
    .tags__link {
        font-size: initial;
    }
}