//==========================================================================================
//
//  Address
//
//==========================================================================================
$address-padding: 20;


//==========================================================================================
//  Container
//==========================================================================================
.address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 100%;
}


//==========================================================================================
//  Address text
//==========================================================================================
.address__region {
    padding-bottom: rem($address-padding);

    @include typography(body);
    color: color(cta-secondary);
    text-transform: uppercase;
    font-weight: 500;
}

.address__street, .address__postcode {
    @include typography(h3);
    color: color(primary);
    font-weight: 300;
    text-transform: none;
}

.address__postcode {
    padding-bottom: rem($address-padding);
}


//==========================================================================================
//  Address link
//==========================================================================================
.address__link {
    padding-top: rem($address-padding);
}

.address__link .link {
    font-size: rem(14);
}


//==========================================================================================
//  Contact details
//==========================================================================================
.address__contact--email {
    padding-top: rem($address-padding);
}

.address__contact-type {
    @include typography(body);
    font-size: rem(14);
    font-weight: 500;
}

.address__contact-link {
    @include typography(body);
    color: color(primary);
    font-size: rem(14);
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: color(primary);
        text-decoration: underline;
    }

    &:visited {
        color: color(primary);
    }
}

.address__contact-text {
    @include typography(body);
    color: color(primary);
    font-size: rem(14);
}