//==========================================================================
//
//  Article Links Container
//
//==========================================================================

//==========================================================================
//  Container
//==========================================================================
.article-links-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


.article-links-container-detailed {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: none;

  .detailed-article-link{
    flex-grow: 0;
    flex-shrink: 10px;
    flex-basis: 50%;
  }
}