//==========================================================================================
//
//  Large Testimonial
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.large-testimonial-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.large-testimonial {
    width: design-grid(12);
    padding: 40px;

    .testimonial {
        text-align: left;
    }

    .testimonial__message {
        padding-left: rem(40);
        padding-right: 0;
    }

    .testimonial__text {
        display: inline;
        color: color(primary);
        padding: 0;
    }

    .testimonial__quote--right {
        position: relative;
        bottom: - rem(10);
        left: rem(15);
    }

    .testimonial__person {
        padding-left: rem(40);
    }
}

.large-testimonial__header {
    @include typography(h3, 500);
    margin: 0;
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen480) {
    .large-testimonial {
        width: design-grid(10);

        .testimonial__message,
        .testimonial__person {
            padding-left: rem(50);
        }

        .testimonial__quote--right {
            bottom: - rem(15);
        }
    }
}

@include mq(screen600) {
    .large-testimonial {
        .testimonial__message,
        .testimonial__person {
            padding-left: rem(60);
        }
    }
}

@include mq(screen768) {
    .large-testimonial {
        width: design-grid(8);

        .testimonial__message,
        .testimonial__person {
            padding-left: rem(70);
        }
    }
}
