---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "404"
canonical: ""
---

<section class="component component--no-padding component--full-width" data-component="hero">
	<div class="hero error-page">
		<div class="hero__content">
			<div class="hero__text">
                <h1 class="error-page__title">404</h1>
                <h2 class="error-page__subtitle">Oops, we can't seem to find the page you're looking for.</h2>
                <p class="error-page__text">Please go back to the homepage or use the navigation above.</p>
				<a class="maincta" title="Learn more." href="/styleguide.html">Learn more</a>
			</div>
		</div>
		<div class="hero__overlay hero__overlay--bottom-left-mask">
			<svg xmlns="http://www.w3.org/2000/svg" class="hero__svg">
            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#hero-overlay-bottom-left-mask"></use>
			</svg>
		</div>
	</div>
</section>


{{> contact }}