---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "Article"
canonical: ""
---

<div class='container'>
  {{> social-media }}
  {{> video-player }}
  {{> content-header }}
  {{> richtext }}
  <hr>
  {{> large-testimonial }}
  <hr>
  <br><br>
</div>

{{> richtext }}
{{> richtext }}
