---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "Homepage"
canonical: ""
---


{{> hero }}


<div class='container'>
  {{> image-with-copy }}
</div>

<div class='container'>
  <hr>
  <br><br>
  {{> gallery }}
  <br><br>
  <hr>
  <br><br>

  {{> detailed-article-link}}
  <br>
  {{> testimonial }}
  <br><br>
  {{> detailed-article-link}}
  <br><br>
</div>

{{> contact }}
