---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "Index"
canonical: ""
---


<div style='min-height: 1000px; padding: 0px 60px 0px 60px'>

  <h1>Example templates</h1>
  <ul>
    <li>
      <h5>
        <a class="button" href="/homepage.html">Homepage (Variation 1)</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/homepage-alt.html">Homepage (Variation 2)</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/article-full.html">Article (Variation 1)</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/article-alt.html">Article (Variation 2)</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/the-team.html">Staff</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/listings.html">Listings</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/jobs.html">Jobs</a>
      </h5>
    </li>
    <li>
      <h5>
        <a class="button" href="/404.html">404</a>
      </h5>
    </li>
  </ul>
  <br /><br />

  <h1>Components</h1>
  <ul>
    <li>
      <h5>
        <a class="button" href="/styleguide.html">Styleguide</a>
      </h5>
    </li>
  </ul>
</div>
