---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "Listings"
canonical: ""
---
<div class='container'>
  {{> breadcrumbs }}
</div>

{{> header }}
{{> content-header}}
<br><br>

<div class='container'>
  {{> detailed-article-link}}
  {{> detailed-article-link}}
</div>

<hr>
<br><br>
<div style='margin-left: auto; margin-right: auto;'>
  {{> recent-article}}
</div>
<br><br>
<hr>

<div class='container'>
  {{> detailed-article-link}}
  {{> detailed-article-link}}
</div>

{{> contact }}