---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "Styleguide"
canonical: ""
---

<div style='background-color: #dcdde1;'>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Breadcrumbs</h1>
    {{> breadcrumbs }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Hero</h1>
    {{> hero }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Sub Hero</h1>
    {{> sub-hero }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Content Header</h1>
    {{> content-header}}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Latest</h1>
    {{> latest }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Gallery</h1>
    {{> gallery }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Wide Image with Copy</h1>
    {{> wide-image-with-copy }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Image with Copy</h1>
    {{> image-with-copy }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Team Members with Overlay</h1>
    {{> team-member-with-overlay }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Detailed Location</h1>
    {{> detailed-location }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Buttons and links</h1>
    <a class="maincta" href="#">Learn more</a>
    <br/>
    <br/>

    <button class="maincta">Learn more</button>
    <br/>
    <br/>

    <a class="link" href="#">This is a normal link</a>
    <br/>
    <br/>

    <a href="#" class="link-with-arrow">
        <span class="link-with-arrow__text">This is an arrow link</span>
        <div class="link-with-arrow__symbol">
          <i class="fas fa-arrow-right"></i>
        </div>
    </a>
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Article Link</h1>
    {{> article-link }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >What We Do</h1>
    {{> what-we-do}}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Article Link Long</h1>
    {{> article-link-long}}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Detailed Article Link</h1>
    {{> detailed-article-link }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Article Header</h1>
    {{> article-header }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Recent Articles</h1>
    {{> recent-article }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Awards</h1>
    {{> awards }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Testimonials</h1>
    {{> testimonial }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Large Testimonial</h1>
    {{> large-testimonial }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Form Components</h1>
    {{> form }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Video Player</h1>
    {{>video-player}}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Youtube Player</h1>
    {{>youtube-video-player}}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >News Letter</h1>
    {{> newsletter }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Rich text</h1>
    {{> richtext }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Contact</h1>
    {{> contact }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Client List</h1>
    {{> client-list }}
    {{> client-list }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Careers</h1>
    {{> careers }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Questions</h1>
    {{> questions }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Search Results</h1>
    {{> search-results }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Social Media</h1>
    {{> social-media }}
  </div>

  <hr>

  <div class='component--showcase'>
    <h1 class='component--showcase--header' >Footer</h1>
    {{> footer }}
  </div>

</div>

{{> cookie }}
