//==========================================================================================
//
//  Team member
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    width: design-grid(12);
}

.team__member {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: design-grid(12);
    padding-bottom: rem(20);
}


//==========================================================================================
//  Image
//==========================================================================================
.team__photo {
    display: block;
    flex: 0 0 auto;
    width: design-grid(6);
}

.team__image {
    display: block;
    width: 100%;
    height: auto;
}


//==========================================================================================
//  Team member information
//==========================================================================================
.team__information {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    width: design-grid(6);

}

.team__profile {
    flex: 0 0 auto;
    color: color(primary); // added to override Bootstrap's default style
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.team__name {
    padding-bottom: rem(5);
    @include typography(h2);
}

.team__position {
    padding-bottom: rem(10);
    color: color(tertiary);
    @include typography(navigation);
}

.team__description {
    display: none;
    padding-bottom: rem(10);
    @include typography(body);
}


//==========================================================================================
//  Social media
//==========================================================================================
.team__social {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    padding-bottom: rem(10);
}

.team__contact {
    font-size: 0;
    line-height: 0;
}

.team__divider {
    position: relative;
    display: inline-block;
    height: auto;
    padding: 0 rem(14);

    &::before {
        content: "";
        position: absolute;
        left: rem(15);
        width: 1px;
        height: 100%;
        background-color: color(primary);
    }
}


//==========================================================================================
//  Social icons
//==========================================================================================
.team__symbol {
    flex: 0 0 auto;
    fill: color(cta-secondary);
}

.team__symbol--email {
    width: rem(30);
    height: rem(20);
}

.team__symbol--linkedin {
    width: rem(22);
    height: rem(20);
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen320) {
    .team__social {
        display: none;
    }
}

@include mq(screen480) {
    .team__social {
        display: flex;
    }
}

@include mq(screen600) {
    .team__description {
        display: block;
    }
}


@include mq(screen1000) {
    .team {
        flex-direction: row;
    }
    .team__member {
        flex-direction: row;
        width: design-grid(6);
    }
    .team__photo {
        width: design-grid(3);
    }
    .team__information {
        width: design-grid(3);
    }
    .team__name {
        padding-bottom: rem(10);
    }
    .team__position {
        font-size: initial;
        padding-bottom: rem(20);
    }
    .team__description {
        display: none;
    }
}


@include mq(screen1200) {
    .team__description {
        display: block;
    }
}