//==========================================================================================
//
//  Social Media Share component
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

//==========================================================================================
//  Link
//==========================================================================================
.social-media__link {
    margin-right: rem(20);
    margin-bottom: rem(10);

    @include typography(anchor);
    text-transform: uppercase;

    &:last-child {
        margin-right: 0;
    }
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen768) {
    .social-media__link {
        margin-right: rem(30);
    }
}
