//==========================================================================================
//
//  Wide image with copy
//
//=========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.wide-image-with-copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: design-grid(12);
}


//==========================================================================================
//  Figure
//==========================================================================================
.wide-image-with-copy__figure {
    width: design-grid(12);
    height: 100%;
    margin-bottom: 0;
    margin-bottom: rem(20);
}

.wide-image-with-copy__image {
    width: 100%;
    height: auto;
}


//==========================================================================================
//  Copy
//==========================================================================================
// .wide-image-with-copy__copy {}


//==========================================================================================
//  Title
//==========================================================================================
.wide-image-with-copy--right-aligned {
    .wide-image-with-copy__title {
        text-align: right;
    }
}

.wide-image-with-copy__title {
    @include typography(image-title);
    font-size: rem(16);
    color: color(secondary);
    margin-bottom: rem(20);
}

//==========================================================================================
//  Description
//==========================================================================================
// .wide-image-with-copy__description {}


//==========================================================================================
//  Description richtext overrides
//==========================================================================================
.wide-image-with-copy__description.rich {
   p {
        text-align: justify;
        padding-top: rem(20);

        &:first-child,
        &:first-of-type {
            padding-top: 0;
        }
    }

}


//==========================================================================================
//  Link with Arrow
//==========================================================================================
.wide-image-with-copy .link-with-arrow {
    margin-top: rem(20);
    svg {
        fill: color(cta-secondary);
    }
}


//==========================================================================================
//  Media Queries & Desktop only Modifier
//==========================================================================================
@include mq(screen1000) {
    .wide-image-with-copy__figure {
        margin-bottom: 0;
        width: design-grid(9);
    }


    .wide-image-with-copy {
        flex-direction: row;
    }

    .wide-image-with-copy__copy {
        width: design-grid(3);

    }

    .wide-image-with-copy--right-aligned {
        flex-direction: row-reverse;

        .wide-image-with-copy__copy {
            align-items: flex-end;
        }
        .wide-image-with-copy__description {
            text-align: justify;
        }
    }
}