//==========================================================================================
//
//  Image with copy
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.image-with-copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: design-grid(12);
}


//==========================================================================================
//  Image
//==========================================================================================
.image-with-copy__figure {
    flex: 0 0 auto;
    width: design-grid(12);
}

.image-with-copy__image {
    width: 100%;
    height: auto;
}

.image-with-copy__title {
    @include typography(image-title);
    color: color(secondary);
    padding-right: $grid-gutter;
}

.image-with-copy__description {
    @include typography(body);
}


//==========================================================================================
//  Text
//==========================================================================================
.image-with-copy__copy {
    flex: 0 0 auto;
    width: design-grid(12);
    padding-top: rem(20);
}


//==========================================================================================
//  Flip sides modifier
//==========================================================================================
.image-with-copy--right-aligned {
    .image-with-copy__figure {
        order: 1;
    }
    .image-with-copy__copy {
        order: 0;
    }
}

//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen1000) {
    .image-with-copy {
        flex-direction: row;
    }
    .image-with-copy__figure {
        width: design-grid(6);
    }
    .image-with-copy__copy {
        width: design-grid(6);
        padding-top: 0;
    }
}