/**
 * Inline anchor with arrow
 * Iconography default size is 32px by 36px (1:1.125)
 */



.link-with-arrow {
    @include typography(anchor);

    position: relative;

    display: inline-flex;
    flex-direction: row;
    align-items: center;

    padding-right: $link-with-arrow-width + 5px;

    text-transform: uppercase;

    &:hover, &:focus, &:active {
        color: color(cta-secondary);
        .link-with-arrow__svg {
            animation: LinkWithArrow $animation-duration-medium ease-in-out;
        }
    }

    &:visited {
        color: color(cta-secondary);
    }
}

.link-with-arrow__symbol {
    @include vertically-centered(absolute, 1);
    right: 0;
    // overflow: hidden;
    // width: $link-with-arrow-width;
    // height: $link-with-arrow-height;
}

.link-with-arrow__svg {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}


/* Animations
========================================================================== */
@keyframes LinkWithArrow {
    0% {
        opacity: 1;
        transform: rotate(180deg) translate3d(#{-$link-with-arrow-width}, 0, 0);
    }

    33% {
        opacity: 0;
        transform: rotate(180deg) translate3d(#{-$link-with-arrow-width}, 0, 0);
    }

    66% {
        opacity: 0;
        transform: rotate(180deg) translate3d($link-with-arrow-width, 0, 0);
    }

    100% {
        opacity: 1;
        transform: rotate(180deg) translate3d(0px, 0, 0);
    }
}