//==========================================================================================
//
//  What We Do
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.what-we-do {
}


//==========================================================================================
//  Carousel styles and spacing
//==========================================================================================
.what-we-do .carousel__content {
    flex-wrap: wrap;
    align-items: stretch;
}

.what-we-do .carousel__item {
    padding-right: 2*$grid-gutter;
    padding-bottom: 2*$grid-gutter;
    align-items: stretch;
    flex-grow: 0;
    height: auto;

    &:last-child {
        padding-right: 0;
    }
}


//==========================================================================================
//  Item
//==========================================================================================
.what-we-do__item {
    position: relative;
    display: flex;
    flex-direction: column;

    width: design-grid(12);
    min-height: design-grid(8);
    padding: design-grid(0.75);
    overflow: hidden;
    background-color: color(tertiary);
}


//==========================================================================================
//  Link
//==========================================================================================
.what-we-do__link {
    display: flex;
    flex: 1 0 auto;
    color: white;
    text-decoration: none;

    &:hover,
    &:focus,
    &active {
        color: white;
        text-decoration: none;
    }

    &:visited {
        color: white;
    }
}


//==========================================================================================
//  Item Content
//==========================================================================================
.what-we-do__item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}


//==========================================================================================
//  Background
//==========================================================================================
.what-we-do__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center center;

    transform: scale(1);
    transition: transform $animation-duration-long ease-in-out;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: color(primary);
        opacity: 0.4;
        transition: opacity $animation-duration-long ease-in-out;
    }
}


//==========================================================================================
//  Hover/Active states for background
//==========================================================================================
.what-we-do__item:hover,
.what-we-do__item:active,
.what-we-do__item:focus {
    .what-we-do__background {
        transform: scale(1.1);

        &:before {
            opacity: 0.5;
        }
    }
}

//==========================================================================================
//  Category
//==========================================================================================
.what-we-do__category {
    margin-bottom: rem(20);

    @include typography(body,400);
    color: #fff;
    text-transform: uppercase;
}


//==========================================================================================
//  Title
//==========================================================================================
.what-we-do__title {
    flex: 1 0 auto;
    width: 100%;
    max-width: none;

    @include typography(h2,300);
    font-size: rem(28);
    line-height: line-height(major-third);
    color: #fff;
}


.what-we-do__cta {
    margin-top: rem(40);
}

//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen480) {
    .what-we-do__title {
        font-size: rem(28);
    }
}

@include mq(screen600) {
    .what-we-do__item {
        min-height: design-grid(6);
    }
}

@include mq(screen768) {
    .what-we-do .carousel__item {
        padding-right: $grid-gutter;
        padding-bottom: $grid-gutter;

        &:nth-child(3n+3) {
            padding-right: 0;
        }
    }

    .what-we-do__item {
        width: design-grid(4);
        min-height: design-grid(3);

        padding: design-grid(0.33) design-grid(0.5);
    }
}

@include mq(screen1400) {
    .what-we-do__title {
        max-width: 75%;
    }
}
