//==========================================================================================
//
//  Client List
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.client-list {
    display: inline-block;
    margin: 0 auto;
}

.client-list__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    //   Provides spacing between flex items.
    margin: 0 -5px;
}

//==========================================================================================
//  Carousel Overrides
//==========================================================================================
.client-list .carousel__item {
    flex: 0 0 auto;
    //   Provides spacing between flex items for the carousel.
    border: 5px solid transparent;
    border-top: 0px;
    border-bottom: 0px;
}


//==========================================================================================
//  Client List Client
//==========================================================================================
.client-list__client {
    text-align: center;
}

//==========================================================================================
//  Client List Link
//==========================================================================================
.client-list__link {
    display: inline-block;
    // width: fixed-grid(4);
    text-decoration: none;
    text-align: left;

    &:hover {
        color: color(cta-secondary);
        text-decoration: underline;
    }
}

//==========================================================================================
//  Client List Figure
//==========================================================================================
.client-list__figure {
    margin: 0 auto;
}

.client-list__image {
    width: 100%;
    height: auto;
    margin-bottom: rem(5);
}

.client-list__text {
    @include typography(breadcrumb);
    text-transform: uppercase;
    color: color(cta-secondary);
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen768) {
    .client-list__content {
        margin: 0;
        flex-wrap: wrap;
    }
    .client-list .carousel__item {
        border: 0;
    }
    .client-list__client {
        padding-bottom: rem(30);
    }
    .client-list__client,
    .client-list__link {
        width: fixed-grid(2);
    }

    .client-list__figure {
        width: fixed-grid(1.5);
    }
}

@include mq(screen1000) {
    .client-list__image {
        margin-bottom: rem(10);
    }
}
