//==========================================================================================
//
//  Contact
//
//==========================================================================================

//==========================================================================================
//  Main class
//==========================================================================================
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: $grid-gutter;
    border: 1px solid color(bg-secondary, 0.2);
}

[data-carousel-pagination="true"] {
    padding-bottom: design-grid(1.5);
}

[data-carousel-pagination="false"] {
    padding-bottom: design-grid(0.75);
}

//==========================================================================================
//  Tab/button styles
//==========================================================================================
.contact__tab {
    position: relative;
    order: unset;
    width: 100%;

    min-height: rem(60);

    padding-left: $contact-button-padding;

    @include typography(h2);
    color: color(tertiary);
    text-align: left;
    font-weight: 300;

    background-color: white;
    transition: background-color $animation-duration-short ease;

    &[aria-expanded='true'] {
        color: color(primary);
        background-color: color(bg-secondary, 0.2);
    }

    &:hover, &:focus {
        color: color(primary);
    }
}


//  Symbol styles used for mobile
.contact__symbol {
    @include vertically-centered(absolute);
    display: none;

    right: $contact-button-padding;

    fill: color(cta-secondary);
    width: 12px;
    height: 12px;
}


//==========================================================================================
//  View styles
//==========================================================================================
.contact__view {
    flex: 0 0 auto;

    position: relative;
    width: 100%;
    order: unset;

    padding: 0 0 $grid-gutter 0;
    text-align: center;

    background-color: color(bg-secondary, 0.2);
}

.contact__address {
    flex: 0 1 auto;

    position: relative;
    display: block;
    width: 100%;

    text-align: center;
}


//==========================================================================================
//  Desktop vs mobile
//==========================================================================================
.contact__desktop {
    display: none;
}
.contact__mobile {
    position: relative;
    overflow-x: hidden;
}


//==========================================================================================
//  Mobile carousel
//==========================================================================================
.contact__carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

//==========================================================================================
//  Symbols
//==========================================================================================
//  Symbol states for open & closed
.contact__tab[aria-expanded="false"] {
    .contact__symbol--arrow {
        display: block;
    }
}

.contact__tab[aria-expanded="true"] {
    .contact__symbol--minus {
        display: block;
    }
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq($from: screen1000) {
    .contact__mobile {
        display: none;
    }

    .contact__desktop {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    //  Address
    .contact__address {
        padding-right: #{$contact-button-padding * 0.75};
        text-align: left;

        &:not(:last-child):after {
            content: "";
            position: absolute;
            top: 0;
            right: #{$contact-button-padding * 0.75};
            width: 1px;
            height: 100%;

            background-color: color(tertiary);
        }

        .address {
            padding-right: #{$contact-button-padding * 0.75};
        }
    }


    //  Tab & views
    .contact__view {
        order: 2;
        padding: $contact-button-padding;
    }

    .contact__tab {
        flex: 1 0 auto;
        order: 1;
        width: auto;
        min-height: rem(100);
    }


    //  Symbol states for open & closed
    .contact__tab[aria-expanded="false"] {
        .contact__symbol--arrow {
            display: none;
        }
    }

    .contact__tab[aria-expanded="true"] {
        .contact__symbol--minus {
            display: none;
        }
    }

}

@include mq($from: screen1200) {
    //  Address
    .contact__address {
        padding-right: $contact-button-padding;
        .address {
            padding-right: $contact-button-padding;
        }
    }
}