//==========================================================================================
//
//  Custom Checkbox
//
//==========================================================================================
$checkbox-default-width: 26px;

//==========================================================================================
//  Container
//==========================================================================================
.custom-checkbox {
    position: relative;
    margin-bottom: rem(30);
}


//==========================================================================================
//  Input Styles needed for IE
//==========================================================================================
input[type="checkbox"] {
    width: 0;
    height: 0;
}


//==========================================================================================
//  Label
//==========================================================================================
.custom-checkbox__label {
    position: relative;
    padding-left: rem(40);
    @include typography(intro, 400, $root-font-family);
    color: color(primary);

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: $checkbox-default-width;
        height: $checkbox-default-width;
        background-image: url('symbols/inline.svg#checkbox-default');
    }
}


//==========================================================================================
//  Hover/Focus/Active States
//==========================================================================================
.custom-checkbox  {
    .custom-checkbox__label {
        &:hover,
        &:focus,
        &:active {
            &:before {
                background-image: url('symbols/inline.svg#checkbox-active');
            }
        }
    }

}

// Need this for keyboard navigation
.custom-checkbox {
    input[type="checkbox"]:focus ~ .custom-checkbox__label {
        &:before {
            background-image: url('symbols/inline.svg#checkbox-active');
        }
    }
}

.custom-checkbox {
    input[type="checkbox"]:checked ~ .custom-checkbox__label {
        &:before {
            background-image: url('symbols/inline.svg#checkbox-checked');
        }
    }
}
