//==========================================================================================
//
//  Form radio
//
//==========================================================================================
$radio-default-width: 26px;

//==========================================================================================
//  Container
//==========================================================================================
.custom-radio {
    position: relative;
    margin-bottom: rem(30);
}


//==========================================================================================
//  Input Styles needed for IE
//==========================================================================================
input[type="radio"] {
    width: 0;
    height: 0;
}


//==========================================================================================
//  Label
//==========================================================================================
.custom-radio__label {
    position: relative;
    padding-left: rem(40);
    @include typography(intro, 400, $root-font-family);
    color: color(primary);

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: $radio-default-width;
        height: $radio-default-width;
        background-image: url('symbols/inline.svg#radio-default');
    }
}


//==========================================================================================
//  Hover/Focus/Active States
//==========================================================================================
.custom-radio {
    .custom-radio__label {
        &:hover,
        &:active,
        &:focus {
            &:before {
                background-image: url('symbols/inline.svg#radio-active');
            }
        }
    }
}

// Need this for keyboard navigation
.custom-radio {
    input[type="radio"]:focus ~ .custom-radio__label {
        &:before {
            background-image: url('symbols/inline.svg#radio-active');
        }
    }
}

.custom-radio {
    input[type="radio"]:checked ~ .custom-radio__label {
        &:before {
            background-image: url('symbols/inline.svg#radio-checked');
        }
    }
}
