//==========================================================================================
//
//  Form
//
//==========================================================================================


//==========================================================================================
//  Container
//==========================================================================================
// .form {}

.form__input,
.form select.form__select,
.form textarea.form__input--textarea {
  display: block;
  width: 100%;
  padding: rem(20) rem(30) rem(20) 0;
  border: 0;
  border-bottom: 1px solid color(tertiary);
  @include typography(intro, 400, $root-font-family);
  line-height: line-height(minor-third);
  color: color(primary);
  background-color: transparent;

  &:focus,
  &:active {
    outline: none;
  }
}


.form textarea.form__input--textarea {
    width: 100%;
    max-width: none !important;
    height: auto;
    min-height: 100px;
    overflow: auto;
    resize: none;
    border: 0;
    margin: 0;
    padding: rem(20) rem(20) rem(20) 0;
    border-bottom: 1px solid color(tertiary);

    &:focus {
      border: 0;
    }
}


//==========================================================================================
//  Form Label Active State
//==========================================================================================
.form__input:valid ~ .form__label,
.form__input:focus ~ .form__label {
  @include typography(breadcrumb);
  top: 0;
  color: color(tertiary);
}

.form__input--file:valid ~ .form__label,
.form__input--file:focus ~ .form__label {
  top: 50%;
  @include typography(intro, 400, $root-font-family);
  line-height: 1;
  color: color(primary);
}

//==========================================================================================
//  Bottom bar Active State
//==========================================================================================
.form__input:focus ~ .form__underline:before,
.form__input:focus ~ .form__underline:after,
select.form__select:focus ~ .form__underline:before,
select.form__select:focus ~ .form__underline:after {
  width: 50%;
}


//==========================================================================================
//  Form Select dropdown
//==========================================================================================
.form select.form__select {
  position: relative;
  padding-top: 20px;
  margin: 0;
  border: 0;
  border-bottom: 1px solid color(tertiary);
  background-color: color(primary);
  z-index: 10;
  opacity: 0;
}

.form optgroup.form__optgroup,
.form select.form__select optgroup
 {
  background: color(primary);
  text-transform: capitalize;

  &:hover {
    background-color: color(secondary);
  }
}

.form optgroup.form__optgroup[label] {
  @include typography(breadcrumb, 300, $root-font-family);
  background-color: color(primary);
  color: color(secondary);
  font-weight: 300;
}

.form__select-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  fill: #007b85;
  width: 12px;
  height: 12px;
}

.form__select-icon--arrow,
.form__select-icon--minus {
  display: none;
}

.form option.form__option {
  @include typography(body, 300, $root-font-family);
  background-color: color(primary);
  color: #fff;

  &:last-child {
    margin-bottom: 0;
  }
}

.form label.form__select-label {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0;
  padding-bottom: 20px;
  @include typography(intro, 400, $root-font-family);
  line-height: line-height(minor-third);
  color: color(primary);
  z-index: 1;
}

.form__underline--select {
  border-top: 1px solid color(tertiary);
}

//==========================================================================================
//  Form Select dropdown IE overrides
//==========================================================================================
.form select.form__select::-ms-expand {
  display: none;
}

.form select option:disabled {
  background-color: color(primary);
}


//==========================================================================================
//  Form Row
//==========================================================================================
.form__row {
  margin-bottom: rem(30);
}


//==========================================================================================
//  Form Field
//==========================================================================================
.form__field{
  position: relative;
}

//==========================================================================================
//  Form Label
//==========================================================================================
.form__label {
  @include typography(intro, 400, $root-font-family);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: color(primary);
  background-color: transparent;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease all;
}

//==========================================================================================
//  Form Field Bottom Bar
//==========================================================================================
.form__underline 	{
  position: relative;
  display: block;
  width: 100%;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background: color(cta-secondary);
    transition: 0.2s ease all;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }
}

//==========================================================================================
//  Form Message wrapper
//==========================================================================================
.form__messages {
  margin-top: rem(15);
  min-height: rem(50); /* Adequate height to compensate for 2 row messages */
}


//==========================================================================================
//  Form Message (error message or other message)
//==========================================================================================
.form__message {
  @include typography(breadcrumb, 400);
  line-height: 1.2;
  margin-bottom: rem(10);

  &:last-child {
    margin-bottom: 0;
  }
}

//==========================================================================================
//  Form Fieldset
//==========================================================================================
.form__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

//==========================================================================================
//  Form Legend
//==========================================================================================
legend.form__legend {
  @include typography(intro, 400, $root-font-family);
  color: color(primary);
  margin-bottom: rem(30);
}


//==========================================================================================
//  Form symbols
//==========================================================================================
.form__icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.form__icon--invalid {
  fill: color(invalid);
}
.form__icon--valid {
  fill: color(valid);
}


//==========================================================================================
//  Modifiers
//==========================================================================================
.form__row--short {
  max-width: design-grid(12);
}

.form__row--upload {
  .form__field {
    border-bottom: 1px solid color(tertiary);
  }

  .form__underline {
    &:before,
    &:after {
      height: 1px;
    }
  }
}

.form__input--file {
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.form textarea.form__input--textarea ~.form__label {
  display: block;
  width: 100%;
  background-color: transparent;
}

[data-invalid="false"] {
  .form__input,
  select.form__select {
    position: relative;
    border-bottom: 1px solid color(valid);

    &:focus {
      outline-color: color(valid);
    }
  }

  .form__input ~ .form__label,
  .form__input:valid ~ .form__label, // to be replaced with not-empty class or equivalent
  .form__input:focus ~ .form__label {
    color: color(valid);
  }

  .form__underline 	{
    &:before,
    &:after {
      background-color: color(valid);
    }
  }

  .form__message {
    display: block;
    color: color(valid);
  }

  .form__icon--valid {
    display: block;
  }

}

[data-invalid="true"] {
  .form__input,
  select.form__select {
    position: relative;
    border-bottom: 1px solid color(invalid);

    &:focus {
      outline-color: color(invalid);
    }
  }

  .form__input ~ .form__label,
  .form__input:valid ~ .form__label, // to be replaced with not-empty class or equivalent
  .form__input:focus ~ .form__label {
    color: color(invalid);
  }

  .form__underline 	{
    &:before,
    &:after {
      background-color: color(invalid);
    }
  }

  .form__message {
    display: block;
    color: color(invalid);
  }

  .form__icon--invalid {
    display: block;
  }

}

[data-select-open="true"] ~ .form__select-icon--minus {
  display: block;
}

[data-select-open="false"] ~ .form__select-icon--arrow {
  display: block;
}

//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen600) {
  .form__row--short {
    .form__field {
      width: design-grid(6);
    }
  }
}

@include mq(screen768) {
  .form__row--short {
    .form__field {
      width: design-grid(4);
    }
  }
}

@include mq(screen1000) {
  .form__row--short {
    .form__field {
      width: design-grid(2);
    }
  }
}