
<section class="accordion">
    <button class="accordion__button" aria-controls="accordion-hello" aria-expanded="false">Say hello.</button>
    <div id="accordion-hello" class="accordion__view" role="region" aria-expanded="false">
        <p>Hello world!</p>
    </div>
</section>
