<div class="carousel">
    <ul class="carousel__content" role="listbox" style="background-color: grey;">
        <li class="carousel__item" style="background-color: red; height: 400px;">test 1</li>
        <li class="carousel__item" style="background-color: green; height: 400px;">test 2</li>
        <li class="carousel__item" style="background-color: blue; height: 400px;">test 3</li>
        <li class="carousel__item" style="background-color: orange; height: 400px;">test 4</li>
        <li class="carousel__item" style="background-color: purple; height: 400px;">test 5</li>
    </ul>
    <a class="carousel__button carousel__button--prev" href="#">&nbsp;</a>
    <a class="carousel__button carousel__button--next" href="#">&nbsp;</a>
</div>