
<section class="tabs">
    <button class="tabs__button" aria-controls="t1" aria-expanded="false">T1.</button>
    <button class="tabs__button" aria-controls="t2" aria-expanded="false">T2.</button>
    <button class="tabs__button" aria-controls="t3" aria-expanded="false">T3.</button>
    <button class="tabs__button" aria-controls="t4" aria-expanded="false">T4.</button>
    <div id="t1" class="tabs__view" role="region" aria-expanded="false">
        <p>T1</p>
    </div>
    <div id="t2" class="tabs__view" role="region" aria-expanded="false">
        <p>T2</p>
    </div>
    <div id="t3" class="tabs__view" role="region" aria-expanded="false">
        <p>T3</p>
    </div>
    <div id="t4" class="tabs__view" role="region" aria-expanded="false">
        <p>T4</p>
    </div>
</section>
