<div class="template">
    <p class="template__text" data-field="make"></p>
    <p class="template__text" data-field="model"></p>
    <p class="template__text" data-field="make+model"></p>
    <img class="template__image" src="" alt="image" data-field-image="image">
    <div class="template__background" style="width: 200px; height: 200px; background-size: cover;" data-field-background="background"></div>
</div>