//==========================================================================================
//
//  Questions
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.questions {
    width: design-grid(12);
    margin: 0 auto;
}


//==========================================================================================
//  Item
//==========================================================================================
.questions__item {
    padding: rem(20);
    margin-bottom: rem(30);

    background-color: #fff;
    border: 1px solid color(bg-secondary, 0.2);

    &:last-child {
        margin-bottom: 0;
    }
}


//==========================================================================================
//  Date
//==========================================================================================
.questions__date {
    margin-bottom: rem(20);
    @include typography(body);
    color: color(tertiary);
}


//==========================================================================================
//  Question
//==========================================================================================
.questions__question {
    margin-bottom: rem(20);
    @include typography(h3, 500);
    line-height: line-height(minor-third);
}


//==========================================================================================
//  Answer
//==========================================================================================
.questions__answer {
    @include typography(body);
}

.questions__answer.rich p {
    padding-bottom: rem(15);

    &:last-child {
        padding-bottom:0;
    }
}


//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen768) {
    .questions {
        width: design-grid(10);
    }
}

@include mq(screen1000) {
    .questions {
        width: design-grid(8);
    }

    .questions__item {
        padding: rem(30);
    }

    .questions__date {
        margin-bottom: rem(25);
    }

    .questions__question {
        margin-bottom: rem(25);
    }
}

@include mq(screen1200) {
    .questions {
        width: design-grid(6);
    }
}