---
layout: default.hbs
script: /assets/js/site.js
stylesheet: /assets/css/site.css
title: "Index"
canonical: ""
---

{{> carousel }}

{{> accordion }}

{{> tabs }}

{{> templates }}


<style>
   .map {
		width: 500px;
		height: 500px;
   }
</style>
<div class="map"></div>