//==========================================================================================
//
//  Gallery
//
//==========================================================================================

//==========================================================================================
//  Containers
//==========================================================================================

.gallery {
    display: block;
    position: relative;
}

.carousel__content--gallery {
    padding-bottom: 0;
    align-items: flex-start;
}

//==========================================================================================
//  Gallery title and text
//==========================================================================================

.gallery__text-title {
    @include typography(image-title);
    font-size: rem(16);
    color: color(secondary);
    margin-bottom: rem(20);
}


//==========================================================================================
//  Gallery text richtext spacing overrides
//==========================================================================================
.gallery__text-description.rich {
    p {
            padding-top: rem(20);

            &:first-child,
            &:first-of-type {
                padding-top: 0;
            }
        }
}


//==========================================================================================
//  Gallery menu
//==========================================================================================

.gallery__menu {
    @include typography(body);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    position: absolute;
    left: design-grid(.5);
    right: design-grid(.5);
    top: design-grid(2);
}

.gallery__count {
    position: absolute;
    top: design-grid(2.5);
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 0 2rem;
    color: #fff;
}

.gallery__figure {
    font-size: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: rem(20);
}

.gallery__image {
    width: 100%;
    height: auto;
}

.gallery__button {
    .gallery__symbol {
        width: 100%;
        height: 100%;
        fill: #fff;
    }
    &:focus {
        outline: transparent;
    }
}

// .gallery__button--next {
//     transform: rotateY(180deg);
//     &:not(.inactive):hover .gallery__symbol {
//         animation: BasicCarouselNextButton $animation-duration-short ease-in-out;
//     }
// }

// .gallery__button--prev {
//     &:not(.inactive):hover .gallery__symbol {
//         animation: BasicCarouselPrevButton $animation-duration-short ease-in-out;
//     }
// }

//==========================================================================================
//  Media Queries
//==========================================================================================

@include mq($from: screen600){
    .gallery__menu {
        top: design-grid(2.2);
    }
    .gallery__count {
        top: design-grid(2.2);
    }
}

@include mq($from: screen1000) {

    //==========================================================================================
    //  Container modifiers
    //==========================================================================================

    .gallery {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .gallery__image-container {
        width: design-grid(9);
    }
    .gallery__text-container {
        width: design-grid(3);
    }

    .gallery__menu {
        justify-content: flex-start;
        text-align: left;
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        top: auto;
        width: design-grid(3);
    }

    .gallery__count {
        color: color(secondary);
        position: relative;
        left: auto;
        top: auto;
        transform: none;
    }

    .gallery__button {
        border-color: color(cta-secondary);
        .gallery__symbol {
            fill: color(cta-secondary);
        }
        &:focus {
            border-color: color(cta-primary);
            .gallery__symbol {
                fill: color(cta-primary);
            }
        }
    }

    .gallery__item {
        display: flex;
        padding: 0;
    }
    .gallery__text {
        width: design-grid(4);
        padding-bottom: rem(60);
        margin-right: 10px;
    }
    .gallery__figure {
        margin-bottom: 0;
    }

    .gallery--reverse  {
        flex-direction: row-reverse;
        .gallery__text {
            text-align: right;
            margin-left: 0;
        }
        .gallery__menu {
            justify-content: flex-end;
            text-align: right;
            right: auto;
            left: 0;
        }
    }

}
