<div class="address">
    <p class="address__region">United Kingdom</p>
    <p class="address__street">36 Queen Street, London</p>
    <p class="address__postcode">EC4R 1BN</p>
    <div class="address__contact">
        <p class="address__number">
            <span class="address__contact-type">Fax:</span>
            <span class="address__contact-text">+44 20 7747 8600</span>
        </p>
        <p class="address__number">
            <span class="address__contact-type">Tel:</span>
            <a class="address__contact-link" href="tel:+442077478600" title="bFinance (United Kingdom) telephone number.">+44 20 7747 8600</a>
        </p>
    </div>

    <p class="address__contact address__contact--email">
        <span class="address__contact-type">Email:</span>
        <a class="address__contact-link" href="mailto:info@bfinance.com" title="bFinance (United Kingdom) e-mail address.">info@bfinance.com</a>
    </p>

    <p class="address__link">
        <a class="link" href="#">View map</a>
    </p>
</div>