<section class="component" data-component="article-link">
    <div class="article-links-container">
        <a href="#" class="article-link">
            <div class="article-link__tags">
                <p class="article-link__tag">1</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text rich">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </a>
        <a href="#" class="article-link">
            <div class="article-link__tags">
                <p class="article-link__tag">2</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text rich">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </a>
        <a href="#" class="article-link">
            <div class="article-link__tags">
                <p class="article-link__tag">3</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text rich">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </a>
        <a href="#" class="article-link">
            <div class="article-link__tags">
                <p class="article-link__tag">4</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text rich">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </a>
    </div>
</section>