<section class="article-container" data-component="article-header">
    <div class="article-header">
        <div class="article-header__content" >
            <div class="article-header__text">
                <h3 class="article-header__title">Article Title</h3>
                <h1 class="article-header__header">Article Header</h4>
                <address class="author">
                    <p class="author__association">Written by</p>
                    <p class="author__name-container">
                        <a class="author__name link" href="#" title="bfinance article author: Kathryn Saklatvala">Jane Doe</a>
                    </p>
                    <p class="author__name-container">
                        <a class="author__name link" href="#" title="bfinance article author: Kathryn Saklatvala">Abbra Cadabra</a>
                    </p>
                    <p class="author__name-container">
                        <a class="author__name link" href="#" title="bfinance article author: Kathryn Saklatvala">John Smith</a>
                    </p>
                    <p class="author__name-container">
                        <a class="author__name link" href="#" title="bfinance article author: Kathryn Saklatvala">Michael Bison</a>
                    </p>
                </address>
            </div>
            {{> tags }}
        </div>

    </div>
</section>
