<section class="component" data-component="article-link-long">
    <div class="article-links-container">
        <a href="#" class="article-link article-link--long">
            <div class="article-link__tags">
                <p class="article-link__tag">Tag</p>
                <p class="article-link__tag">Subtag</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
            </div>
        </a>
        <a href="#" class="article-link article-link--long">
            <div class="article-link__tags">
                <p class="article-link__tag">Tag</p>
                <p class="article-link__tag">Subtag</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
            </div>
        </a>
        <a href="#" class="article-link article-link--long">
            <div class="article-link__tags">
                <p class="article-link__tag">Tag</p>
                <p class="article-link__tag">Subtag</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
            </div>
        </a>
        <a href="#" class="article-link article-link--long">
            <div class="article-link__tags">
                <p class="article-link__tag">Tag</p>
                <p class="article-link__tag">Subtag</p>
            </div>
            <p class="article-link__title">Article Title</p>
            <div class="article-link__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
            </div>
        </a>
    </div>
</section>