<section class="component" data-component="awards">
    <div class="awards">
        <figure class="awards__item">
            <div class="awards__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=1" data-lazyload-options='{ "className": "awards__image", "alt": "award image" }'></div>
            <figcaption class="awards__caption">
                <p class="awards__text">Programmer of the Year 2018 Gala Event</p>
            </figcaption>
        </figure>
        <figure class="awards__item">
            <div class="awards__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=2" data-lazyload-options='{ "className": "awards__image", "alt": "award image" }'></div>
            <figcaption class="awards__caption">
                <p class="awards__text">Programmer of the Year 2018 Gala Event</p>
            </figcaption>
        </figure>
        <figure class="awards__item">
            <div class="awards__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=3" data-lazyload-options='{ "className": "awards__image", "alt": "award image" }'></div>
            <figcaption class="awards__caption">
                <p class="awards__text">Programmer of the Year 2018 Gala Event</p>
            </figcaption>
        </figure>
        <figure class="awards__item">
            <div class="awards__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=4" data-lazyload-options='{ "className": "awards__image", "alt": "award image" }'></div>
            <figcaption class="awards__caption">
                <p class="awards__text">Programmer of the Year 2018 Gala Event</p>
            </figcaption>
        </figure>
    </div>
</section>
