<section class="component" data-component="breadcrumbs">
    <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="breadcrumb__link" href="/" itemprop="item">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1">
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="breadcrumb__link" href="/" itemprop="item">
                <span itemprop="name">Subpage 1</span>
            </a>
            <meta itemprop="position" content="2">
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="breadcrumb__link" href="/" itemprop="item">
                <span itemprop="name">Subpage 2</span>
            </a>
            <meta itemprop="position" content="3">
        </li>
    </ul>
</section>