<section class="component" data-component="careers">
    <div class="careers">
        <a href="#" class="careers__item">
            <p class="careers__title">Job Title</p>
            <p class="careers__location">Glasgow, Scotland</p>
            <p class="careers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </a>
        <a href="#" class="careers__item">
            <p class="careers__title">Job Title</p>
            <p class="careers__location">London, United Kingdom</p>
            <p class="careers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </a>
    </div>
</section>