<section class="component" data-component="client-list">
    <div class="client-list carousel" data-carousel="client-list">
        <ul class="client-list__content carousel__content" role="listbox">
            <li class="carousel__item">
                <div class="client-list__client">
                    <a href="#" class="client-list__link">
                        <figure class="client-list__figure" data-lazyload-image="/assets/images/raster/demo/client-list.jpg" data-lazyload-options='{ "className": "client-list__image", "alt": "lazy client-list image", "draggable": false }'>
                            <figcaption class="client-list__text">Client name</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="client-list__client">
                    <a href="#" class="client-list__link">
                        <figure class="client-list__figure" data-lazyload-image="/assets/images/raster/demo/client-list.jpg" data-lazyload-options='{ "className": "client-list__image", "alt": "lazy client-list image", "draggable": false }'>
                            <figcaption class="client-list__text">Client name</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="client-list__client">
                    <a href="#" class="client-list__link">
                        <figure class="client-list__figure" data-lazyload-image="/assets/images/raster/demo/client-list.jpg" data-lazyload-options='{ "className": "client-list__image", "alt": "lazy client-list image", "draggable": false }'>
                            <figcaption class="client-list__text">Client name</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="client-list__client">
                    <a href="#" class="client-list__link">
                        <figure class="client-list__figure" data-lazyload-image="/assets/images/raster/demo/client-list.jpg" data-lazyload-options='{ "className": "client-list__image", "alt": "lazy client-list image", "draggable": false }'>
                            <figcaption class="client-list__text">Client name</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="client-list__client">
                    <a href="#" class="client-list__link">
                        <figure class="client-list__figure" data-lazyload-image="/assets/images/raster/demo/client-list.jpg" data-lazyload-options='{ "className": "client-list__image", "alt": "lazy client-list image", "draggable": false }'>
                            <figcaption class="client-list__text">Client name</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="client-list__client">
                    <a href="#" class="client-list__link">
                        <figure class="client-list__figure" data-lazyload-image="/assets/images/raster/demo/client-list.jpg" data-lazyload-options='{ "className": "client-list__image", "alt": "lazy client-list image", "draggable": false }'>
                            <figcaption class="client-list__text">Client name</figcaption>
                        </figure>
                    </a>
                </div>
            </li>
        </ul>
        <a class="carousel__button carousel__button--prev" href="#">&nbsp;</a>
        <a class="carousel__button carousel__button--next" href="#">&nbsp;</a>
    </div>
</section>
