<menu class="control-panel">
    <ul class="control-panel__list" data-tooltips="control-panel">
        <li class="control-panel__item" data-show-divider="false" data-control-panel="burger" data-navigation-hidden="true">
            <button id="trigger-nav-burger-menu" aria-controls="nav-burger-menu" aria-label="Search bfinance." title="Search bfinance." class="control-panel__button">
                <i class="control-panel__symbol control-panel__symbol--icon fas fa-bars fa-2x"></i>
                <i class="control-panel__symbol control-panel__symbol--close fas fa-times fa-2x"></i>
            </button>
        </li>
        <li class="control-panel__item" data-show-divider="false" data-control-panel="search" data-tooltip="search" data-tooltip-hidden="true">
            <button id="nav-cp-search" aria-controls="nav-cp-tooltip-search" aria-label="search bfinance." title="Search bfinance." class="control-panel__button">
                <i class="control-panel__symbol control-panel__symbol--icon fas fa-search fa-2x"></i>
                <i class="control-panel__symbol control-panel__symbol--close fas fa-times fa-2x"></i>
            </button>
            <div id="nav-cp-tooltip-search" role="tooltip" aria-labelledby="nav-cp-search" aria-hidden="true" class="search control-panel__tooltip">
                <form method="get" action="/search/" class="search__form">
                    <label for="search" class="search__label">Search</label>
                    <input id="search" type="text" class="search__input" name="searchTerm" />
                    <button aria-label="Submit search." class="search__button" title="Search bfinance.">
                        <i class="search__symbol fas fa-search"></i>
                    </button>
                </form>
            </div>
        </li>
        <li class="control-panel__item" data-show-divider="false" data-control-panel="mail" data-tooltip="mail" data-tooltip-hidden="true">
            <button id="nav-cp-email" aria-controls="nav-cp-tooltip-email" aria-label="Email bfinance." title="Email bfinance." class="control-panel__button">
                <i class="control-panel__symbol control-panel__symbol--icon fas fa-bars fa-2x"></i>
                <i class="control-panel__symbol control-panel__symbol--close fas fa-times fa-2x"></i>
            </button>
            <div id="nav-cp-tooltip-email" role="tooltip" aria-labelledby="nav-cp-email" aria-hidden="true" class="control-panel__tooltip">
                <span>Email: </span>
                <a class="link" href="mailto:info@bfinance.com">info@bfinance.com</a>
            </div>
        </li>
        <li class="control-panel__item" data-show-divider="false" data-control-panel="telephone" data-tooltip="telephone" data-tooltip-hidden="true">
            <button id="navTelephone" aria-controls="navTelephoneTooltip" aria-label="Telephone" title="Telephone bfinance." class="control-panel__button">
                <i class="control-panel__symbol control-panel__symbol--icon fas fa-phone fa-2x"></i>
                <i class="control-panel__symbol control-panel__symbol--close fas fa-times fa-2x"></i>
            </button>
            <div id="navTelephoneTooltip" class="control-panel__tooltip" role="tooltip" aria-labelledby="navTelephone" aria-hidden="true">
                <span>Tel: </span>
                <a class="link" href="tel:+44 20 7747 8600">+44 20 7747 8600</a>
            </div>
        </li>
        <li class="control-panel__item" data-show-divider="true">
            {{> region }}
        </li>
    </ul>
</menu>