<section class="component" data-component="content-header">
    <div class="content-header">
        <h3 class="content-header__title">What we do</h3>
        <p class="content-header__text">Implementation in focus.</p>
    </div>
</section>
