<section class="component" data-component="contact" data-contact-default="tabContactEU">
    <div class="contact" role="tablist" multiselectable="false">
        <button id="tabContactNA" class="contact__tab" aria-controls="tabContactNAContent" aria-expanded="false" role="tab">
            <span>North America</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="contact__symbol contact__symbol--arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="contact__symbol contact__symbol--minus">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
            </svg>
        </button>

        <div id="tabContactNAContent" class="contact__view" aria-labelledby="tabContactNA" aria-hidden="true" role="tabpanel">
            <ul class="contact__desktop">
                <li class="contact__address">
                    {{> address }}
                </li>
            </ul>
            <div class="contact__mobile">
                <ul class="contact__carousel" data-carousel="contact">
                    <li class="contact__address">
                        {{> address }}
                    </li>
                </ul>
                <menu class="carousel-pagination" data-carousel-pagination="contact">
                    <button class="carousel-pagination__button" href="#" data-active="false"></button>        
                </menu>
            </div>
        </div>


        <button id="tabContactEU" class="contact__tab" aria-controls="tabContactEUContent" aria-expanded="false" role="tab">
            <span>Europe</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="contact__symbol contact__symbol--arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="contact__symbol contact__symbol--minus">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
            </svg>
        </button>
        <div id="tabContactEUContent" class="contact__view" aria-labelledby="tabContactEU" aria-hidden="true" role="tabpanel">
            <ul class="contact__desktop">
                <li class="contact__address">
                    {{> address }}
                </li>
                <li class="contact__address">
                    {{> address }}
                </li>
                <li class="contact__address">
                    {{> address }}
                </li>
                <li class="contact__address">
                    {{> address }}
                </li>
            </ul>
            <div class="contact__mobile">
                <ul class="contact__carousel" data-carousel="contact">
                    <li class="contact__address">
                        {{> address }}
                    </li>
                    <li class="contact__address">
                        {{> address }}
                    </li>
                    <li class="contact__address">
                        {{> address }}
                    </li>
                    <li class="contact__address">
                        {{> address }}
                    </li>
                </ul>
                <menu class="carousel-pagination" data-carousel-pagination="contact">
                    <button class="carousel-pagination__button" href="#" data-active="false"></button>        
                </menu>
            </div>
        </div>

    <button id="tabContactAP" class="contact__tab" aria-controls="tabContactAPContent" aria-expanded="false" role="tab">
            <span>Asia Pacific</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="contact__symbol contact__symbol--arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="contact__symbol contact__symbol--minus">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
            </svg>
        </button>
        <div id="tabContactAPContent" class="contact__view" aria-labelledby="tabContactAP" aria-hidden="true" role="tabpanel">
            <ul class="contact__desktop">
                <li class="contact__address">
                    {{> address }}
                </li>
                <li class="contact__address">
                    {{> address }}
                </li>
                <li class="contact__address">
                    {{> address }}
                </li>
            </ul>
            <div class="contact__mobile">
                <ul class="contact__carousel" data-carousel="contact">
                    <li class="contact__address">
                        {{> address }}
                    </li>
                    <li class="contact__address">
                        {{> address }}
                    </li>
                    <li class="contact__address">
                        {{> address }}
                    </li>
                </ul>
                <menu class="carousel-pagination" data-carousel-pagination="contact">
                    <button class="carousel-pagination__button" href="#" data-active="false"></button>        
                </menu>
            </div>
        </div>
    </div>
</section>
