<section class="component component--no-padding" data-component="cookie" aria-hidden="true">
    <div class="cookie">
        <div class="cookie__inner">
            <span class="cookie__text">We use cookies to ensure that we give you the best experience on your website.</span>
            <a href="#" class="link">Find out more.</a>
            <div data-cookie-warning="close" class="cookie__close"></div>
        </div>
    </div>
</section>