<div class="form__row">
    <fieldset class="form__fieldset">
        <legend class="form__legend">This is a short question or text</legend>
        <div class="form__field custom-radio">
            <input type="radio" class="custom-radio__input" id="radio-1" name="radio-group" value="radio-1" aria-labelledby="label-radio-1" aria-describedby="message-radio-required">
            <label id="label-radio-1" class="custom-radio__label" for="radio-1">This is a radio button</label>
        </div>
        <div class="form__field custom-radio">
            <input type="radio" class="custom-radio__input" id="radio-2" name="radio-group" value="radio-2" aria-labelledby="label-radio-2" aria-describedby="message-radio-required">
            <label id="label-radio-2" class="custom-radio__label" for="radio-2">This is a radio button</label>
        </div>
        <div class="form__field custom-radio">
            <input type="radio" class="custom-radio__input" id="radio-3" name="radio-group" value="radio-3" aria-labelledby="label-radio-3" aria-describedby="message-radio-required">
            <label id="label-radio-3" class="custom-radio__label" for="radio-3">This is a radio button</label>
        </div>
        <div class="form__field custom-radio">
            <input type="radio" class="custom-radio__input" id="radio-4" name="radio-group" value="radio-4" aria-labelledby="label-radio-4" aria-describedby="message-radio-required">
            <label id="label-radio-4" class="custom-radio__label" for="radio-4">This is a radio button</label>
        </div>

        <div class="form__messages">
            <p class="form__message" id="message-radio-required" aria-hidden="true" role="alert" data-negative-validate-message="required">Please make sure you select one of the above</p>
        </div>
    </fieldset>
</div>