<div class="form__row">
    <fieldset class="form__fieldset">
        <legend class="form__legend">This is a short question or text</legend>
        <div class="form__field custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox" id="checkbox-1" value="checkbox-1" name="checkbox-1" role="checkbox" aria-labelledby="label-checkbox-1" aria-describedby="message-checkbox-required">
            <label id="label-checkbox-1" class="custom-checkbox__label" for="checkbox-1">This is a checkbox</label>
        </div>
        <div class="form__field custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input" id="checkbox-2" value="checkbox-2" name="checkbox-2" role="checkbox" aria-labelledby="label-checkbox-2" aria-describedby="message-checkbox-required">
            <label id="label-checkbox-2" class="custom-checkbox__label" for="checkbox-2">This is a checkbox</label>
        </div>
        <div class="form__field custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input" id="checkbox-3" value="checkbox-3" name="checkbox-3" role="checkbox" aria-labelledby="label-checkbox-3" aria-describedby="message-checkbox-required">
            <label id="label-checkbox-3" class="custom-checkbox__label" for="checkbox-3">This is a checkbox</label>
        </div>
        <div class="form__field custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input" id="checkbox-4" value="checkbox-4" name="checkbox-4" role="checkbox" aria-labelledby="label-checkbox-4" aria-describedby="message-checkbox-required">
            <label id="label-checkbox-4" class="custom-checkbox__label" for="checkbox-4">This is a checkbox</label>
        </div>

        <div class="form__messages">
            <p class="form__message" id="message-checkbox-required" aria-hidden="true" role="alert" data-negative-validate-message="required">Please make sure you select at least one of the above</p>
        </div>
    </fieldset>
</div>