<section class="component" data-component="detailed-article-link">
    <div class="article-links-container-detailed">
        <a href="#" class="detailed-article-link">
            <figure class="detailed-article-link__figure">
                <div class="detailed-article-link__image-container">
                    <img class="detailed-article-link__image" src="/assets/images/raster/demo/detailedarticle_1.jpg" alt="">
                </div>
                <figcaption class="detailed-article-link__details">
                    <div class="detailed-article-link__tags">
                        <p class="detailed-article-link__tag">Tag</p>
                        <p class="detailed-article-link__tag">Subtag</p>
                    </div>
                    <p class="detailed-article-link__title">
                      Article Title
                    </p>
                    <p class='detailed-article-link__content'>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="#" class="detailed-article-link">
            <figure class="detailed-article-link__figure">
                <div class="detailed-article-link__image-container">
                    <img class="detailed-article-link__image" src="/assets/images/raster/demo/detailedarticle_1.jpg" alt="">
                </div>
                <figcaption class="detailed-article-link__details">
                    <div class="detailed-article-link__tags">
                        <p class="detailed-article-link__tag">Tag</p>
                        <p class="detailed-article-link__tag">Subtag</p>
                    </div>
                    <p class="detailed-article-link__title">
                      Article Title
                    </p>

                    <p class='detailed-article-link__content'>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                </figcaption>
            </figure>
        </a>


    </div>

    <div class="article-links-container-detailed">
        <a href="#" class="detailed-article-link">
            <figure class="detailed-article-link__figure">
                <div class="detailed-article-link__image-container">
                    <img class="detailed-article-link__image" src="/assets/images/raster/demo/detailedarticle_1.jpg" alt="">
                </div>
                <figcaption class="detailed-article-link__details">
                    <div class="detailed-article-link__tags">
                        <p class="detailed-article-link__tag">Tag</p>
                        <p class="detailed-article-link__tag">Subtag</p>
                    </div>
                    <p class="detailed-article-link__title">
                      Article Title
                    </p>
                    <p class='detailed-article-link__content'>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="#" class="detailed-article-link">
            <figure class="detailed-article-link__figure">
                <div class="detailed-article-link__image-container">
                    <img class="detailed-article-link__image" src="/assets/images/raster/demo/detailedarticle_1.jpg" alt="">
                </div>
                <figcaption class="detailed-article-link__details">
                    <div class="detailed-article-link__tags">
                        <p class="detailed-article-link__tag">Tag</p>
                        <p class="detailed-article-link__tag">Subtag</p>
                    </div>
                    <p class="detailed-article-link__title">
                      Article Title
                    </p>

                    <p class='detailed-article-link__content'>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                </figcaption>
            </figure>
        </a>


    </div>
</section>