<section class="component" data-component="detailed-location">
    <div class="detailed-location">
        <div class="detailed-location__map" data-map="detailed-location" data-map-lat-lng="55.948595,-3.199913"></div>
        <div class="detailed-location__details">
            <div class="detailed-location__address">
                <p class="detailed-location__region">United Kingdom</p>
                <p class="detailed-location__street">36 Queen Street, London</p>
                <p class="detailed-location__street">Address 2nd Line</p>
                <p class="detailed-location__postcode">EC4R 1BN</p>
                <div class="detailed-location__contact">
                    <p class="detailed-location__number">
                        <span class="detailed-location__contact-type">Tel:</span>
                        <a class="detailed-location__contact-link" href="tel:+442077478600" title="bFinance (United Kingdom) telephone number.">+44 20 7747 8600</a>
                    </p>
                    <p class="detailed-location__number">
                        <span class="detailed-location__contact-type">Fax:</span>
                        <span class="detailed-location__contact-text">+44 20 7747 8600</span>
                    </p>
                </div>

                <p class="detailed-location__contact detailed-location__contact--email">
                    <span class="detailed-location__contact-type">Email:</span>
                    <a class="detailed-location__contact-link" href="mailto:info@bfinance.com" title="bFinance (United Kingdom) e-mail address.">info@bfinance.com</a>
                </p>
            </div>

            <a href="#" target="_blank" class="link-with-arrow" data-link="directions">
                <span class="link-with-arrow__text">Get Directions</span>
                <div class="link-with-arrow__symbol">
                    <i class="fas fa-map-pin"></i>
                </div>
            </a>
        </div>
    </div>
</section>
<br><br>
<section class="component" data-component="detailed-location">
    <div class="detailed-location detailed-location--right-aligned">
        <div class="detailed-location__map" data-map="detailed-location" data-map-lat-lng="51.508112,-0.075949"></div>
        <div class="detailed-location__details">
            <div class="detailed-location__address">
                <p class="detailed-location__region">United Kingdom</p>
                <p class="detailed-location__street">36 Queen Street, London</p>
                <p class="detailed-location__postcode">EC4R 1BN</p>
                <div class="detailed-location__contact">
                    <p class="detailed-location__number">
                        <span class="detailed-location__contact-type">Tel:</span>
                        <a class="detailed-location__contact-link" href="tel:+442077478600" title="bFinance (United Kingdom) telephone number.">+44 20 7747 8600</a>
                    </p>
                    <p class="detailed-location__number">
                        <span class="detailed-location__contact-type">Fax:</span>
                        <span class="detailed-location__contact-text">+44 20 7747 8600</span>
                    </p>
                </div>

                <p class="detailed-location__contact detailed-location__contact--email">
                    <span class="detailed-location__contact-type">Email:</span>
                    <a class="detailed-location__contact-link" href="mailto:info@bfinance.com" title="bFinance (United Kingdom) e-mail address.">info@bfinance.com</a>
                </p>
            </div>

            <a href="#" target="_blank" class="link-with-arrow" data-link="directions">
                <span class="link-with-arrow__text">Get Directions</span>
                <div class="link-with-arrow__symbol">
                   <i class="fas fa-map-pin"></i>
                </div>
            </a>
        </div>
    </div>
</section>