<li data-navigation="nav-nested-ADAM" class="dropdown__item">
    <a data-navigation-item="nav-nested-panos" data-navigation-trigger="nav-nested-ADAM" id="nav-adam" aria-controls="nav-nested-ADAM" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="dropdown__link" href="#">
        <div class="dropdown__content">
            <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--left">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
            <span class="dropdown__text">Panos</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--right">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
        </div>
    </a>
    <ul data-navigation-list="nav-nested-ADAM" id="nav-nested-ADAM" aria-labelledby="nav-adam" aria-hidden="true" class="dropdown dropdown--nested">
        <li class="dropdown__item">
            <a data-navigation-item="nav-nested-ADAM" class="dropdown__link" href="#" title="What bfinance do.">
                <div class="dropdown__content">
                    <span class="dropdown__text">Test</span>
                </div>
            </a>
        </li>
    </ul>
</li>