<footer class="footer">
    <nav class="footer__navigation">
        <a class="footer__link" href="/careers/" title="Find the next step in your career with bFinance.">Link A</a>
        <a class="footer__link" href="//impp.bfinance.com/" title="Log-in to our portal to view your tender.">Link B</a>
    </nav>
    <nav class="footer__social">
        <button class="social-media__link" data-link="share" title="Share on Google+" data-social="google" data-url="http://test.com">Google+</button>
        <button class="social-media__link" data-link="share" title="Share on Twitter" data-social="twitter" data-text="Twitter post message - 140 characters" data-hashtags="hash1,hash2" data-related="@equatoragency">Twitter</button>
        <button class="social-media__link" data-link="share" title="Share on Facebook" data-social="facebook" data-url="http://test.com">Facebook</button>
        <button class="social-media__link" data-link="share" title="Share on LinkedIn" data-social="linkedin" data-text="LinkedIn post message" data-source="Page Source">LinkedIn</button>
        <button class="social-media__link" data-link="share" title="Share via Email" data-social="email" data-mail="example@example.com" data-subject="Email subject" data-body="Email message body.">Email</button>
    </nav>
</footer>