<section class="component component--narrow">
    <h3 class="form__heading">Contact us</h3>
    <form class="form" data-form="contact" data-validate-form="true" action="/api/test">

        <div class="form__row" data-validate-for="email" data-invalid="">
            <div class="form__field">
                <input class="form__input" type="text" name="email" id="email" aria-labelledby="label-email" aria-describedby="message-email-required message-email-format"
                    aria-required="false" aria-invalid="true" data-validate-as="email" required>
                <span class="form__underline"></span>
                <label id="label-email" for="email" class="form__label">Email</label>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--valid">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#tick"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--invalid">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#alert"></use>
                </svg>
            </div>
            <div class="form__messages">
                <p class="form__message" id="message-negative-email-required" aria-hidden="true" role="alert" data-negative-validate-message="required">For us to contact you, please make sure to provide us with your email address.</p>
                <p class="form__message" id="message-positive-email-format" aria-hidden="true" role="alert" data-positive-validate-message="email">You will receive a confirmation email to this address once we receive your details.</p>
                <p class="form__message" id="message-negative-email-format" aria-hidden="true" role="alert" data-negative-validate-message="email">Your email address doesn't appear to be correct.</p>
            </div>
        </div>

        <div class="form__row form__row--short">
            <div class="form__field">
                <input class="form__input" type="text" name="postcode" id="postcode" aria-labelledby="label-postcode" aria-describedby="message-postcode"
                    aria-required="true" aria-invalid="false" required>
                <span class="form__underline"></span>
                <label id="label-postcode" for="postcode" class="form__label">Postcode</label>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--alert">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#alert"></use>
                </svg>
            </div>
            <div class="form__messages">
                <p class="form__message" id="message-postcode" aria-hidden="true" role="alert">This is an error message which is longer than the form field</p>
            </div>
        </div>

        {{> custom-checkbox }}

        {{> custom-radio }}

        {{> gdpr-field }}

         <div class="form__row form__row--short">
            <div class="form__field" data-form-field="select">
                <select class="form__select" data-select-open="false" name="region" id="region" aria-labelledby="label-region" aria-describedby="message-region" aria-required="true"
                    aria-invalid="false">
                    <optgroup label="north america" class="form__optgroup">
                        <option class="form__option" value="Toronto">Toronto</option>
                        <option class="form__option" value="Montreal">Montreal</option>
                        <option class="form__option" value="Chicago">Chicago</option>
                    </optgroup>
                    <optgroup label="europe" class="form__optgroup">
                        <option class="form__option" value="United Kingdom">United Kingdom</option>
                        <option class="form__option" value="Germany">Germany</option>
                        <option class="form__option" value="France">France</option>
                        <option class="form__option" value="Netherlands">Netherlands</option>
                    </optgroup>
                </select>
                <label for="region" class="form__select-label" data-form-label="select">Contact Region</label>
                <span class="form__underline form__underline--select"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__select-icon form__select-icon--arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__select-icon form__select-icon--minus">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
                </svg>
            </div>
            <div class="form__messages">
                <p class="form__message" id="message-region" aria-hidden="true" role="alert">Error message</p>
            </div>
        </div>

        <div class="form__row form__row--upload" data-form-field="file-upload">
            <div class="form__field">
                <input class="form__input form__input--file" type="file" name="upload" id="upload" aria-labelledby="label-upload" aria-describedby="upload-required"
                    aria-required="true" aria-invalid="false" required>
                <label id="label-upload" for="upload" class="form__label">
                    <span class="form__label-default-text" aria-hidden="false">Please click here to upload a .pdf or .doc</span>
                    <span  class="form__label-valid-text" aria-hidden="true"><span data-dynamic-value="filename"></span> selected. Please click here to select a different .pdf or .doc</span>
                </label>
                <span class="form__underline"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--valid">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#tick"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--invalid">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#alert"></use>
                </svg>
            </div>
            <div class="form__messages">
                <p class="form__message" id="message-upload-required" aria-hidden="true" role="alert" data-negative-validate-message="required">Please make sure you upload a file.</p>
            </div>
        </div>

        <div class="form__row">
            <div class="form__field">
                <textarea class="form__input form__input--textarea" type="textarea" name="question" id="question" aria-labelledby="label-question" aria-describedby="message-question-required message-question-format"
                    aria-required="true" aria-invalid="false" required></textarea>
                <span class="form__underline"></span>
                <label id="label-question" for="question" class="form__label">Your Question</label>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--valid">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#tick"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--invalid">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#alert"></use>
                </svg>
            </div>
            <div class="form__messages">
                <p class="form__message" id="message-negative-question-required" aria-hidden="true" role="alert" data-negative-validate-message="required">For us to contact you, please make sure to provide us with your email address.</p>
                <p class="form__message" id="message-positive-question-format" aria-hidden="true" role="alert" data-positive-validate-message="question">You will receive a confirmation email to this address once we receive your details.</p>
                <p class="form__message" id="message-negative-question-format" aria-hidden="true" role="alert" data-negative-validate-message="question">Your email address doesn't appear to be correct.</p>
            </div>
        </div>



        <a class="maincta" href="#" data-form-submit="contact">Submit</a>
    </form>
</section>