<section class="component" data-component="gallery">
    <!-- Add the modifier of gallery--reverse to flip the layout -->
    <div class="gallery gallery--reverse">
        <div class="gallery__image-container">
            <div class="carousel " data-carousel="gallery-images">
                <ul class="carousel__content carousel__content--gallery">
                    <li class="gallery__item">
                        <figure class="gallery__figure" aria-labelledby="figcaption-1">
                            <img class="gallery__image" alt="bFinance image." src="/assets/images/raster/demo/gallery.jpg" draggable="false">
                        </figure>
                    </li>
                    <li class="gallery__item">
                        <figure class="gallery__figure" aria-labelledby="figcaption-2">
                            <img class="gallery__image" alt="bFinance image." src="/assets/images/raster/demo/gallery.jpg" draggable="false">
                        </figure>
                    </li>
					<li class="gallery__item">
                        <figure class="gallery__figure" aria-labelledby="figcaption-3">
                            <img class="gallery__image" alt="bFinance image." src="/assets/images/raster/demo/gallery.jpg" draggable="false">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gallery__text-container">
            <div class="carousel" data-carousel="gallery-text">
                <ul class="carousel__content carousel__content--gallery">
                    <li class="gallery__item">
                        <figcaption class="gallery__text" id="figcaption-1">
                            <p class="gallery__text-title">Image title</p>
                            <div class="gallery__text-description rich">
                                <p>Nullam eros mi, <a href="#">mollis in sollicitudin</a> non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <p>Nullam eros mi, <a href="#">mollis in sollicitudin</a> non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </figcaption>
                    </li>
                    <li class="gallery__item">
                        <figcaption class="gallery__text" id="figcaption-2">
                            <p class="gallery__text-title">Image title</p>
                            <div class="gallery__text-description rich">
                                <p>Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </figcaption>
                    </li>
					<li class="gallery__item">
                        <figcaption class="gallery__text" id="figcaption-3">
                            <p class="gallery__text-title">Image title</p>
                            <div class="gallery__text-description rich">
                                <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </figcaption>
                    </li>
                </ul>

            </div>
        </div>
        <menu class="gallery__menu">
            <button class="gallery__button gallery__button--prev" aria-label="Previous item">
                <i class="gallery__symbol fas fa-arrow-circle-left fa-2x"></i>
            </button>
            <div aria-hidden="true" data-carousel-count="container" class="gallery__count">
                <span data-carousel-count="position">1</span>
                <span>of</span>
                <span data-carousel-count="total">10</span>
            </div>
            <button class="gallery__button gallery__button--next" aria-label="Next item">
              <i class="gallery__symbol fas fa-arrow-circle-right fa-2x"></i>
            </button>
        </menu>
    </div>
</section>
