<div class="form__row" data-form-field="gdpr">
    <fieldset class="form__fieldset">
        <legend class="form__legend">This is a short question or text</legend>
        <div class="form__field custom-checkbox">
            <input class="custom-checkbox__input" data-input="gdpr-checkbox" type="checkbox" id="gdpr-checkbox" value="gdpr-checkbox" name="gdpr-checkbox" role="checkbox" aria-labelledby="label-gdpr-checkbox" aria-describedby="message-checkbox-required">
            <label id="label-gdpr-checkbox" class="custom-checkbox__label" for="gdpr-checkbox">This is a checkbox</label>
        </div>
        <div aria-hidden="true">
            <div class="form__field custom-radio">
                <input type="radio" data-input="gdpr-radio" class="custom-radio__input" id="gdpr-1" name="radio-group" value="true" aria-labelledby="label-gdpr-1" aria-describedby="message-radio-required">
                <label id="label-gdpr-1" class="custom-radio__label" for="gdpr-1">True</label>
            </div>
            <div class="form__field custom-radio">
                <input type="radio" data-input="gdpr-radio" class="custom-radio__input" id="gdpr-2" name="radio-group" value="false" aria-labelledby="label-gdpr-2" aria-describedby="message-radio-required" checked="checked">
                <label id="label-gdpr-2" class="custom-radio__label" for="gdpr-2" >False</label>
            </div>
        </div>
        <div class="form__messages">
            <p class="form__message" id="message-radio-required" aria-hidden="true" role="alert" data-negative-validate-message="required">Please make sure you select one of the above</p>
        </div>
    </fieldset>
</div>