<header class="header">
    <div class="header__content">
        <!-- {{> region--mobile }} -->
        <a class="header__home" href="/index.html" title="bfinance homepage" aria-label="bfinance homepage">
            {{!-- <img class="header__logo" alt="bfinance" src="/assets/images/svg/bfinance.svg"> --}}
            <img class="header__logo" alt="alt-logo" src="/assets/images/raster/eqtr-logo-large.png" />
        </a>
        {{> navigation }}
        {{> control-panel }}
    </div>
</header>

{{> mobile-navigation--export }}