<section class="component component--no-padding component--full-width" data-component="hero">
	<div class="hero" data-lazyload-background="https://picsum.photos/1200/600/">
		<div class="hero__content">
			<div class="hero__text">
				<h1 class="hero__tagline">Putting power in investors' hands</h1>
				<a class="maincta" title="Learn more." href="/styleguide.html">Learn more</a>
			</div>
		</div>

		{{!-- Commenting out until client decides on overlays to be used --}}
		{{!-- <div class="hero__overlay hero__overlay--top-left">
			<svg xmlns="http://www.w3.org/2000/svg" class="hero__svg">
            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#hero-overlay-top-left"></use>
			</svg>
		</div>
		<div class="hero__overlay hero__overlay--top-right">
			<svg xmlns="http://www.w3.org/2000/svg" class="hero__svg">
            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#hero-overlay-top-right"></use>
			</svg>
		</div>
		<div class="hero__overlay hero__overlay--bottom-right">
			<svg xmlns="http://www.w3.org/2000/svg" class="hero__svg">
            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#hero-overlay-bottom-right"></use>
			</svg>
		</div> --}}

		<div class="hero__overlay hero__overlay--bottom-left-mask">
			<svg xmlns="http://www.w3.org/2000/svg" class="hero__svg">
            	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#hero-overlay-bottom-left-mask"></use>
			</svg>
		</div>
		<div class="scroll-teaser" aria-label="Jump to content">
			<div class="scroll-teaser__content">
        <i class="fas fa-angle-double-right scroll-teaser__symbol"></i>
			</div>
		</div>
	</div>
</section>