<section class="component" data-component="image-with-copy">
    <div class="image-with-copy">
        <figure class="image-with-copy__figure" data-lazyload-image="/assets/images/raster/demo/image-with-copy.jpg" data-lazyload-options='{ "className": "image-with-copy__image", "alt": "lazy image-with-copy image" }'>
            <figcaption class="image-with-copy__description">
                <span class="image-with-copy__title">Image title</span>
                <span class="image-with-copy__text">Justin Preston (Managing Director), Joey Alcock, Julien Barral and Rob Doyle.</span>
            </figcaption>
        </figure>
        <div class="rich image-with-copy__copy">
            <h3>Header</h3>
            <p>Do ESG-oriented emerging market equity managers produce better returns? There has been quite a lot of publicity this year around the performance of the ESG-focused MSCI emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            <p>Joey Alcock: “Do ESG-oriented emerging market equity managers produce better returns? There has been quite a lot of publicity this year around the performance of the ESG-focused MSCI emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.”</p>
        </div>
    </div>
</section>
