<section class="component large-testimonial-container" data-component="large-testimonial">
    <div class="large-testimonial">
        <h1 class="large-testimonial__header">Testimonal Header</h1>
        <div class="testimonial">
            <div class="testimonial__message">
                <svg xmlns="http://www.w3.org/2000/svg" class="testimonial__quote testimonial__quote--left">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#quotes"></use>
                </svg>
                <blockquote class="testimonial__text">
                    Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </blockquote>
                <svg xmlns="http://www.w3.org/2000/svg" class="testimonial__quote testimonial__quote--right">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#quotes"></use>
                </svg>
            </div>
            <p class="testimonial__person">MAX POWER</p>
        </div>
    </div>
</section>