<section class="component" data-component="latest">
    <div >
        <nav class="latest">
            <a class=" latest__item latest__item--large" href="#" draggable="false">
                <div class="latest__item-inner">
                    <div class="latest__background" data-lazyload-background="https://picsum.photos/200/300/?random"></div>
                    <div class="latest__content">
                        <p class="latest__category">Category Title (large)</p>
                        <div class="latest__copy">
                            <p class="latest__title">Title</p>
                            <p class="latest__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <div class="link-with-arrow latest__cta">
                            <span class="link-with-arrow__text">Read article</span>
                            <div class="link-with-arrow__symbol">
                                <i class="fas fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="latest__item " href="#" draggable="false">
                <div class="latest__item-inner">
                    <div class="latest__background" data-lazyload-background="https://picsum.photos/200/300/?random"></div>
                    <div class="latest__content">
                        <p class="latest__category">Category Title</p>
                        <div class="latest__copy">
                            <p class="latest__title">Title</p>
                            <p class="latest__text">Short descriptive text</p>
                        </div>
                        <div class="link-with-arrow latest__cta">
                            <span class="link-with-arrow__text">Read publications</span>
                            <div class="link-with-arrow__symbol">
                                <i class="fas fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="latest__item " href="#" draggable="false">
                <div class="latest__item-inner">
                    <div class="latest__background" data-lazyload-background="https://picsum.photos/200/300/?random"></div>
                    <div class="latest__content">
                        <p class="latest__category">Category Title</p>
                        <div class="latest__copy">
                            <p class="latest__title">Title</p>
                            <p class="latest__text">Short descriptive text</p>
                        </div>
                        <div class="link-with-arrow latest__cta">
                            <span class="link-with-arrow__text">Read publications</span>
                            <div class="link-with-arrow__symbol">
                                <i class="fas fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </nav>
        <a class="carousel__button carousel__button--prev" href="#">&nbsp;</a>
        <a class="carousel__button carousel__button--next" href="#">&nbsp;</a>
    </div>
</section>