<div class="mobile-navigation-tray overlay overlay--tray" id="nav-burger-menu" aria-hidden="true" aria-labelledby="trigger-nav-burger-menu" role="dialog">
    <div class="mobile-navigation-tray__content overlay__content">

        <nav class="mobile-navigation carousel">
            <ul data-carousel="mobile-navigation" class="mobile-navigation__content carousel__content">
                <li class="mobile-navigation__item carousel__item">
                    <nav data-mobilenav-title="Home" data-mobilenav="mobilenav" class="mobile-navigation__links" aria-hidden="false">
                        <a data-mobilenav-trigger="mobilenav-who-we-are" id="mobilenav-trigger-who-we-are" aria-controls="mobilenav-who-we-are" title="What bfinance do." class="mobile-navigation__link" href="#">
                            <span class="mobile-navigation__text">Who we are</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                            </svg>
                        </a>
                        <a data-mobilenav-trigger="mobilenav-who-we-help" id="mobilenav-trigger-who-we-help" aria-controls="mobilenav-who-we-help" title="What bfinance do." class="mobile-navigation__link" href="#">
                            <span class="mobile-navigation__text">Who we help</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                            </svg>
                        </a>
                    </nav>
                </li>
                <li class="mobile-navigation__item carousel__item">
                    <a data-mobilenav-back="0" id="mobilenav-back-0" aria-controls="mobilenav" aria-expanded="false" title="What bfinance do." class="mobile-navigation__link mobile-navigation__link--back" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol mobile-navigation__symbol--back">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                        <span class="mobile-navigation__text">Back to</span>
                        <span data-mobilenav-back-text="0" class="mobile-navigation__text"></span>
                    </a>
                    <nav data-mobilenav-title="Who We Are" data-mobilenav="mobilenav-who-we-are" class="mobile-navigation__links" aria-hidden="true">
                        <a id="mobilenav-find-out-what-we-do" aria-controls="nav-dropdown-what-we-do" aria-expanded="false" title="What bfinance do." class="mobile-navigation__link" href="#">
                            <span class="mobile-navigation__text">Find out who we are</span>
                        </a>
                        <a data-mobilenav-trigger="mobilenav-test" id="mobilenav-trigger-test" aria-controls="mobilenav-test" title="What bfinance do." class="mobile-navigation__link" href="#">
                            <span class="mobile-navigation__text">test</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                            </svg>
                        </a>
                    </nav>
                    <nav data-mobilenav-title="Who We Help" data-mobilenav="mobilenav-who-we-help" class="mobile-navigation__links" aria-hidden="true">
                        <a id="mobilenav-find-out-who-we-help" aria-expanded="false" title="What bfinance do." class="mobile-navigation__link" href="#">
                            <span class="mobile-navigation__text">Find out who we help</span>
                        </a>
                    </nav>
                </li>
                <li class="mobile-navigation__item carousel__item">
                    <a data-mobilenav-back="1" id="mobilenav-back-1" aria-controls="mobilenav" aria-expanded="false" title="What bfinance do." class="mobile-navigation__link mobile-navigation__link--back" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol mobile-navigation__symbol--back">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                        <span class="mobile-navigation__text">Back to</span>
                        <span data-mobilenav-back-text="1" class="mobile-navigation__text"></span>
                    </a>
                    <nav data-mobilenav-title="Testing" data-mobilenav="mobilenav-test" class="mobile-navigation__links" aria-hidden="true">
                        <a id="mobilenav-find-out-about-testing" aria-expanded="false" title="What bfinance do." class="mobile-navigation__link" href="#">
                            <span class="mobile-navigation__text">Find out about testing</span>
                        </a>
                    </nav>
                </li>
            </ul>
        </nav>

        <nav class="mobile-navigation-links">
            <a title="What bfinance do." class="mobile-navigation-links__link" href="#">
                <span class="mobile-navigation__text">Careers</span>
            </a>
            <a title="What bfinance do." class="mobile-navigation-links__link" href="#">
                <span class="mobile-navigation__text">Tender login</span>
            </a>
        </nav>

    </div>
    <div class="overlay__shadow" data-overlay-shadow="mobilenav-overlay">&nbsp;</div>
    <button id="close-mobilenav-overlay" aria-label="Close team overlay" class="overlay__close" data-overlay-close="mobilenav-overlay">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/assets/images/symbols.svg#close"></use>
        </svg>
    </button>
</div>