<div class="mobile-navigation-tray overlay overlay--tray" id="nav-burger-menu" aria-hidden="true" aria-labelledby="trigger-nav-burger-menu" role="dialog">
    <div class="mobile-navigation-tray__content overlay__content">

<nav class="mobile-navigation carousel">
    <ul data-carousel="mobile-navigation" class="mobile-navigation__content carousel__content" style="width: 300%;">

        <li class="mobile-navigation__item carousel__item" style="width: 33.3333%;">
            <nav class="mobile-navigation__links" data-mobilenav-title="home" data-mobilenav="mobilenav" aria-hidden="false">
                <a data-mobilenav-trigger="mobilenav-3121" id="mobilenav-trigger-3121" aria-controls="mobilenav-3121" title="What we do"
                    class="mobile-navigation__link" href="#">
                    <span class="mobile-navigation__text">What we do</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                </a>
                <a data-mobilenav-trigger="mobilenav-3381" id="mobilenav-trigger-3381" aria-controls="mobilenav-3381" title="Who we help"
                    class="mobile-navigation__link" href="#">
                    <span class="mobile-navigation__text">Who we help</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                </a>
                <a data-mobilenav-trigger="mobilenav-3377" id="mobilenav-trigger-3377" aria-controls="mobilenav-3377" title="Who we are"
                    class="mobile-navigation__link" href="#">
                    <span class="mobile-navigation__text">Who we are</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                </a>
                <a id="mobilenav-2797" aria-expanded="false" title="Insights" class="mobile-navigation__link" href="/insights/">
                    <span class="mobile-navigation__text">Insights</span>
                </a>
                <a id="mobilenav-3165" aria-expanded="false" title="Contact" class="mobile-navigation__link" href="/contact/">
                    <span class="mobile-navigation__text">Contact</span>
                </a>
            </nav>
        </li>

        <li class="mobile-navigation__item carousel__item" style="opacity: 0; width: 33.3333%;">
            <a data-mobilenav-back="0" id="mobilenav-back-0" aria-controls="mobilenav" aria-expanded="false" title="back" class="mobile-navigation__link mobile-navigation__link--back"
                href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol mobile-navigation__symbol--back">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                </svg>
                <span class="mobile-navigation__text">Back to</span>
                <span data-mobilenav-back-text="0" class="mobile-navigation__text"></span>
            </a>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="What we do" data-mobilenav="mobilenav-3121">
                <a title="What we do" class="mobile-navigation__link" href="/what-we-do/">
                    <span class="mobile-navigation__text">What we do</span>
                </a>
                <a data-mobilenav-trigger="mobilenav-3571" id="mobilenav-trigger-3571" aria-controls="mobilenav-3571" title="Manager Research and Selection"
                    class="mobile-navigation__link" href="#">
                    <span class="mobile-navigation__text">Manager Research and Selection</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                </a>
                <a data-mobilenav-trigger="mobilenav-4316" id="mobilenav-trigger-4316" aria-controls="mobilenav-4316" title="Portfolio Solutions"
                    class="mobile-navigation__link" href="#">
                    <span class="mobile-navigation__text">Portfolio Solutions</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                </a>
                <a id="mobilenav-3798" aria-expanded="false" title="Case Studies" class="mobile-navigation__link" href="/what-we-do/bfinance-case-studies/">
                    <span class="mobile-navigation__text">Case Studies</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Who we help" data-mobilenav="mobilenav-3381">

                <a title="Who we help" class="mobile-navigation__link" href="/who-we-help/">
                    <span class="mobile-navigation__text">Who we help</span>
                </a>
                <a id="mobilenav-4740" aria-expanded="false" title="Clients" class="mobile-navigation__link" href="/who-we-help/clients/">
                    <span class="mobile-navigation__text">Clients</span>
                </a>
                <a id="mobilenav-4727" aria-expanded="false" title="Fund Managers" class="mobile-navigation__link" href="/who-we-help/fund-managers/">
                    <span class="mobile-navigation__text">Fund Managers</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Who we are" data-mobilenav="mobilenav-3377">

                <a title="Who we are" class="mobile-navigation__link" href="/who-we-are/">
                    <span class="mobile-navigation__text">Who we are</span>
                </a>
                <a id="mobilenav-4551" aria-expanded="false" title="Why work with us?" class="mobile-navigation__link" href="/who-we-are/why-work-with-us/">
                    <span class="mobile-navigation__text">Why work with us?</span>
                </a>
                <a data-mobilenav-trigger="mobilenav-3434" id="mobilenav-trigger-3434" aria-controls="mobilenav-3434" title="The Team" class="mobile-navigation__link"
                    href="#">
                    <span class="mobile-navigation__text">The Team</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                </a>
                <a id="mobilenav-3648" aria-expanded="false" title="Careers" class="mobile-navigation__link" href="/who-we-are/careers/">
                    <span class="mobile-navigation__text">Careers</span>
                </a>
                <a id="mobilenav-7937" aria-expanded="false" title="Our Awards" class="mobile-navigation__link" href="/who-we-are/our-awards/">
                    <span class="mobile-navigation__text">Our Awards</span>
                </a>
                <a id="mobilenav-4745" aria-expanded="false" title="Latest News" class="mobile-navigation__link" href="/who-we-are/latest-news/">
                    <span class="mobile-navigation__text">Latest News</span>
                </a>
                <a id="mobilenav-4666" aria-expanded="false" title="Locations" class="mobile-navigation__link" href="/who-we-are/locations/">
                    <span class="mobile-navigation__text">Locations</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Insights" data-mobilenav="mobilenav-2797">

                <a title="Insights" class="mobile-navigation__link" href="/insights/">
                    <span class="mobile-navigation__text">Insights</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Contact" data-mobilenav="mobilenav-3165">

                <a title="Contact" class="mobile-navigation__link" href="/contact/">
                    <span class="mobile-navigation__text">Contact</span>
                </a>
            </nav>
        </li>

        <li class="mobile-navigation__item carousel__item" style="opacity: 0; width: 33.3333%;">
            <a data-mobilenav-back="1" id="mobilenav-back-1" title="back" class="mobile-navigation__link mobile-navigation__link--back"
                href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="mobile-navigation__symbol mobile-navigation__symbol--back">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                </svg>
                <span class="mobile-navigation__text">Back to</span>
                <span data-mobilenav-back-text="0" class="mobile-navigation__text"></span>
            </a>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Manager Research and Selection" data-mobilenav="mobilenav-3571">

                <a title="Manager Research and Selection" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/">
                    <span class="mobile-navigation__text">Manager Research and Selection</span>
                </a>
                <a id="mobilenav-4176" aria-expanded="false" title="Equity" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/equity/">
                    <span class="mobile-navigation__text">Equity</span>
                </a>
                <a id="mobilenav-4189" aria-expanded="false" title="Fixed Income" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/fixed-income/">
                    <span class="mobile-navigation__text">Fixed Income</span>
                </a>
                <a id="mobilenav-4163" aria-expanded="false" title="Private Markets" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/private-markets/">
                    <span class="mobile-navigation__text">Private Markets</span>
                </a>
                <a id="mobilenav-4202" aria-expanded="false" title="Diversifying Strategies" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/diversifying-strategies/">
                    <span class="mobile-navigation__text">Diversifying Strategies</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Manager Research and Selection" data-mobilenav="mobilenav-3571">

                <a title="Manager Research and Selection" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/">
                    <span class="mobile-navigation__text">Manager Research and Selection</span>
                </a>
                <a id="mobilenav-4176" aria-expanded="false" title="Equity" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/equity/">
                    <span class="mobile-navigation__text">Equity</span>
                </a>
                <a id="mobilenav-4189" aria-expanded="false" title="Fixed Income" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/fixed-income/">
                    <span class="mobile-navigation__text">Fixed Income</span>
                </a>
                <a id="mobilenav-4163" aria-expanded="false" title="Private Markets" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/private-markets/">
                    <span class="mobile-navigation__text">Private Markets</span>
                </a>
                <a id="mobilenav-4202" aria-expanded="false" title="Diversifying Strategies" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/diversifying-strategies/">
                    <span class="mobile-navigation__text">Diversifying Strategies</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Manager Research and Selection" data-mobilenav="mobilenav-3571">

                <a title="Manager Research and Selection" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/">
                    <span class="mobile-navigation__text">Manager Research and Selection</span>
                </a>
                <a id="mobilenav-4176" aria-expanded="false" title="Equity" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/equity/">
                    <span class="mobile-navigation__text">Equity</span>
                </a>
                <a id="mobilenav-4189" aria-expanded="false" title="Fixed Income" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/fixed-income/">
                    <span class="mobile-navigation__text">Fixed Income</span>
                </a>
                <a id="mobilenav-4163" aria-expanded="false" title="Private Markets" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/private-markets/">
                    <span class="mobile-navigation__text">Private Markets</span>
                </a>
                <a id="mobilenav-4202" aria-expanded="false" title="Diversifying Strategies" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/diversifying-strategies/">
                    <span class="mobile-navigation__text">Diversifying Strategies</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Manager Research and Selection" data-mobilenav="mobilenav-3571">

                <a title="Manager Research and Selection" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/">
                    <span class="mobile-navigation__text">Manager Research and Selection</span>
                </a>
                <a id="mobilenav-4176" aria-expanded="false" title="Equity" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/equity/">
                    <span class="mobile-navigation__text">Equity</span>
                </a>
                <a id="mobilenav-4189" aria-expanded="false" title="Fixed Income" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/fixed-income/">
                    <span class="mobile-navigation__text">Fixed Income</span>
                </a>
                <a id="mobilenav-4163" aria-expanded="false" title="Private Markets" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/private-markets/">
                    <span class="mobile-navigation__text">Private Markets</span>
                </a>
                <a id="mobilenav-4202" aria-expanded="false" title="Diversifying Strategies" class="mobile-navigation__link" href="/what-we-do/manager-research-and-selection/diversifying-strategies/">
                    <span class="mobile-navigation__text">Diversifying Strategies</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Portfolio Solutions" data-mobilenav="mobilenav-4316">

                <a title="Portfolio Solutions" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/">
                    <span class="mobile-navigation__text">Portfolio Solutions</span>
                </a>
                <a id="mobilenav-7838" aria-expanded="false" title="Enhanced Monitoring" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/enhanced-monitoring/">
                    <span class="mobile-navigation__text">Enhanced Monitoring</span>
                </a>
                <a id="mobilenav-7844" aria-expanded="false" title="Fee Benchmarking &amp; Negotiation" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/fee-benchmarking-negotiation/">
                    <span class="mobile-navigation__text">Fee Benchmarking &amp; Negotiation</span>
                </a>
                <a id="mobilenav-7850" aria-expanded="false" title="Risk Analytics" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/risk-analytics/">
                    <span class="mobile-navigation__text">Risk Analytics</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Portfolio Solutions" data-mobilenav="mobilenav-4316">

                <a title="Portfolio Solutions" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/">
                    <span class="mobile-navigation__text">Portfolio Solutions</span>
                </a>
                <a id="mobilenav-7838" aria-expanded="false" title="Enhanced Monitoring" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/enhanced-monitoring/">
                    <span class="mobile-navigation__text">Enhanced Monitoring</span>
                </a>
                <a id="mobilenav-7844" aria-expanded="false" title="Fee Benchmarking &amp; Negotiation" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/fee-benchmarking-negotiation/">
                    <span class="mobile-navigation__text">Fee Benchmarking &amp; Negotiation</span>
                </a>
                <a id="mobilenav-7850" aria-expanded="false" title="Risk Analytics" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/risk-analytics/">
                    <span class="mobile-navigation__text">Risk Analytics</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="Portfolio Solutions" data-mobilenav="mobilenav-4316">

                <a title="Portfolio Solutions" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/">
                    <span class="mobile-navigation__text">Portfolio Solutions</span>
                </a>
                <a id="mobilenav-7838" aria-expanded="false" title="Enhanced Monitoring" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/enhanced-monitoring/">
                    <span class="mobile-navigation__text">Enhanced Monitoring</span>
                </a>
                <a id="mobilenav-7844" aria-expanded="false" title="Fee Benchmarking &amp; Negotiation" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/fee-benchmarking-negotiation/">
                    <span class="mobile-navigation__text">Fee Benchmarking &amp; Negotiation</span>
                </a>
                <a id="mobilenav-7850" aria-expanded="false" title="Risk Analytics" class="mobile-navigation__link" href="/what-we-do/portfolio-solutions/risk-analytics/">
                    <span class="mobile-navigation__text">Risk Analytics</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="The Team" data-mobilenav="mobilenav-3434">

                <a title="The Team" class="mobile-navigation__link" href="/who-we-are/the-team/">
                    <span class="mobile-navigation__text">The Team</span>
                </a>
                <a id="mobilenav-4150" aria-expanded="false" title="Investment Specialists" class="mobile-navigation__link" href="/who-we-are/the-team/investment-specialists/">
                    <span class="mobile-navigation__text">Investment Specialists</span>
                </a>
                <a id="mobilenav-4145" aria-expanded="false" title="Client Consultants" class="mobile-navigation__link" href="/who-we-are/the-team/client-consultants/">
                    <span class="mobile-navigation__text">Client Consultants</span>
                </a>
                <a id="mobilenav-4138" aria-expanded="false" title="Corporate" class="mobile-navigation__link" href="/who-we-are/the-team/corporate/">
                    <span class="mobile-navigation__text">Corporate</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="The Team" data-mobilenav="mobilenav-3434">

                <a title="The Team" class="mobile-navigation__link" href="/who-we-are/the-team/">
                    <span class="mobile-navigation__text">The Team</span>
                </a>
                <a id="mobilenav-4150" aria-expanded="false" title="Investment Specialists" class="mobile-navigation__link" href="/who-we-are/the-team/investment-specialists/">
                    <span class="mobile-navigation__text">Investment Specialists</span>
                </a>
                <a id="mobilenav-4145" aria-expanded="false" title="Client Consultants" class="mobile-navigation__link" href="/who-we-are/the-team/client-consultants/">
                    <span class="mobile-navigation__text">Client Consultants</span>
                </a>
                <a id="mobilenav-4138" aria-expanded="false" title="Corporate" class="mobile-navigation__link" href="/who-we-are/the-team/corporate/">
                    <span class="mobile-navigation__text">Corporate</span>
                </a>
            </nav>
            <nav class="mobile-navigation__links" aria-hidden="true" data-mobilenav-title="The Team" data-mobilenav="mobilenav-3434">

                <a title="The Team" class="mobile-navigation__link" href="/who-we-are/the-team/">
                    <span class="mobile-navigation__text">The Team</span>
                </a>
                <a id="mobilenav-4150" aria-expanded="false" title="Investment Specialists" class="mobile-navigation__link" href="/who-we-are/the-team/investment-specialists/">
                    <span class="mobile-navigation__text">Investment Specialists</span>
                </a>
                <a id="mobilenav-4145" aria-expanded="false" title="Client Consultants" class="mobile-navigation__link" href="/who-we-are/the-team/client-consultants/">
                    <span class="mobile-navigation__text">Client Consultants</span>
                </a>
                <a id="mobilenav-4138" aria-expanded="false" title="Corporate" class="mobile-navigation__link" href="/who-we-are/the-team/corporate/">
                    <span class="mobile-navigation__text">Corporate</span>
                </a>
            </nav>
        </li>
    </ul>
</nav>

</div></div>
