<div class="modal modal-open">
    <div class="modal__inner">            
        <div class="modal__content">
            {{> team-member-full-details }}
        </div>
        <a class="modal__close"></a>
    </div>
    <div class="modal__bg">
        <div class="modal__bg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="modal__bg-symbol">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#triangles"></use>
            </svg>
        </div>
    </div>
</div>