<nav class="navigation">
    <div data-navigation="nav-what-we-do" class="navigation__item">
        <a data-navigation-parent="nav-what-we-do" data-navigation-item="nav-what-we-do" data-navigation-trigger="nav-what-we-do" id="nav-what-we-do" aria-controls="nav-dropdown-what-we-do" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="navigation__link" href="#">
            <span class="navigation__text">Sitemap</span>
            <i class="fas fa-angle-down navigation__symbol navigation__symbol--arrow"></i>
            <i class="fas fa-angle-up navigation__symbol navigation__symbol--minus"></i>
        </a>
        <ul data-navigation-list="nav-what-we-do" id="nav-dropdown-what-we-do" aria-labelledby="nav-what-we-do" aria-hidden="true" class="dropdown">
            <li class="dropdown__item">
                <a data-navigation-item="nav-what-we-do" class="dropdown__link" href="#" title="What bfinance do.">
                    <div class="dropdown__content">
                        <i class="fas fa-angle-down dropdown__arrow dropdown__arrow--left"></i>
                        <span class="dropdown__text">Link 1</span>
                        <i class="fas fa-angle-up dropdown__arrow dropdown__arrow--right"></i>
                    </div>
                </a>
            </li>
            <li class="dropdown__item">
                <a data-navigation-item="nav-what-we-do" class="dropdown__link" href="#" title="What bfinance do.">
                    <div class="dropdown__content">
                        <i class="fas fa-angle-down dropdown__arrow dropdown__arrow--left"></i>
                        <span class="dropdown__text">Link 2</span>
                        <i class="fas fa-angle-up dropdown__arrow dropdown__arrow--right"></i>
                    </div>
                </a>
            </li>
            <li data-navigation="nav-nested-the-team" class="dropdown__item">
                <a data-navigation-item="nav-what-we-do" data-navigation-trigger="nav-nested-the-team" id="nav-the-team" aria-controls="nav-nested-the-team" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="dropdown__link" href="#">
                    <div class="dropdown__content">

                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--left">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                        <span class="dropdown__text">Link 3</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                    </div>
                </a>
                <ul data-navigation-list="nav-nested-the-team" id="nav-nested-the-team" aria-labelledby="nav-the-team" aria-hidden="true" class="dropdown dropdown--nested">
                    <li data-navigation="nav-nested-panos" class="dropdown__item">
                        <a data-navigation-item="nav-nested-the-team" data-navigation-trigger="nav-nested-panos" id="nav-panos" aria-controls="nav-nested-panos" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="dropdown__link" href="#">
                            <div class="dropdown__content">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--left">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                                </svg>
                                <span class="dropdown__text">Link B1</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--right">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                                </svg>
                            </div>
                        </a>
                        <ul data-navigation-list="nav-nested-panos" id="nav-nested-panos" aria-labelledby="nav-panos" aria-hidden="true" class="dropdown dropdown--nested">
                            <li class="dropdown__item">
                                <a data-navigation-item="nav-nested-panos" class="dropdown__link" href="#" title="What bfinance do.">
                                    <div class="dropdown__content">
                                        <span class="dropdown__text">Link C1</span>
                                    </div>
                                </a>
                            </li>
                            <li data-navigation="nav-nested-ADAM" class="dropdown__item">
                                <a data-navigation-item="nav-nested-panos" data-navigation-trigger="nav-nested-ADAM" id="nav-adam" aria-controls="nav-nested-ADAM" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="dropdown__link" href="#">
                                    <div class="dropdown__content">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--left">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                                        </svg>
                                        <span class="dropdown__text">Link C2</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--right">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                                <ul data-navigation-list="nav-nested-ADAM" id="nav-nested-ADAM" aria-labelledby="nav-adam" aria-hidden="true" class="dropdown dropdown--nested">
                                    <li class="dropdown__item">
                                        <a data-navigation-item="nav-nested-ADAM" class="dropdown__link" href="#" title="What bfinance do.">
                                            <div class="dropdown__content">
                                                <span class="dropdown__text">Link D1</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown__item">
                        <a data-navigation-item="nav-nested-the-team" class="dropdown__link" href="#" title="What bfinance do.">
                            <div class="dropdown__content">
                                <span class="dropdown__text">Link B2</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown__item">
                        <a data-navigation-item="nav-nested-the-team" class="dropdown__link" href="#" title="What bfinance do.">
                            <div class="dropdown__content">
                                <span class="dropdown__text">Link B3</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="navigation__item">
        <a class="navigation__link" aria-expanded="false" href="#" title="Contact bfinance.">
            <span class="navigation__text">Contact</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="navigation__symbol navigation__symbol--arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="navigation__symbol navigation__symbol--minus">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
            </svg>
        </a>
    </div>
</nav>