<section class="component" data-component="newsletter">
    <div class="newsletter">
        <div data-newsletter="fulfill" class="newsletter__overlay" data-newsletter-state="inactive">
            <div class="newsletter__text">Thank you. You will receive a confirmation email soon.</div>
        </div>
        <div data-newsletter="reject" class="newsletter__overlay" data-newsletter-state="inactive">
            <div class="newsletter__text">The server side failed us. Long live the front-end.</div>
        </div>
        <div data-newsletter="form" class="newsletter__content" data-newsletter-state="active">
            <div class="newsletter__text">Receive the latest thought leadership.</div>
            <form class="newsletter__form form" data-form="newsletter" data-form-action="/api/test">
                <div class="form__row" data-validate-for="newsletter-email" data-invalid="">
                    <div class="form__field">
                        <input type="hidden" name="newsletter-node" id="newsletter-node" value="1234" />
                        <input class="form__input" type="text" name="newsletter-email" id="newsletter-email" aria-labelledby="label-newsletter-email" aria-describedby="message-newsletter-email-required message-newsletter-email-format"
                            aria-required="false" aria-invalid="true" data-validate-as="email" required>
                        <span class="form__underline"></span>
                        <label id="label-newsletter-email" for="newsletter-email" class="form__label">Email</label>
                        <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--valid">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#tick"></use>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="form__icon form__icon--invalid">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#alert"></use>
                        </svg>
                    </div>
                    <div class="form__messages">
                        <p class="form__message" id="message-negative-newsletter-email-required" aria-hidden="true" role="alert" data-negative-validate-message="required">For us to add you to our newsletter list, please make sure to provide us with your email address.</p>
                        <p class="form__message" id="message-positive-newsletter-email-format" aria-hidden="true" role="alert" data-positive-validate-message="email">You will receive a confirmation email to this address.</p>
                        <p class="form__message" id="message-negative-newsletter-email-format" aria-hidden="true" role="alert" data-negative-validate-message="email">Your email address doesn't appear to be correct.</p>
                    </div>
                </div>

                <a class="maincta" href="#" data-form-submit="newsletter">Sign Up</a>
            </form>
        </div>
    </div>
</section>

{{!-- {
    "form": ELEMENT,
    "fulfill": ELEMENT,

} --}}