<button id="trigger-example-overlay" aria-controls="example-overlay" data-overlay="example-overlay">Generic overlay example</button>

<div class="overlay" id="example-overlay" aria-hidden="true" aria-labelledby="trigger-example-overlay" role="dialog">
    <div class="overlay__content">
        {{> client-list }}
    </div>
    <div class="overlay__shadow" data-overlay-shadow="example-overlay">&nbsp;</div>
    <button id="close-example-overlay" aria-label="Close team overlay" class="overlay__close" data-overlay-close="example-overlay">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/assets/images/symbols.svg#close"></use>
        </svg>
    </button>
</div>