<section class="component" data-component="questions">
    <div class="questions">
        <div class="questions__item">
            <p class="questions__date">10th Oct '17</p>
            <p class="questions__question">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="questions__answer rich">
                <p>There has been quite a lot of publicity this year around the performance of the <a href="#">ESG-focused MSCI</a> emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
                <p>There has been quite a lot of publicity this year around the performance of the <strong>ESG-focused MSCI</strong> emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </div>
        <div class="questions__item">
            <p class="questions__date">7th Oct '17</p>
            <p class="questions__question">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="questions__answer rich">
                <p>There has been quite a lot of publicity this year around the performance of the ESG-focused MSCI emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </div>
        <div class="questions__item">
            <p class="questions__date">5th Oct '17</p>
            <p class="questions__question">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="questions__answer rich">
                <p>There has been quite a lot of publicity this year around the performance of the ESG-focused MSCI emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </div>
        <div class="questions__item">
            <p class="questions__date">1st Oct '17</p>
            <p class="questions__question">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="questions__answer rich">
                <p>There has been quite a lot of publicity this year around the performance of the ESG-focused MSCI emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </div>
    </div>
</section>