<section class="component" data-component="recent-article">
    <div class="recent-article carousel" data-carousel="recent-article">
        <ul class="recent-article__content carousel__content" role="listbox">
            <li class="carousel__item">
                <div class="recent-article__item">
                    <div class="recent-article__item-inner">
                        <a href="#" class="recent-article__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=1" data-lazyload-options='{ "className": "recent-article__image", "alt": "lazy recent-article image", "draggable": false }' draggable="false"></a>
                        <div class="recent-article__caption">
                            <div class="recent-article__tags">
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Tag">Article Title</a>
                                </div>
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Sub-Tag">Sub Title</a>
                                </div>
                            </div>
                            <a class="recent-article__text" href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="carousel__item">
                <div class="recent-article__item">
                    <div class="recent-article__item-inner">
                        <a href="#" class="recent-article__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=2" data-lazyload-options='{ "className": "recent-article__image", "alt": "lazy recent-article image", "draggable": false }' draggable="false"></a>
                        <div class="recent-article__caption">
                            <div class="recent-article__tags">
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Tag">Article Title</a>
                                </div>
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Sub-Tag">Sub Title</a>
                                </div>
                            </div>
                            <a class="recent-article__text" href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="carousel__item">
                <div class="recent-article__item">
                    <div class="recent-article__item-inner">
                        <a href="#" class="recent-article__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=3" data-lazyload-options='{ "className": "recent-article__image", "alt": "lazy recent-article image", "draggable": false }' draggable="false"></a>
                        <div class="recent-article__caption">
                            <div class="recent-article__tags">
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Tag">Article Title</a>
                                </div>
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Sub-Tag">Sub Title</a>
                                </div>
                            </div>
                            <a class="recent-article__text" href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="carousel__item">
                <div class="recent-article__item">
                    <div class="recent-article__item-inner">
                        <a href="#" class="recent-article__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=4" data-lazyload-options='{ "className": "recent-article__image", "alt": "lazy recent-article image", "draggable": false }' draggable="false"></a>
                        <div class="recent-article__caption">
                            <div class="recent-article__tags">
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Tag">Article Title</a>
                                </div>
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Sub-Tag">Sub Title</a>
                                </div>
                            </div>
                            <a class="recent-article__text" href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="carousel__item">
                <div class="recent-article__item">
                    <div class="recent-article__item-inner">
                        <a href="#" class="recent-article__image-container" data-lazyload-image="https://loremflickr.com/320/240/paris,girl/all?random=5" data-lazyload-options='{ "className": "recent-article__image", "alt": "lazy recent-article image", "draggable": false }' draggable="false"></a>
                        <div class="recent-article__caption">
                            <div class="recent-article__tags">
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Tag">Article Title</a>
                                </div>
                                <div class="recent-article__tag">
                                    <a class="link" href="#" title="Sub-Tag">Sub Title</a>
                                </div>
                            </div>
                            <a class="recent-article__text" href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a class="carousel__button carousel__button--prev" href="#">&nbsp;</a>
        <a class="carousel__button carousel__button--next" href="#">&nbsp;</a>
    </div>
</section>
