<nav class="navigation region--mobile" aria-hidden="false">
    <div data-navigation="nav-region-mobile" class="navigation__item">
        <a data-navigation-parent="nav-region-mobile" data-navigation-item="nav-region-mobile" data-navigation-trigger="nav-region-mobile" id="nav-region-mobile" aria-controls="nav-region-mobile-dropdown" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="navigation__link" href="#">
            <span data-region-indicator="true" class="navigation__text">Region</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="navigation__symbol navigation__symbol--arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="navigation__symbol navigation__symbol--minus">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
            </svg>
        </a>
        <ul data-navigation-list="nav-region-mobile" id="nav-region-mobile-dropdown" aria-labelledby="nav-region-mobile" aria-hidden="true" class="dropdown">
            <li class="dropdown__item">
                <a data-navigation-item="nav-region-mobile" class="dropdown__link" href="#" title="What bfinance do.">
                    <div class="dropdown__content">
                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--left">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                        <span data-region="true" class="dropdown__text">Global</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="dropdown__item">
                <a data-navigation-item="nav-region-mobile" class="dropdown__link" href="#" title="What bfinance do.">
                    <div class="dropdown__content">
                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--left">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                        <span data-region="true" class="dropdown__text">French</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__arrow dropdown__arrow--right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>