<nav class="navigation">
    <div data-navigation="nav-region" class="navigation__item">
        <a data-navigation-parent="nav-region" data-navigation-item="nav-region" data-navigation-trigger="nav-region" id="nav-region" aria-controls="nav-region-dropdown" aria-expanded="false" aria-haspopup="true" title="What bfinance do." class="navigation__link" href="#">
            <span data-region-indicator="true" class="navigation__text">Region</span>
            <i class="navigation__symbol navigation__symbol--arrow fas fa-angle-down"></i>
            <i class="navigation__symbol navigation__symbol--minus fas fa-angle-up"></i>
        </a>
        <ul data-navigation-list="nav-region" id="nav-region-dropdown" aria-labelledby="nav-region" aria-hidden="true" class="dropdown">
            <li class="dropdown__item">
                <a data-navigation-item="nav-region" class="dropdown__link" href="#" title="What bfinance do.">
                    <div class="dropdown__content">
                        <span data-region="true" class="dropdown__text">Global</span>
                    </div>
                </a>
            </li>
            <li class="dropdown__item">
                <a data-navigation-item="nav-region" class="dropdown__link" href="#" title="What bfinance do.">
                    <div class="dropdown__content">
                        <span data-region="true" class="dropdown__text">French</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>