<section class="component" data-component="search-results">
    <div class="search-results">
        <a class="search-results__item" href="#">
            <p class="search-results__title">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="search-results__text rich">
                <p>There has been quite a lot of publicity this year around the performance of the emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
                <p>There has been quite a lot of publicity this year around the performance of the <strong>ESG-focused MSCI</strong> emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </a>
        <a class="search-results__item" href="#">
            <p class="search-results__title">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="search-results__text rich">
                <p>There has been quite a lot of publicity this year around the performance of the emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
                <p>There has been quite a lot of publicity this year around the performance of the <strong>ESG-focused MSCI</strong> emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </a>
        <a class="search-results__item" href="#">
            <p class="search-results__title">Do ESG-oriented emerging market equity managers produce better returns?</p>
            <div class="search-results__text rich">
                <p>There has been quite a lot of publicity this year around the performance of the emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
                <p>There has been quite a lot of publicity this year around the performance of the <strong>ESG-focused MSCI</strong> emerging markets index, which has beaten its non-ESG counterpart. I’d be very wary about that finding, particularly in light of recent commodity price dynamics.</p>
            </div>
        </a>

        <div class="search-results__item search-results__item--no-results">
            <p class="search-results__title">No Results</p>
            <div class="search-results__text rich">
                <p>Sorry, there are no results for "search term". Please try again.</p>
            </div>
        </div>
    </div>
</section>