<section class="component component--narrow" data-component="social-media">
    <div class="social-media">
        <button class="social-media__link" data-link="share" title="Share on Google+" data-social="google" data-url="http://test.com">
          <i class="fab fa-google-plus-square fa-3x"></i>
        </button>
        <button class="social-media__link" data-link="share" title="Share on Twitter" data-social="twitter" data-text="Twitter post message - 140 characters" data-hashtags="hash1,hash2" data-related="@equatoragency">
          <i class="fab fa-twitter-square fa-3x"></i>
        </button>
        <button class="social-media__link" data-link="share" title="Share on Facebook" data-social="facebook" data-url="http://test.com">
          <i class="fab fa-facebook fa-3x"></i>
        </button>
        <button class="social-media__link" data-link="share" title="Share on LinkedIn" data-social="linkedin" data-text="LinkedIn post message" data-source="Page Source">
          <i class="fab fa-linkedin fa-3x"></i>
        </button>
        <button class="social-media__link" data-link="share" title="Share via Email" data-social="email" data-mail="example@example.com" data-subject="Email subject" data-body="Email message body.">
          <i class="fas fa-envelope-square fa-3x"></i>
        </button>
    </div>
</section>