<section class="component" data-component="sub-hero">
    <div class="sub-hero">
        <div class="sub-hero__content">
            <div class="main-feature">
                <h3 class="main-feature__title">Feature Title</h3>
                <div class="main-feature__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
                <a href="#" class="link-with-arrow">
                    <span class="link-with-arrow__text">Why work with us</span>
                    <div class="link-with-arrow__symbol">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
            <div class="secondary-feature">
                <h3 class="secondary-feature__title">Feature Title</h3>
                <figure class="secondary-feature__figure">
                    <div class="secondary-feature__image-container" data-lazyload-image="https://picsum.photos/400/300/?random" data-lazyload-options='{ "className": "secondary-feature__image", "alt": "secondary-feature__image" }'></div>
                    <figcaption class="secondary-feature__details">
                        <p class="secondary-feature__heading">Feature Subtitle</p>
                        <p class="secondary-feature__text">Lorem ipsum dolor sit amet...</p>
                        <a href="#" class="link-with-arrow">
                            <span class="link-with-arrow__text">Read publication</span>
                            <div class="link-with-arrow__symbol">
                                <i class="fas fa-arrow-circle-right"></i>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>