<section class="component" data-component="tag-filter">
    <div class="tag-filter">
        <div class="tag-filter__title">Refine Articles</div>
        <form class="form tag-filter__form" data-form="article-filter" method="GET">
            <div class="form__row form__row--short">
                <div class="form__field" data-form-field="select">
                    <select class="form__select" data-filter="tag" data-select-open="false" name="tag" id="tag" aria-labelledby="label-tag" aria-describedby="message-tag" aria-required="true"
                        aria-invalid="false"></select>
                    <label for="tag" class="form__select-label" data-form-label="select">Please select</label>
                    <span class="form__underline form__underline--select"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="form__select-icon form__select-icon--arrow">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="form__select-icon form__select-icon--minus">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
                    </svg>
                </div>
                <div class="form__field form__field--inactive" data-form-field="select">
                    <select class="form__select" data-filter="subtag" data-select-open="false" disabled data-select-active="false" name="subtag" id="subtag" aria-labelledby="label-subtag" aria-describedby="message-subtag" aria-required="true"
                        aria-invalid="false"></select>
                    <label for="subtag" class="form__select-label" data-form-label="select">Please select</label>
                    <span class="form__underline form__underline--select"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="form__select-icon form__select-icon--arrow">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="form__select-icon form__select-icon--minus">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#minus"></use>
                    </svg>
                </div>
            </div>
        </form>
        <a href="#" class="link-with-arrow" data-form-submit="article-filter">
            <span class="link-with-arrow__text">Find Articles</span>
            <div class="link-with-arrow__symbol">
                <svg xmlns="http://www.w3.org/2000/svg" class="link-with-arrow__svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow-large"></use>
                </svg>
            </div>
        </a>
    </div>
</section>