<aside class="tags">
    <div class="tags__section">
        <p class="tags__title">Tags</p>
        <div class="tags__content">
            <div class="tags__link">
                <a class="link" href="#" title="Category 1">Category 1</a>
                <span class="tags__divider">/</span>
            </div>
            <div class="tags__link">
                <a class="link" href="#" title="Category 2">Category 2</a>
                <span class="tags__divider">/</span>
            </div>
            <div class="tags__link">
                <a class="link" href="#" title="Category 3">Category 3</a>
                <span class="tags__divider">/</span>
            </div>
            <div class="tags__link">
                <a class="link" href="#" title="Category 4">Category 4</a>
            </div>
        </div>
    </div>
    <div class="tags__section">
        <p class="tags__title">Additional Tags</p>
        <div class="tags__content">
            <div class="tags__link">
                <a class="link" href="#" title="Category A">Category A</a>
            </div>
        </div>
    </div>
</aside>