<section class="component" data-component="team">
    <div class="team">
        <div class="team__member">
            <a href="#" title="View more information about Pal Sarai" class="team__photo" data-lazyload-image="/assets/images/raster/demo/team-member.jpg" data-lazyload-options='{ "className": "team__image", "alt": "lazy team-member image" }'></a>
            <div class="team__information">
                <a class="team__profile" href="#" title="View more information about Pal Sarai">
                    <p class="team__name">Pal Sarai</p>
                    <p class="team__position">Managing Director, Head of Client Consulting EMEA, Australia &amp; Asia</p>
                    <p class="team__description">Pal is Head of Client Consulting for EMEA, Australia &amp; Asia at bfinance. Pal has over 20 years of experience in asset management ...</p>
                </a>
                <div class="team__social">
                    <a class="team__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                        <svg xmlns="http://www.w3.org/2000/svg" class="team__symbol team__symbol--email">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                        </svg>
                    </a>
                    <span class="team__divider">&nbsp;</span>
                    <a class="team__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                        <svg xmlns="http://www.w3.org/2000/svg" class="team__symbol team__symbol--linkedin">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
           </div>
        </div>
        <div class="team__member">
            <a href="#" title="View more information about Pal Sarai" class="team__photo" data-lazyload-image="/assets/images/raster/demo/team-member.jpg" data-lazyload-options='{ "className": "team__image", "alt": "lazy team-member image" }'></a>
            <div class="team__information">
                <a class="team__profile" href="#" title="View more information about Pal Sarai">
                    <p class="team__name">Pal Sarai</p>
                    <p class="team__position">Managing Director, Head of Client Consulting EMEA, Australia &amp; Asia</p>
                    <p class="team__description">Pal is Head of Client Consulting for EMEA, Australia &amp; Asia at bfinance. Pal has over 20 years of experience in asset management ...</p>
                </a>
                <div class="team__social">
                    <a class="team__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                        <svg xmlns="http://www.w3.org/2000/svg" class="team__symbol team__symbol--email">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                        </svg>
                    </a>
                    <span class="team__divider">&nbsp;</span>
                    <a class="team__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                        <svg xmlns="http://www.w3.org/2000/svg" class="team__symbol team__symbol--linkedin">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
           </div>
        </div>
        <div class="team__member">
            <a href="#" title="View more information about Pal Sarai" class="team__photo" data-lazyload-image="/assets/images/raster/demo/team-member.jpg" data-lazyload-options='{ "className": "team__image", "alt": "lazy team-member image" }'></a>
            <div class="team__information">
                <a class="team__profile" href="#" title="View more information about Pal Sarai">
                    <p class="team__name">Pal Sarai</p>
                    <p class="team__position">Managing Director, Head of Client Consulting EMEA, Australia &amp; Asia</p>
                    <p class="team__description">Pal is Head of Client Consulting for EMEA, Australia &amp; Asia at bfinance. Pal has over 20 years of experience in asset management ...</p>
                </a>
                <div class="team__social">
                    <a class="team__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                        <svg xmlns="http://www.w3.org/2000/svg" class="team__symbol team__symbol--email">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                        </svg>
                    </a>
                    <span class="team__divider">&nbsp;</span>
                    <a class="team__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                        <svg xmlns="http://www.w3.org/2000/svg" class="team__symbol team__symbol--linkedin">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                        </svg>
                    </a>
                </div>
           </div>
        </div>
    </div>
</section>
