<button id="trigger-team-overlay" aria-controls="team-overlay" data-team-overlay="managers" data-team-member="Pal Sarai">Full team member details</button>
<button id="trigger-team-overlay" aria-controls="team-overlay" data-team-overlay="managers" data-team-member="Pal Sarai 2">Full team member details</button>
<button id="trigger-team-overlay" aria-controls="team-overlay" data-team-overlay="managers" data-team-member="Pal Sarai 3">Full team member details</button>

<div class="overlay team-overlay" id="team-overlay" aria-hidden="true" aria-labelledby="trigger-team-overlay" role="dialog">
    <div class="overlay__content">
        {{> team-member-full-details}}
    </div>
    <div class="overlay__shadow" data-overlay-shadow="team-overlay">
        <div class="overlay__triangles" data-lazyload-image="/assets/images/raster/overlay_triangle_background.png" data-lazyload-options='{ "className": "overlay__triangles-image", "alt": "lazy team-member image" }'></div>
    </div>
    <button id="close-team-overlay" aria-label="Close team overlay" class="overlay__close" data-overlay-close="team-overlay">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/assets/images/symbols.svg#close"></use>
        </svg>
    </button>
</div>