<div class="team-full-details">
    <div class="carousel" data-team-carousel="managers">
        <ul class="carousel__content">
            <li class="carousel__item" data-team-member="Pal Sarai">
                <div class="team-full-details__member">
                    <div class="team-full-details__image-container">
                        <div class="team-full-details__photo" data-lazyload-image="/assets/images/raster/demo/team-member-full.jpg" data-lazyload-options='{ "className": "team-full-details__image", "alt": "lazy team-full-details-member image" }'></div>
                        <div class="team-full-details__social team-full-details__social--mobile">
                            <a class="team-full-details__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                                <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--email">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                                </svg>
                            </a>
                            <span class="team-full-details__divider">&nbsp;</span>
                            <a class="team-full-details__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                                <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--linkedin">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-full-details__information">
                        <div class="team-full-details__information-content">
                            <div class="team-full-details__profile">
                                <p class="team-full-details__name">Pal Sarai</p>
                                <p class="team-full-details__position">Managing Director, Head of Client Consulting EMEA, Australia &amp; Asia</p>
                                <p class="team-full-details__description">Peter Hobbs is Managing Director of Private Markets based in bfinance’s London office. Peter covers the Real Estate, Infrastructure, Private Equity and Private Debt Markets.  The bfinance Private Markets team provides a series of services including portfolio strategy and design, portfolio risk reviews and solutions, investment manager search and selection and due diligence.  Peter has over 25 years of both principal investing and research experience. He joined bfinance from MSCI where he was Managing Director for Real Estate Research and Key Global Accounts, responsible for benchmarking and portfolio analysis, risk services and method development. Prior to this, Peter held various senior global research and business development roles with IPD, RREEF – the alternatives asset management division of Deutsche Bank, and Property & Portfolio Research. In 2015 he was shortlisted for Outstanding Industry Contribution at the IPE Real Estate Global Awards 2015. Peter has a PhD and is a member of the Royal Institution of Chartered Surveyors (MIRCS). Peter Hobbs is Managing Director of Private Markets based in bfinance’s London office. Peter covers the Real Estate, Infrastructure, Private Equity and Private Debt Markets.  The bfinance Private Markets team provides a series of services including portfolio strategy and design, portfolio risk reviews and solutions, investment manager search and selection and due diligence.  Peter has over 25 years of both principal investing and research experience. He joined bfinance from MSCI where he was Managing Director for Real Estate Research and Key Global Accounts, responsible for benchmarking and portfolio analysis, risk services and method development. Prior to this, Peter held various senior global research and business development roles with IPD, RREEF – the alternatives asset management division of Deutsche Bank, and Property & Portfolio Research. In 2015 he was shortlisted for Outstanding Industry Contribution at the IPE Real Estate Global Awards 2015. Peter has a PhD and is a member of the Royal Institution of Chartered Surveyors (MIRCS).</p>

                            </div>
                            <div class="team-full-details__social-container">
                                <div class="team-full-details__fade">&nbsp;</div>
                                <div class="team-full-details__social">
                                    <a class="team-full-details__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--email">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                                        </svg>
                                    </a>
                                    <span class="team-full-details__divider">&nbsp;</span>
                                    <a class="team-full-details__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--linkedin">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
             <li class="carousel__item" data-team-member="Pal Sarai 2">
                <div class="team-full-details__member">
                    <div class="team-full-details__image-container">
                        <div class="team-full-details__photo" data-lazyload-image="/assets/images/raster/demo/team-member-full.jpg" data-lazyload-options='{ "className": "team-full-details__image", "alt": "lazy team-full-details-member image" }'></div>
                        <div class="team-full-details__social team-full-details__social--mobile">
                            <a class="team-full-details__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                                <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--email">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                                </svg>
                            </a>
                            <span class="team-full-details__divider">&nbsp;</span>
                            <a class="team-full-details__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                                <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--linkedin">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-full-details__information">
                        <div class="team-full-details__information-content">
                            <div class="team-full-details__profile">
                                <p class="team-full-details__name">Pal Sarai 2</p>
                                <p class="team-full-details__position">Managing Director, Head of Client Consulting EMEA, Australia &amp; Asia</p>
                                <p class="team-full-details__description">Peter Hobbs is Managing Director of Private Markets based in bfinance’s London office. Peter covers the Real Estate, Infrastructure, Private Equity and Private Debt Markets.  The bfinance Private Markets team provides a series of services including portfolio strategy and design, portfolio risk reviews and solutions, investment manager search and selection and due diligence.  Peter has over 25 years of both principal investing and research experience. He joined bfinance from MSCI where he was Managing Director for Real Estate Research and Key Global Accounts, responsible for benchmarking and portfolio analysis, risk services and method development. Prior to this, Peter held various senior global research and business development roles with IPD, RREEF – the alternatives asset management division of Deutsche Bank, and Property & Portfolio Research. In 2015 he was shortlisted for Outstanding Industry Contribution at the IPE Real Estate Global Awards 2015. Peter has a PhD and is a member of the Royal Institution of Chartered Surveyors (MIRCS). Peter Hobbs is Managing Director of Private Markets based in bfinance’s London office. Peter covers the Real Estate, Infrastructure, Private Equity and Private Debt Markets.  The bfinance Private Markets team provides a series of services including portfolio strategy and design, portfolio risk reviews and solutions, investment manager search and selection and due diligence.  Peter has over 25 years of both principal investing and research experience. He joined bfinance from MSCI where he was Managing Director for Real Estate Research and Key Global Accounts, responsible for benchmarking and portfolio analysis, risk services and method development. Prior to this, Peter held various senior global research and business development roles with IPD, RREEF – the alternatives asset management division of Deutsche Bank, and Property & Portfolio Research. In 2015 he was shortlisted for Outstanding Industry Contribution at the IPE Real Estate Global Awards 2015. Peter has a PhD and is a member of the Royal Institution of Chartered Surveyors (MIRCS).</p>

                            </div>
                            <div class="team-full-details__social-container">
                                <div class="team-full-details__fade">&nbsp;</div>
                                <div class="team-full-details__social">
                                    <a class="team-full-details__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--email">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                                        </svg>
                                    </a>
                                    <span class="team-full-details__divider">&nbsp;</span>
                                    <a class="team-full-details__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--linkedin">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
             <li class="carousel__item" data-team-member="Pal Sarai 3">
                <div class="team-full-details__member">
                    <div class="team-full-details__image-container">
                        <div class="team-full-details__photo" data-lazyload-image="/assets/images/raster/demo/team-member-full.jpg" data-lazyload-options='{ "className": "team-full-details__image", "alt": "lazy team-full-details-member image" }'></div>
                        <div class="team-full-details__social team-full-details__social--mobile">
                            <a class="team-full-details__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                                <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--email">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                                </svg>
                            </a>
                            <span class="team-full-details__divider">&nbsp;</span>
                            <a class="team-full-details__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                                <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--linkedin">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="team-full-details__information">
                        <div class="team-full-details__information-content">
                            <div class="team-full-details__profile">
                                <p class="team-full-details__name">Pal Sarai 3</p>
                                <p class="team-full-details__position">Managing Director, Head of Client Consulting EMEA, Australia &amp; Asia</p>
                                <p class="team-full-details__description">Peter Hobbs is Managing Director of Private Markets based in bfinance’s London office. Peter covers the Real Estate, Infrastructure, Private Equity and Private Debt Markets.  The bfinance Private Markets team provides a series of services including portfolio strategy and design, portfolio risk reviews and solutions, investment manager search and selection and due diligence.  Peter has over 25 years of both principal investing and research experience. He joined bfinance from MSCI where he was Managing Director for Real Estate Research and Key Global Accounts, responsible for benchmarking and portfolio analysis, risk services and method development. Prior to this, Peter held various senior global research and business development roles with IPD, RREEF – the alternatives asset management division of Deutsche Bank, and Property & Portfolio Research. In 2015 he was shortlisted for Outstanding Industry Contribution at the IPE Real Estate Global Awards 2015. Peter has a PhD and is a member of the Royal Institution of Chartered Surveyors (MIRCS). Peter Hobbs is Managing Director of Private Markets based in bfinance’s London office. Peter covers the Real Estate, Infrastructure, Private Equity and Private Debt Markets.  The bfinance Private Markets team provides a series of services including portfolio strategy and design, portfolio risk reviews and solutions, investment manager search and selection and due diligence.  Peter has over 25 years of both principal investing and research experience. He joined bfinance from MSCI where he was Managing Director for Real Estate Research and Key Global Accounts, responsible for benchmarking and portfolio analysis, risk services and method development. Prior to this, Peter held various senior global research and business development roles with IPD, RREEF – the alternatives asset management division of Deutsche Bank, and Property & Portfolio Research. In 2015 he was shortlisted for Outstanding Industry Contribution at the IPE Real Estate Global Awards 2015. Peter has a PhD and is a member of the Royal Institution of Chartered Surveyors (MIRCS).</p>

                            </div>
                            <div class="team-full-details__social-container">
                                <div class="team-full-details__fade">&nbsp;</div>
                                <div class="team-full-details__social">
                                    <a class="team-full-details__contact" href="#" title="Send an email to Pal Sarai" aria-label="Email Pal Sarai">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--email">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#mail"></use>
                                        </svg>
                                    </a>
                                    <span class="team-full-details__divider">&nbsp;</span>
                                    <a class="team-full-details__contact" href="#" title="Visit Pal Sarai's LinkedIn profile." aria-label="Pal Sarai's LinkedIn profile">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="team-full-details__symbol team-full-details__symbol--linkedin">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#linkedin"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a class="carousel__button carousel__button--prev" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="carousel__symbol">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow-large"></use>
            </svg>
        </a>
        <a class="carousel__button carousel__button--next" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="carousel__symbol">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/symbols.svg#arrow-large"></use>
            </svg>
        </a>
    </div>
</div>