<section class="component" data-component="testimonial">
  <hr>
    <div class="carousel" data-carousel="testimonial">
        <div class="carousel__layout">
            <ul class="carousel__content">
                <li class="carousel__item">
                    <div class="testimonial">
                        <div class="testimonial__message">
                            <i class="fas fas fa-quote-left fa-3x testimonial__quote testimonial__quote--left"></i>
                            <blockquote class="testimonial__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <i class="fas fas fa-quote-left fa-3x testimonial__quote testimonial__quote--right"></i>
                        </div>
                        <p class="testimonial__person">John Smith</p>
                    </div>
                </li>
                <li class="carousel__item">
                    <div class="testimonial">
                        <div class="testimonial__message">
                            <i class="fas fas fa-quote-left fa-3x testimonial__quote testimonial__quote--left"></i>
                            <blockquote class="testimonial__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <i class="fas fas fa-quote-left fa-3x testimonial__quote testimonial__quote--right"></i>
                        </div>
                        <p class="testimonial__person">Jane Doe</p>
                    </div>
                </li>
                <li class="carousel__item">
                    <div class="testimonial">
                        <div class="testimonial__message">
                            <i class="fas fas fa-quote-left fa-3x testimonial__quote testimonial__quote--left"></i>
                            <blockquote class="testimonial__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                            <i class="fas fas fa-quote-left fa-3x testimonial__quote testimonial__quote--right"></i>
                        </div>
                        <p class="testimonial__person">Hiphop Apppotamous</p>
                    </div>
                </li>
            </ul>
        </div>
        <a class="carousel__button carousel__button--prev" href="#">
            <i class="fas fa-chevron-circle-left fa-4x carousel__symbol"></i>
        </a>
        <a class="carousel__button carousel__button--next" href="#">
            <i class="fas fa-chevron-circle-left fa-4x carousel__symbol"></i>
        </a>
        <menu class="carousel-pagination">
            <button class="carousel-pagination__button" href="#" data-active="false">Btn</button>
        </menu>
    </div>
  <hr>
</section>