<button id="trigger-mobile-nav-overlay" aria-controls="mobile-nav-overlay" data-overlay="mobile-nav-overlay">Mobile nav</button>

<div class="overlay overlay--tray" id="mobile-nav-overlay" aria-hidden="true" aria-labelledby="trigger-mobile-nav-overlay" role="dialog">
    <div class="overlay__content">HELLO</div>
    <div class="overlay__shadow" data-overlay-shadow="mobile-nav-overlay">&nbsp;</div>
    <button id="close-mobile-nav-overlay" aria-label="Close team overlay" class="overlay__close" data-overlay-close="mobile-nav-overlay">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/assets/images/symbols.svg#close"></use>
        </svg>
    </button>
</div>