<section class="component" data-component="video-player">
    <div class="video-player" data-video="default" data-video-playing="false">
        <div class="video-player__frame">
            <video class="video-player__video">
                <source src="/assets/videos/test.mp4" type="video/mp4">
            </video>
            <div data-video-control="play-pause" aria-label="Play or pause video." class="video__controls">
                <i class="fas fa-play-circle fa-3x video__symbol video__symbol--play"></i>
                <i class="far fa-pause-circle fa-3x video__symbol video__symbol--pause"></i>
            </div>
        </div>
        <div class="video-player__details">
            <p class="video-player__title">Cool Blender Video</p>
            <p class="video-player__text">The full video is pretty cool too. Got to love open source!</p>
        </div>
    </div>
</section>