<section class="component" data-component="what-we-do">
    <div class="carousel what-we-do" data-carousel="what-we-do">
        <ul class="carousel__content what-we-do__content" role="listbox">
            <li class="carousel__item">
                <div class="what-we-do__item">
                    <a href="#" class="what-we-do__link">
                        <div class="what-we-do__background" data-lazyload-background="https://picsum.photos/300/300/?random"></div>
                        <div class="what-we-do__item-content">
                            <p class="what-we-do__category">Card Title</p>
                            <p class="what-we-do__title">Card description</p>
                            <div class="what-we-do__cta maincta">Card Link</div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="what-we-do__item">
                    <a href="#" class="what-we-do__link">
                        <div class="what-we-do__background" data-lazyload-background="https://picsum.photos/300/300/?random"></div>
                        <div class="what-we-do__item-content">
                            <p class="what-we-do__category">Card Title</p>
                            <p class="what-we-do__title">Card description</p>
                            <div class="what-we-do__cta maincta">Card Link</div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="carousel__item">
                <div class="what-we-do__item">
                    <a href="#" class="what-we-do__link">
                        <div class="what-we-do__background" data-lazyload-background="https://picsum.photos/300/300/?random"></div>
                        <div class="what-we-do__item-content">
                            <p class="what-we-do__category">Card Title</p>
                            <p class="what-we-do__title">Card description</p>
                            <div class="what-we-do__cta maincta">Card Link</div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <a class="carousel__button carousel__button--prev" href="#">&nbsp;</a>
        <a class="carousel__button carousel__button--next" href="#">&nbsp;</a>
    </div>
</section>