<section class="component" data-component="wide-image-with-copy">
    <h5>Variation 1</h5>
    <br><br>
    <!-- modifier to flip the layout is wide-image-with-copy--right-aligned -->
    <div class="wide-image-with-copy">
        <figure class="wide-image-with-copy__figure" data-lazyload-image="/assets/images/raster/demo/gallery.jpg" data-lazyload-options='{ "className": "wide-image-with-copy__image", "alt": "Test" }' aria-labelledby="figure-caption-1"></figure>
        <figcaption class="wide-image-with-copy__copy" id="figure-caption-1">
            <p class="wide-image-with-copy__title">Image title</p>
            <div class="wide-image-with-copy__description rich">
                <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. <a href="#">Sed et felis metus</a>, rhoncus ornare nibh. Ut at magna leo. Suspendisse <b>egestas est ac dolor imperdiet pretium</b>. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. <a href="#">Sed et felis metus</a>, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <a href="#" target="_blank" class="link-with-arrow">
                <span class="link-with-arrow__text">See more</span>
                <div class="link-with-arrow__symbol">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
        </figcaption>
    </div>
</section>

<hr>
<section class="component" data-component="wide-image-with-copy">
    <h5>Variation 2</h5>
    <br><br>
    <!-- modifier to flip the layout is wide-image-with-copy--right-aligned -->
    <div class="wide-image-with-copy wide-image-with-copy--right-aligned">
        <figure class="wide-image-with-copy__figure" data-lazyload-image="/assets/images/raster/demo/gallery.jpg" data-lazyload-options='{ "className": "wide-image-with-copy__image", "alt": "Test" }' aria-labelledby="figure-caption-1"></figure>
        <figcaption class="wide-image-with-copy__copy" id="figure-caption-1">
            <p class="wide-image-with-copy__title">Image title</p>
            <div class="wide-image-with-copy__description">
                <p>Nullam eros mi, mollis in sollicitudin non, tincidunt sed enim. Sed et felis metus, rhoncus ornare nibh. Ut at magna leo. Suspendisse egestas est ac dolor imperdiet pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <a href="#" target="_blank" class="link-with-arrow">
                <span class="link-with-arrow__text">See more</span>
                <div class="link-with-arrow__symbol">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
        </figcaption>
    </div>
</section>