<section class="component" data-component="youtube-video-player">
    <div class="video-player" data-video="youtube" data-youtube-id="RMvo68V31nQ" data-video-playing="false">
        <div class="video-player__frame">
            <div class="video-player__content">
                <div id="XXXX" class="video-player__video" data-video-container="youtube"></div>
            </div>
            <img aria-hidden="false" data-video-poster="youtube" class="video-player__poster" src="http://via.placeholder.com/800x640?text=press+play">
            <div aria-hidden="true" data-video-control="play-pause" aria-label="Play or pause video." class="video__controls">
                <i class="fas fa-play-circle fa-3x video__symbol video__symbol--play"></i>
                <i class="far fa-pause-circle fa-3x video__symbol video__symbol--pause"></i>
            </div>
        </div>
        <div class="video-player__details">
            <p class="video-player__title">Cool Blender Video</p>
            <p class="video-player__text">The full video is pretty cool too. Got to love open source!</p>
        </div>
    </div>
</section>