//==========================================================================================
//
//  Article header
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.article-container{
  width: 100%;
  margin-top: -100px;
}


.article-header {
    padding: 40px;
    margin-top: 68px;
    // Commented out to remove until client confirms/sends new image (also in media query)
    // background-image: url("/assets/images/raster/article-header.png");
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-size: cover;
    background: linear-gradient(#7f8fa6, #fff);
    width: 100%;
    height: 100%;

}

.article-header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;
    width: design-grid(12);
}


.article-header__text {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-right: design-grid(1);
}

//==========================================================================================
//  Aside elements
//==========================================================================================
.article-header .tags {
    flex: 0 0 auto;
}

//==========================================================================================
//  Text
//==========================================================================================
.article-header__title {
    flex: 0 0 auto;
    padding-bottom: 0;
    margin-bottom: rem(12);

    color: color(primary);
    @include typography(h3);
}

.article-header__header {
    flex: 0 0 auto;
    width: design-grid(9);
    margin-bottom: design-grid(1);
    color: color(primary);
    @include typography(h1);
    font-weight: 300;
}


//==========================================================================================
//  Nested author
//==========================================================================================
.article-header .author {
    flex: 1 0 auto;
    margin-bottom: design-grid(1);
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen1000) {
    .article-header {
        //padding: design-grid(1) 0 100px;
        background-size: contain;
        background-position-x: 0%;
    }
    .article-header__content {
        flex-direction: row;
    }
    .article-header__header {
        width: 100%;
        //margin-bottom: 100px;
    }
    .article-header__text {
        width: design-grid(9);
    }
    .article-header .author {
        margin-bottom: 0;
    }
}

@include mq(screen1400) {
    .article-header__text {
        width: design-grid(9);
    }
}