//==========================================================================================
//
//  Author
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.author {}


//==========================================================================================
//  Text
//==========================================================================================
.author__association {
    display: block;
    color: color(primary);
    @include typography(breadcrumb);
    font-style: normal;
}

.author__name-container {
    display: inline;
    position: relative;

    &:after {
        content: ',';
        position: relative;
    }

    &:last-child {
        &:after {
            content: '';
        }
    }

    &:nth-last-child(2) {
        &:after {
            content: 'and';
        }
    }
}

.author__name {
    display: inline-block;
    color: color(cta-secondary);
    @include typography(body);
    font-style: normal;
}
