//==========================================================================================
//
//  Rich text setup
//
//==========================================================================================
h1, .rich h1,
h2, .rich h2,
h3, .rich h3 {
    padding-bottom: design-grid(0.75);
}

.rich p {
    padding-top: 40px;

    &:first-child,
    &:first-of-type {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 60px;
    }
}

.rich p + h1,
.rich p + h2,
.rich p + h3,
.rich p + h4,
.rich p + h5 {
    padding: design-grid(0.75) 0 0;
}


.link, .link:visited,
.rich a, .rich a:visited {
    @include typography(anchor, 300, $root-font-family);
}

.rich span {
    @include typography(body, 300, $root-font-family);
    color: color(primary);
}

.rich ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}

.rich li {
    position: relative;
    padding-left: rem(15);
    @include typography(body, 300, $root-font-family);
    color: color(primary);

    &:before {
        content: '\2022';
        position: absolute;
        left: 0;
    }
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen1000) {
    h1, .rich h1,
    h2, .rich h2,
    h3, .rich h3 {
        padding-bottom: design-grid(0.5);
    }

    // .rich p {
    //     padding-top: design-grid(0.5);
    // }
};


//==========================================================================================
//
//  Horizontal rule for bottom borders as required
//
//==========================================================================================
hr {
    width: design-grid(12);
    height: 1px;
    margin: 0 auto;
    border: none;
    background-color: color(tertiary);
}