﻿//==========================================================================================
//
//  Typography
//
//==========================================================================================

//==========================================================================================
//  Line-heights map
//  This is used by our "line-heights" function
//==========================================================================================
$line-heights: (
    "fixed": 1,
    "minor-second": 1.067,
    "major-second": 1.125,
    "minor-third": 1.200,
    "major-third": 1.250,
    "perfect-fourth": 1.333,
    "augmented-forth": 1.414,
    "perfect-fifth": 1.500,
    "golden-ratio": 1.618
);


//==========================================================================================
//  Typography mixin & styles
//==========================================================================================
@mixin typography($type-class: body, $font-weight: normal, $font-family: $root-font-family, $font-secondary: $root-font-secondary) {

    //  H1
    @if $type-class == h1 {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: rem(35);
        line-height: line-height(major-second);
        @include mq($from: screen768) {
            font-size: rem(50);
        }
        @include mq($from: screen1000) {
            font-size: rem(60);
        }
    }

    //  H2
    @else if $type-class == h2 {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: rem(22);
        line-height: line-height(augmented-forth);
        @include mq($from: screen768) {
            font-size: rem(28);
        }
        @include mq($from: screen1000) {
            font-size: rem(32);
        }
        @include mq($from: screen1400) {
            font-size: rem(35);
        }
    }

    // H2 Content
    @else if $type-class == h2-content {

        font-family: $font-family;
        font-weight: 400;
        font-size: rem(18);
        line-height: line-height(augmented-forth);
        @include mq($from: screen480) {
            font-size: rem(24);
            font-weight: 300;
        }
        @include mq($from: screen600) {
            font-size: rem(30);
        }
        @include mq($from: screen768) {
            font-size: rem(20);
            line-height: line-height(minor-third);
        }
        @include mq($from: screen1400){
            font-size: rem(28);
        }
        @include mq($from: screen1800) {
            font-size: rem(35);
        }
    }

    //  H3
    @else if $type-class == h3 {
        font-family: $font-family;
        font-weight: $font-weight;
        text-transform: uppercase;
        font-size: rem(18);
        line-height: line-height(augmented-forth);
        @include mq($from: screen1000) {
            font-size: rem(20);
        }
    }

    //  Introductory body copy (STRONG)
    @else if $type-class == intro {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: rem(18);
        line-height: line-height(golden-ratio);
    }

    //  Body (P)
    @else if $type-class == body {
        font-family: $font-secondary;
        font-weight: 300;
        font-size: rem(16);
        line-height: line-height(golden-ratio);
    }

    //  Image Title
    @else if $type-class == image-title {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: rem(14);
        line-height: line-height(golden-ratio);
        text-transform: uppercase;
        @include mq($from: screen1000) {
            font-size: rem(16);
        }
    }


    //  Navigation
    @else if $type-class == navigation {
        font-family: $font-family;
        font-weight: 400;
        font-size: rem(18);
        line-height: line-height(fixed);
        @include mq(screen480) {
            font-weight: 400;
        }
    }

    //  Breadcrumbs
    @else if $type-class == breadcrumb {
        font-family: $font-family;
        font-weight: 400;
        font-size: rem(14);
        line-height: 1;
    }


    //  Captialised link (A)
    @else if $type-class == capitalised-anchor {
        font-family: $font-family;
        font-weight: 400;
        font-variant: small-caps;
        font-size: rem(16);
        line-height: line-height(golden-ratio);
    }


    //  Inline-anchors (A)
    @else if $type-class == anchor {
        color: color(cta-secondary);
        text-decoration: none;
        font-family: $font-family;
        font-weight: inherit;
        font-size: inherit;
        line-height: line-height(golden-ratio);

        &:hover, &:focus, &:active {
            color: color(cta-secondary);
            text-decoration: underline;
        }

        &:active {
            color: color(cta-primary);
        }

    }

    //  Error title
    @else if $type-class == error-title {
        font-family: $font-family;
        font-weight: 500;
        font-size: rem(150);
        line-height: line-height(major-second);
        @include mq($from: screen1000) {
            font-size: rem(150);
        }
    }

}


//==========================================================================================
//  Typography declarations
//  All numeric font weights correspond to design font weights (Light, Regular etc.) as per Typekit instruction
//  We adjust the HTML,BODY font sizes to scale typography linearly through use of REM units.
//==========================================================================================
html, body {
    text-size-adjust: 100%;

    font-size: px($root-font-size - 3);

    @include mq($from: screen480) {
        font-size: px($root-font-size - 2);
    }
    @include mq($from: screen768) {
        font-size: px($root-font-size - 2);
    }
    @include mq($from: screen1000) {
        font-size: px($root-font-size - 2);
    }
    @include mq($from: screen1200) {
        font-size: px($root-font-size - 1);
    }
    @include mq($from: screen1400) {
        font-size: px($root-font-size);
    }

}


// Styles to override Bootstrap defaults
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h1 {
    color: color(primary);
    @include typography(h1, 300, $root-font-family);
}

h2 {
    color: color(primary);
    @include typography(h2, 300, $root-font-family);
}

h3 {
    color: color(primary);
    @include typography(h3, 500, $root-font-family);
}

p {
    margin: 0; // This is needed to override Bootstrap default styles
    color: color(primary);
    @include typography(body, 300, $root-font-family);
}
