//==========================================================================================
//
//  Main site navigation
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================

//==========================================================================================
//  Container
//  Note: Visible state is controlled by aria-hidden
//==========================================================================================
.overlay.overlay--tray {
    overflow-y: hidden;

    // transform: translateX(-100%);
    // transition: transform $animation-duration-short ease-in-out;
    // transform-origin: 50% 50%;
    backface-visibility: none;
}


//==========================================================================================
//  Content
//==========================================================================================
.overlay--tray[aria-hidden="true"] {
    display: block !important;
    visibility: hidden;
}
.overlay--tray[aria-hidden="false"] {
    visibility: visible;
    // transform: translateX(0%);
}


//==========================================================================================
//  Close button
//==========================================================================================
.overlay--tray .overlay__close {
    display: none;
}


//==========================================================================================
//  Shadow
//==========================================================================================
.overlay--tray .overlay__shadow {
    display: none;
}