//==========================================================================================
//
//  Main site navigation
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================

//==========================================================================================
//  Container
//  Note: Visible state is controlled by aria-hidden
//==========================================================================================
.overlay {
    position: fixed;
    z-index: $z-index-overlay;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;

    font-size: 0;
    line-height: 0;

    background-color: transparent;

    overflow-y: auto;
    overflow-x: hidden;
}


//==========================================================================================
//  Content
//==========================================================================================
.overlay__content {
    position: relative;
    z-index: $z-index-overlay-content;

    margin: 0 auto;
}

//==========================================================================================
//  Close button
//==========================================================================================
.overlay__close {
    position: absolute;
    z-index: $z-index-overlay-content;

    top: 20px;
    right: 35px;

    padding: rem(10);

    svg {
        width: rem(32);
        height: rem(32);
        fill: color(primary);
    }
}


//==========================================================================================
//  Shadow
//==========================================================================================
.overlay__shadow {
    position: fixed;
    z-index: $z-index-overlay-shadow;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: color(primary);
    opacity: $state-inactive-opacity;
}

.overlay__shadow.active {
    display: block;
}
