//==========================================================================================
//
//  Rich text
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.text {
    width: design-grid(12);
    margin: 0 auto;
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen768) {
    .text {
        width: design-grid(10);
    }
}

@include mq(screen1000) {
    .text {
        width: design-grid(8);
    }
}

@include mq(screen1200) {
    .text {
        width: design-grid(6);
    }
}
