//==========================================================================================
//
//  Hero banner
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.hero {
    position: relative;
    overflow: hidden;

    height: 60vh;

    margin-bottom: design-grid(1);

    background-position: center center;
    background-size: cover;
}


//==========================================================================================
//  Text container
//==========================================================================================
.hero__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: design-grid(11);
    height: 100%;
}

.hero__text {
    flex: 0 0 auto;

    position: relative;
    overflow: hidden;

    width: 100%;
    padding-left: fixed-grid(0.75);

    //  Overlay animation
    -webkit-backface-visibility: hidden; // fix for text moving on hover in chrome
    &::before {
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        animation: hero-content-mask .6s ease-in-out forwards;
        animation-delay: 2s;
        background-color: rgba(7,167,227, .5);
    }
}

//==========================================================================================
//  Text
//==========================================================================================
.hero__tagline {
    width: 90%;

    margin-top: 0; // To remove margin added by normalize.scss and reposition tagline now that the overlays were removed

    @include typography(h1, 300);
    color: #fff;

    opacity: 0;
    animation: hero-fade-in .7s ease-out forwards;
    animation-delay: 2.5s;
}

.hero__content .maincta {
    opacity: 0;
    animation: hero-fade-in .7s ease-out forwards;
    animation-delay: 2.5s;
}


//==========================================================================================
//  Animations
//==========================================================================================
@keyframes hero-content-mask {
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes hero-fade-in {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


//==========================================================================================
//  Scroll teaser use case
//==========================================================================================
.hero .scroll-teaser {
    display: none;
}

//==========================================================================================
//  Corner overlays
//==========================================================================================
.hero {
    //  Should match the height of our top masks
    padding-top: fixed-grid(1.1533332);
    //  Should match the height of our bottom-left mask
    padding-bottom: fixed-grid(1.4);
}

//  We offset our overlay positions by 1px to ensure there are no rounding issues cross browser
.hero__overlay {
    position: absolute;

    //  1 : 0.28833333
    &.hero__overlay--top-left {
        top: -1px;
        left: -1px;
        width: fixed-grid(5);
        height: fixed-grid(1.44166665);
    }

    //  1 : 0.28833333
    &.hero__overlay--top-right {
        top: -1px;
        right: -1px;
        width: fixed-grid(5);
        height: fixed-grid(1.44166665);
    }

    //  1 : 0.866
    &.hero__overlay--bottom-right {
        bottom: -1px;
        right: -1px;
        width: fixed-grid(5);
        height: fixed-grid(4.33);
    }

    //  1 : 0.2
    &.hero__overlay--bottom-left-mask {
        bottom: -1px;
        left: -1px;
        width: fixed-grid(7);
        height: fixed-grid(1.4);
    }
}

.hero__svg {
    width: 100%;
    height: 100%;
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen600) {
    .hero {
       height: design-grid(10);
    }
}
@include mq(screen768) {
    .hero {
        height: design-grid(9);
        //  Should match spacing for component container
        margin-bottom: design-grid(0.5);
    }
}
@include mq(screen1000) {
    .hero .scroll-teaser {
        display: block;
    }

    .hero {
        height: design-grid(7);
        //  Should match the height of our top masks
        padding-top: fixed-grid(0.5766666);
        //  Should match the height of our bottom-left mask
        padding-bottom: fixed-grid(0.8);
    }

    .hero__overlay {
        //  1 : 0.28833333
        &.hero__overlay--top-left {
            width: fixed-grid(2);
            height: fixed-grid(0.5766666);
        }
        //  1 : 0.28833333
        &.hero__overlay--top-right {
            width: fixed-grid(2);
            height: fixed-grid(0.5766666);
        }
        //  1 : 0.866
        &.hero__overlay--bottom-right {
            width: fixed-grid(2);
            height: fixed-grid(1.732);
        }
        //  1 : 0.2
        &.hero__overlay--bottom-left-mask {
            width: fixed-grid(4);
            height: fixed-grid(0.8);
        }
    }
}

@include mq(screen1200) {
    .hero {
        height: 80vh;
        //  Should match the height of our top masks
        padding-top: fixed-grid(0.5766666);
        //  Should match the height of our bottom-left mask
        padding-bottom: fixed-grid(0.6);
    }

    .hero__text {
        padding-left: fixed-grid(1);
    }

    .hero__overlay {
        //  1 : 0.28833333
        &.hero__overlay--top-left {
            width: fixed-grid(3);
            height: fixed-grid(0.8649999);
        }
        //  1 : 0.28833333
        &.hero__overlay--top-right {
            width: fixed-grid(3);
            height: fixed-grid(0.8649999);
        }
        //  1 : 0.866
        &.hero__overlay--bottom-right {
            width: fixed-grid(3);
            height: fixed-grid(2.598);
        }
        //  1 : 0.2
        &.hero__overlay--bottom-left-mask {
            width: fixed-grid(3);
            height: fixed-grid(0.6);
        }
    }
}