//==========================================================================================
//
//  Scroll teaser
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.scroll-teaser {
    position: absolute;

    left: 50%;
    bottom: design-grid(.5);

    display: flex;
    align-items: center;

    width: 3rem;
    height: 2rem;

    padding: .5rem 0;

    color: #fff;
    @include typography(body);
    text-align: center;

    border-radius: 1rem;
    border: 2px solid #fff;
    background-color: color(cta-primary);

    transform: rotate(90deg);
}


//==========================================================================================
//  Content
//==========================================================================================
.scroll-teaser__content {
    position: relative;

    width: 100%;
    height: 100%;
}

.scroll-teaser__symbol {
    position: absolute;
    margin-top: -2px;
    margin-left: -5px;
    color: white;

    opacity: 0;
    animation: scroll-teaser 1.5s ease-in-out infinite;
}


//==========================================================================================
//  Animations
//==========================================================================================
@keyframes scroll-teaser {
    0% {
       transform: translateX(-35%);
   }
   50% {
       opacity: 1;
   }
   100% {
      transform: translateX(25%);
   }
}