﻿//==========================================================================================
//
//  Functions
//
//==========================================================================================

//==========================================================================================
//  REM calculation
//==========================================================================================
@function rem($size) {
    @return #{ ($size / $root-font-size) }rem;
}


//==========================================================================================
//  Pixel values
//==========================================================================================
@function px($size) {
    @return $size + px;
}


//==========================================================================================
//  Colour values
//==========================================================================================
@function color($name, $opacity: 1) {
    @if map-has-key($colour-palette, $name) {
        $color: map-get($colour-palette, $name);
        @return rgba($color, $opacity);
    }
    @else {
        @error "Colour value `#{$name}` is not currently defined.";
    }
}


//==========================================================================================
//  Line-height values
//==========================================================================================
@function line-height($name) {
    @if map-has-key($line-heights, $name) {
        @return map-get($line-heights, $name);
    }
    @else {
        @error "Line-height value `#{$name}` is not currently defined.";
    }
}



//==========================================================================================
//  Breakpoint value
//==========================================================================================
@function breakpoint($name) {
    @if map-has-key($mq-breakpoints, $name) {
        @return map-get($mq-breakpoints, $name);
    }
    @else {
        @error "Colour value `#{$name}` is not currently defined.";
    }
}