//==========================================================================================
//
//  Helper classes
//
//==========================================================================================
.hidden {
    display: none !important;
}

.inactive {
    opacity: $state-inactive-opacity;
}

.no-transform {
    transition: none !important;
}

.no-scroll {
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

[aria-hidden="true"] {
    display: none !important;
}