﻿//==========================================================================================
//
//  Resets
//
//==========================================================================================

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

img,
iframe {
    max-width: 100%;
}

svg {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    pointer-events: none;
}

use {
    pointer-events: none;
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    border-radius: 0;
    background: none;
}

figure {
    margin: 0;
}

input, select {
    appearance: none;
}

select {
    background-color: transparent;
    border-radius: 0;
}


//==========================================================================================
//
//  Bootstrap Resets
//
//==========================================================================================
ul {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}