//==========================================================================================
//
//  Newsletter
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.newsletter {
    position: relative;
    padding: design-grid(1);
    background-color: color(bg-secondary, 0.2);
}


//==========================================================================================
//  Content
//==========================================================================================
.newsletter__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    opacity: 1;
    transition: opacity $animation-duration-form-in ease-in-out;
}

.newsletter__content[data-newsletter-state="inactive"]{
    opacity: 0;
    transition: opacity $animation-duration-form-out ease-in-out;
}


//==========================================================================================
//  Text
//==========================================================================================
.newsletter__text {
    width: 100%;
    margin-bottom: rem(30);

    @include typography(h2, 300);
    text-align: center;
}


//==========================================================================================
//  Form Overrides
//==========================================================================================
.newsletter .form {
    width: design-grid(8);

    padding-right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newsletter .form__row {
    margin-bottom: rem(70);
}

.newsletter .form__field {
    position: relative;
}

.newsletter .form__input {
    display: inline-block;

    width: design-grid(8);
    padding: rem(20) rem(30) rem(20) 0;

    background-color: transparent;
}

.newsletter .form__label {
    top: rem(30);
}

.newsletter .form__messages {
    width: design-grid(8);
    min-height: 0;
    position: absolute;
    margin-top: rem(10);
}


//==========================================================================================
//  Overlay
//==========================================================================================
.newsletter__overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity $animation-duration-form-out ease-in-out;

    .newsletter__text {
        width: 100%;
        text-align: center;
        padding: 0 rem(20);
    }
}

//==========================================================================================
//  Form Submission States
//==========================================================================================
.newsletter__overlay[data-newsletter-state="active"] {
    opacity: 1;
    transition: opacity $animation-duration-form-in ease-in-out;
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1200) {
    .newsletter .form {
        padding: 0 design-grid(1) 0 design-grid(0.5);
    }
}

@include mq(screen1000) {
    .newsletter {
        padding: design-grid(0.5) 0;
    }

    .newsletter__content {
        flex-direction: row;
    }

    .newsletter__text {
        width: design-grid(6);
        text-align: left;
        padding: 0 0 0 design-grid(0.5);
        margin: 0;
    }

    .newsletter .form {
        flex-direction: row;
        width: design-grid(6);
        padding: 0 design-grid(0.5);
    }

    .newsletter .form__row {
        margin-bottom: 0;
    }

    .newsletter .form__input {
        width: design-grid(3);
        padding: rem(15) rem(30) rem(15) 0;
    }

    .newsletter .form__label {
        top: rem(20);
    }

    .newsletter .form__messages {
        width: auto;
        padding-right: rem(30);
    }
}

@include mq(screen600) {
    .newsletter .form {
        width: design-grid(6);
    }

    .newsletter .form__input {
        width: design-grid(6);
    }

    .newsletter .form__messages {
        width: design-grid(6);
    }
}