//==========================================================================================
//
//  Testimonial carousel
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
[data-carousel="testimonial"] {
    margin: 0 auto;
    width: design-grid(12);
}

.testimonial {
    width: 100%;
    text-align: center;
}


//==========================================================================================
//  Testimonial
//==========================================================================================
.testimonial__message {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 design-grid(1);
}

//  Width & heights are defined in our media queries
.testimonial__quote {
    position: absolute;
    width: rem($testimonial-width);
    height: rem($testimonial-width * $testimonial-aspect-ratio);
    fill: color(secondary);
}

.testimonial__quote--left {
    top: 0;
    left: 0;
}

.testimonial__quote--right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.testimonial__text {
    position: relative;
    padding: 0 design-grid(0.5);

    @include typography(h2);
    color: color(tertiary);
    font-weight: 300;
}

.testimonial__person {
    @include typography(capitalised-anchor);
    display: inline-block;
    margin-top: 30px;
    color: color(cta-secondary);
    text-transform: uppercase;
    text-decoration: none;
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen480) {
    $testimonial-width: 30;

    .testimonial__message {
        padding: 0 design-grid(1);
    }
    .testimonial__quote {
        width: rem($testimonial-width);
        height: rem($testimonial-width * $testimonial-aspect-ratio);
    }
}

@include mq(screen600) {
    $testimonial-width: 40;

    .testimonial__message {
        padding: 0 design-grid(1.5);
    }
    .testimonial__quote {
        width: rem($testimonial-width);
        height: rem($testimonial-width * $testimonial-aspect-ratio);
    }
}

@include mq(screen768) {
    $testimonial-width: 40;

    .testimonial__message {
        padding: 0 rem($testimonial-width);
    }
    .testimonial__quote {
        width: rem($testimonial-width);
        height: rem($testimonial-width * $testimonial-aspect-ratio);
    }
}

@include mq(screen1000) {
    $testimonial-width: 42;

    [data-carousel="testimonial"] {
        width: design-grid(12);
    }

    .testimonial__message {
        padding: 0 rem($testimonial-width);
    }
    .testimonial__quote {
        width: rem($testimonial-width);
        height: rem($testimonial-width * $testimonial-aspect-ratio);
    }
}

@include mq(screen1200) {
    $testimonial-width: 42;

    .testimonial__message {
        padding: 0 rem($testimonial-width);
    }
    .testimonial__quote {
        width: rem($testimonial-width);
        height: rem($testimonial-width * $testimonial-aspect-ratio);
    }
}


@include mq(screen1400) {
    $testimonial-width: 45;

    .testimonial__message {
        padding: 0 rem($testimonial-width);
    }
    .testimonial__quote {
        width: rem($testimonial-width);
        height: rem($testimonial-width * $testimonial-aspect-ratio);
    }
}
