//==========================================================================
//
//  Detailed Article Link
//
//==========================================================================

//==========================================================================
//  Container
//==========================================================================
.detailed-article-link {
    display: block;
    position: relative;
    width: design-grid(12);
    margin-bottom: rem(30);
    color: color(primary);
    text-decoration: none;
    overflow: hidden;
    line-height: 0;
    margin-right: $grid-gutter;

    &:last-child,
    &:nth-child(2n+2) {
        margin-right: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: design-grid(6);
        width: 0%;
        height: 100%;
        opacity: 0;
        background: color(cta-secondary, 0.1);
        transform-origin: 50% 50%;
        transition: width $animation-duration-medium cubic-bezier(0.5,0,1,1), opacity $animation-duration-medium cubic-bezier(0.5,0,1,1);
    }

    &:hover,
    &:active,
    &:focus {
        color: color(primary);
        text-decoration: none;

        &:before {
            width: 100%;
            opacity: 1;
        }
    }

    &:visited {
        color: color(primary);
    }
}

//==========================================================================
//  Figure
//==========================================================================
.detailed-article-link__figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

//==========================================================================
//  Image Container
//==========================================================================
.detailed-article-link__image-container {
    flex: 0 0 auto;
    width: design-grid(6);
}

//==========================================================================
//  Image
//==========================================================================
.detailed-article-link__image {
    width: 100%;
    height: auto;
}

//==========================================================================
//  Article Link Details
//==========================================================================
.detailed-article-link__details {
    // flex: 0 0 auto;
    width: auto;
    margin-left: 10px;
}


//==========================================================================
//  Tags
//==========================================================================
.detailed-article-link__tags {
    display: none;
    margin-bottom: rem(15);
    font-size: 0;
}

.detailed-article-link__tag {
    display: inline-block;
    position: relative;

    @include typography(breadcrumb);
    text-transform: uppercase;
    color: color(cta-secondary);
    line-height: line-height(minor-second);
    margin-bottom: rem(3);
    &:not(:last-child) {
        padding-right: rem(20);
        &:after {
            content: '/';
            position: relative;
            left: rem(10);
            bottom: 0;
        }
    }


}


//==========================================================================
//  Title
//==========================================================================
.detailed-article-link__title {
    @include typography(h2-content, 300, $root-font-family);
    padding: 0;
    line-height: line-height(minor-third);
}

.detailed-article-link__content {
  margin-top: 20px;
  padding: 0;
  line-height: line-height(minor-third);
  height: 80px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}


//==========================================================================
//  Media queries
//==========================================================================
@include mq(screen480) {
    .detailed-article-link__details {
        padding: design-grid(0.25);
    }
    .detailed-article-link__tags {
        display: block;
    }
}

@include mq(screen768) {
    .detailed-article-link {
        width: design-grid(6);
        margin-bottom: rem(40);

        &:before {
            left: design-grid(3);
        }
    }

    .detailed-article-link__image-container {
        width: design-grid(3);
    }

    .detailed-article-link__details {
        width: design-grid(3);
        padding: design-grid(0.1) 0;
    }

    .detailed-article-link__tags {
        margin-bottom: rem(5);
    }
}

@include mq(screen1000) {
    .detailed-article-link__tags {
        margin-bottom: rem(10);
    }
}
