//==================================================================================================
//
//  Button styles
//
//==================================================================================================
.maincta {
    @include typography(navigation);

    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 15px 25px 15px 15px;

    cursor: pointer;

    color: white;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: color(cta-primary);
    border: 1px solid #ffffff;
    overflow: hidden;

    // box-shadow: 2px 2px 10px 0px color(bg-secondary, 0.8);


    // //  Animated elements
    // &:before,
    // &:after {
    //     content: "";
    //     position: absolute;
    //     // left: calc(-150% + 14px);
    //     // top: 50%;
    //     // background: rgba(white, 0.2);
    //     // width: 200%;
    //     // height: 100%;
    //     // transition: transform $animation-duration-short ease-in-out;
    // }

    // &:before {
    //     transform: translateY(-100%) rotate(30deg);
    // }

    // &:after {
    //     transform: translateY(0) rotate(-30deg);
    // }


    // //  Hover states
    // &:hover,
    // &:focus,
    // &:active {
    //     color: #fff;
    //     text-decoration: none;

    //     &:before {
    //         transform: translateY(-100%) rotate(0deg);
    //     }

    //     &:after {
    //         transform: translateY(0) rotate(0deg);
    //     }
    // }

    // &:focus {
    //     // outline: 0;
    // }

    // &:active {
    //     box-shadow: 1px 1px 4px 0px color(bg-secondary, 0.8);
    // }
}

.maincta:hover{
  color: white;
  background-color: #d35400;
  transition: 0.5s;
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1000) {
    .maincta {
        padding: 20px 40px 20px 20px;
    }
}