//==========================================================================================
//
//  Team member Full Details
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.team-full-details {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: design-grid(12);
}

.team-full-details__member {
    flex: 0 0 auto;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;

    width: design-grid(12);
    background: #fff;

    height: 90vh;
    max-height: 90vh;
}


//==========================================================================================
//  Image
//==========================================================================================
.team-full-details__image-container {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    padding: design-grid(0.5) design-grid(0.5) design-grid(1);
    align-items: flex-end;

    overflow: hidden;
}

.team-full-details__photo {
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
    width: design-grid(6);
}

.team-full-details__image {
    display: block;
    height: auto;
    width: 100%;
    pointer-events: none;
}


//==========================================================================================
//  Team member information
//==========================================================================================
.team-full-details__information {
    flex: 0 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    height: 100%;

    width: design-grid(12);

    overflow: hidden;
    background-color: #fff;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        right: 15px;
        height: rem(30);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }
}

.team-full-details__information-content {
    position: absolute;
    overflow: hidden;
    height: 100%;

}

.team-full-details__profile {
    height: 100%;
    position: relative;
    overflow: auto;
    padding: rem(20);
    touch-action: pan-y;
}

.team-full-details__profile::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
    height: rem(10);
    display: none;
}


.team-full-details__profile::-webkit-scrollbar-thumb {
    background-color: color(cta-secondary);

}

.team-full-details__profile::-webkit-scrollbar-track-piece {
    height: 30px;
}

.team-full-details__name {
    padding-bottom: rem(5);
    @include typography(h2, 300);
}

.team-full-details__position {
    padding-bottom: rem(10);
    color: color(tertiary);
    @include typography(navigation);
}

.team-full-details__description {
    @include typography(body);
    padding-bottom: rem(60);
}

.team-full-details__social-container {
    position: absolute;
    bottom: 0;
    left: design-grid(0.25);
    right: 15px;
    padding-bottom: rem(20);
    background-color: #fff;
}

.team-full-details__fade {
    height: rem(10);

    padding-right: design-grid(0.5);

    &:before {
        content: "";
        position: absolute;
        top: rem(-60);
        left: 0;
        height: rem(60);
        width: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);

    }
}


//==========================================================================================
//  Social media
//==========================================================================================
.team-full-details__social {

    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    margin-right: 10px;
}

.team-full-details__contact {
    font-size: 0;
    line-height: 0;
}

.team-full-details__divider {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0 rem(14);

    &::before {
        content: "";
        position: absolute;
        left: rem(15);
        width: 1px;
        height: 100%;
        background-color: color(primary);
    }
}


//==========================================================================================
//  Social icons
//==========================================================================================
.team-full-details__symbol {
    flex: 0 0 auto;
    fill: color(cta-secondary);
}

.team-full-details__symbol--email {
    width: rem(30);
    height: rem(20);
}

.team-full-details__symbol--linkedin {
    width: rem(22);
    height: rem(20);
}


.team-full-details__social--mobile {
    display: flex;
    margin: 0 design-grid(0.5);
}

//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen600) {
    .team-full-details__photo {
        width: design-grid(4);
    }
}

@include mq(screen1000) {
    .team-full-details {
        width: design-grid(12);
        flex-direction: column;
        height: 100%;
    }
    .team-full-details__member {
        flex-direction: row;
        width: design-grid(10);
        height: design-grid(5);
    }
    .team-full-details__image-container {
        padding: 0;
    }
    .team-full-details__photo {
        width: design-grid(5);
    }
    .team-full-details__information {
        width: design-grid(5);
        &:before {
            content: none;
        }
    }
    .team-full-details__profile::-webkit-scrollbar {
        display: block;
    }
    .team-full-details__profile {
        padding: design-grid(0.5) design-grid(0.5) 0 design-grid(0.25);
    }
    .team-full-details__name {
        padding-bottom: rem(20);
    }
    .team-full-details__position {
        font-size: initial;
        padding-bottom: rem(40);
    }
    .team-full-details__social-container {
        padding-bottom: design-grid(0.5);
    }
    .team-full-details__description {
        padding-bottom: design-grid(1.5);
    }
    .team-full-details__fade {
        height: rem(40);
    }
    .team-full-details__social {
        display: flex;
    }
    .team-full-details__social--mobile {
        display: none;
    }
}

@include mq(screen1200) {
    .team-full-details__description {
        padding-bottom: design-grid(1.5);
    }
}

@include mq(screen1400) {
    .team-full-details__description {
        padding-bottom: design-grid(1.25);
    }
}