//==========================================================================================
//
//  Overlay Dark Theme
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.team-overlay {

    .overlay__content {
        width: design-grid(12);
        height: 100%;
        padding-top: rem(70);
    }

    .overlay__shadow {
        opacity: 0.95;
    }

    .overlay__triangles {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .overlay__triangles-image {
        width: 100%;
        height: auto;
    }

    .overlay__close {
        svg {
            fill: #fff;
        }
    }

}


//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1000) {
    .team-overlay{
        .overlay__content {
            padding-top: 0;
        }
    }
}
