//==========================================================================================
//
//  404
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.hero.error-page {
    padding-top: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
}

.error-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    background-color: color(primary);

    .hero__text::before {
        animation: none;
    }

    .hero__content .maincta {
        animation: none;
        opacity: 1;
        box-shadow: none;
    }
}


//==========================================================================================
//  Content
//==========================================================================================
.error-page__content {
    flex: 0 0 auto;
    width: 100%;
}

.error-page__title {
    margin-top: 0;
    padding-bottom: design-grid(0.1);

    color: white;
    @include typography(error-title);
}

.error-page__subtitle {
    color: white;
}

.error-page__text {
    padding-bottom: design-grid(0.25);
    color: white;
}


//==========================================================================================
//  Image
//==========================================================================================
.error-page__side {
    display: none;

    flex: 0 0 auto;
    width: 50%;

    text-align: right;
}

.error-page__image {
    width: 50%;
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen768) {
    .hero.error-page {
        background-image: url("/assets/images/raster/overlay_triangle_background.png");
        background-size: 50%;
    }
};

@include mq(screen1000) {
    .error-page__content {
        width: 50%;
    }
    .error-page__side {
        display: block;
    }
};

@include mq(screen1200) {
    .error-page__image {
        width: 65%;
        background-size: auto;
    }
};