/**
 * Name: Panel
 * Panel wrapping all components. Used for spacing components
 */

/* Main Class
   ==================== */

.panel {

}

.panel__inner {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 100%;
}

/* Modifiers
    ==================== */

/**
    * Modifier: .panel--full
    */

.panel--full {
    > .panel__inner {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
}


/**
    * Modifier: .panel--collapsed
    */

.panel--collapsed {
    > .panel__inner {
        padding-top: 0;
        padding-bottom: 0;
    }
}


/* Media queries
    ==================== */
@include mq(screen768) {
    .panel__inner {
        padding: 80px;
    }
}
