/* Carousel
========================================================================== */
.carousel {
    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 100%;
}

.carousel__layout {
    width: design-grid(12);
    padding: 40px;
}

.carousel__content {
    position: relative;
    height: 100%;

    z-index: $z-index-carousel-view;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;


    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
}

.carousel__item {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 0;

    height: 100%;
}

.carousel__button {
    position: absolute;
    z-index: $z-index-carousel-buttons;
    color: color(primary);
    top: 50%;
    transform: translateY(-50%);

    display: none;
    text-decoration: none;

    width: rem($carousel-button-width);
    height: rem($carousel-button-height);

    //  Symbol
    .carousel__symbol {
        width: 100%;
        height: 100%;
        fill: color(cta-secondary);
    }
}

.carousel__button:hover{
  color: color(secondary);
}

.carousel__button--next {
    right: 0%;
    transform: rotate(180deg);
    transform-origin: 50% 25%;
    cursor: pointer;

    // &:not(.inactive):hover {
    //     cursor: pointer;

    //     .carousel__symbol {
    //         animation: BasicCarouselNextButton $animation-duration-medium ease-in-out;
    //     }
    // }
}

.carousel__button--prev {
    left: 0%;
    cursor: pointer;

    // &:not(.inactive):hover {
    //     cursor: pointer;

    //     .carousel__symbol {
    //         animation: BasicCarouselPrevButton $animation-duration-medium ease-in-out;
    //     }
    // }
}


/* Animations
========================================================================== */
@keyframes BasicCarouselNextButton {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
        transform: translate3d(- rem($carousel-button-width), 0, 0);
    }

    66% {
        opacity: 0;
        transform: translate3d(rem($carousel-button-width), 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}

@keyframes BasicCarouselPrevButton {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
        transform: translate3d(- rem($carousel-button-width), 0, 0);
    }

    66% {
        opacity: 0;
        transform: translate3d(rem($carousel-button-width), 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}


/* Media queries
========================================================================== */
@include mq($from: screen480) {
    .carousel__button {
        width: rem($carousel-button-width / 1.5);
        height: rem($carousel-button-height / 1.5);
    }
}

@include mq($from: screen1000) {
   .carousel__button {
        display: block;
    }
    .carousel__layout {
        margin: 0 auto;
        width: design-grid(6);
    }
}