/* Carousel pagination
========================================================================== */
.carousel-pagination {
    position: absolute;
    z-index: $z-index-carousel-pagination;
    bottom:  $carousel-pagination-active-size / 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $carousel-pagination-active-size / 2;
}

[data-carousel-pagination="true"] {
    padding-bottom: design-grid(1.5);
}

[data-carousel-pagination="false"] {
    padding-bottom: design-grid(0.75);
}


/* Buttons
========================================================================== */
.carousel-pagination__button {
    flex: 0 0 auto;

    margin: 0 #{ $carousel-pagination-size / 2 };
    width: $carousel-pagination-size;
    height: $carousel-pagination-size;

    font-size: 0;
    line-height: 0;

    border: 1px solid color(cta-secondary);
    border-radius: #{ $carousel-pagination-size / 2 };

    transition: transform $animation-duration-short ease-in-out;
}



/* Button states
========================================================================== */
.carousel-pagination__button[data-active="false"] {
    background-color: color(bg-primary);

    &:active {
        border: 1px solid color(cta-primary);
        background-color: color(cta-primary);
    }
}

.carousel-pagination__button[data-active="true"] {
    transform: scale($carousel-pagination-scale);
    background-color: color(cta-secondary);
}


/* Media queries
========================================================================== */
@include mq(screen320) {
    $carousel-pagination-size: 10px;
    $carousel-pagination-active-size: $carousel-pagination-size * $carousel-pagination-scale;

    .carousel-pagination {
        height: $carousel-pagination-active-size / 2;
    }
    .carousel-pagination__button {
        margin: 0 #{ $carousel-pagination-size / 2 };
        width: $carousel-pagination-size;
        height: $carousel-pagination-size;
        border-radius: #{ $carousel-pagination-size / 2 };
    }
}

@include mq(screen480) {
    $carousel-pagination-size: 12px;
    $carousel-pagination-active-size: $carousel-pagination-size * $carousel-pagination-scale;

    .carousel-pagination {
        height: $carousel-pagination-active-size;
    }
    .carousel-pagination__button {
        margin: 0 #{ $carousel-pagination-size / 2 };
        width: $carousel-pagination-size;
        height: $carousel-pagination-size;
        border-radius: #{ $carousel-pagination-size / 2 };
    }
}

@include mq(screen600) {
    $carousel-pagination-size: 14px;
    $carousel-pagination-active-size: $carousel-pagination-size * $carousel-pagination-scale;

    .carousel-pagination {
        height: $carousel-pagination-active-size;
    }
    .carousel-pagination__button {
        margin: 0 #{ $carousel-pagination-size / 2 };
        width: $carousel-pagination-size;
        height: $carousel-pagination-size;
        border-radius: #{ $carousel-pagination-size / 2 };
    }
}
@include mq(screen768) {
    $carousel-pagination-size: 16px;
    $carousel-pagination-active-size: $carousel-pagination-size * $carousel-pagination-scale;

    [data-carousel-pagination="true"] {
        padding-bottom: design-grid(1);
    }
    [data-carousel-pagination="false"] {
        padding-bottom: design-grid(0.5);
    }

    .carousel-pagination {
        height: $carousel-pagination-active-size;
    }
    .carousel-pagination__button {
        margin: 0 #{ $carousel-pagination-size / 2 };
        width: $carousel-pagination-size;
        height: $carousel-pagination-size;
        border-radius: #{ $carousel-pagination-size / 2 };
    }
}

@include mq(screen1000) {
    .carousel-pagination {
        display: none;
    }
    [data-carousel-pagination="true"] {
        padding-bottom: 0;
    }
}