//==========================================================================
//
//  Careers
//
//==========================================================================

//==========================================================================
//  Container
//==========================================================================
.careers {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}


//==========================================================================
//  Careers Item
//==========================================================================
.careers__item {
    position: relative;
    width: design-grid(12);
    padding: design-grid(0.75);
    margin-bottom: rem(40);
    color: color(primary);
    text-decoration: none;
    border-left: 1px solid color(bg-secondary);
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 0%;
        height: 100%;
        opacity: 0;
        background: color(cta-secondary, 0.1);
        transform-origin: 50% 50%;
        transition: width $animation-duration-short cubic-bezier(0.5,0,1,1), opacity $animation-duration-short cubic-bezier(0.5,0,1,1);
    }

    &:hover,
    &:active,
    &:focus {
        color: color(primary);
        text-decoration: none;

        &:before {
            width: 100%;
            opacity: 1;
        }
    }

    &:visited {
        color: color(primary);
    }
}


//==========================================================================
//  Title
//==========================================================================
.careers__title {
    @include typography(h2, 300, $root-font-family);
    line-height: $minor-third;
    margin-bottom: rem(20);
}


//==========================================================================
//  Location
//==========================================================================
.careers__location{
    @include typography(intro, 400);
    margin-bottom: rem(25);
    color: color(tertiary);
}

//==========================================================================
//  Media queries
//==========================================================================
@include mq(screen768) {
    .careers__item {
        width: design-grid(6);
        padding: design-grid(0.25) design-grid(0.5);
    }
}
