//==========================================================================================
//
//  Media query config
//
//==========================================================================================

//==========================================================================================
//  SASS MQ library is used
//  http://sass-mq.github.io/sass-mq/
//==========================================================================================
$mq-responsive: true;
$mq-breakpoints: (
    screen0: 0px,
    screen320: 320px,
    screen480: 480px,
    screen600: 600px,
    screen768: 768px,
    screen1000: 1000px,
    screen1200: 1200px,
    screen1400: 1400px,
    screen1600: 1600px,
    screen1800: 1800px
);
$mq-show-breakpoints: (screen480,screen600,screen768,screen1000,screen1200,screen1400,screen1600,screen1800);


//==========================================================================================
//  CSS hooks for breakpoints
//  These are retrieved in JS through use of our Component Library "getBreakpoint" module
//==========================================================================================
body::before {
    display: none;
}

@each $breakpoint, $size in $mq-breakpoints {
    @include mq($breakpoint) {
        body::before {
            content: "#{$breakpoint}";
        }
    }
}