//==========================================================================================
//
//  Component variables
//
//==========================================================================================

//==========================================================================================
//  Address
//==========================================================================================
$address-padding: 10;


//==========================================================================================
//  Carousel
//==========================================================================================
$carousel-button-width: 62;
$carousel-button-height: 72;
$carousel-pagination-size: 10px;
$carousel-pagination-scale: 1.4;    //  As per design our active state increases the size of our element to 140%;
$carousel-pagination-active-size: $carousel-pagination-size * $carousel-pagination-scale;


//==========================================================================================
//  Contact
//==========================================================================================
$contact-button-padding: $grid-width / 2;


//==========================================================================================
//  Footer
//==========================================================================================
$footer-spacing: rem(20);


//  ========================================================================
//  Header
//  ========================================================================
$header-logo-width: 198;
$header-logo-height-ratio: 0.222222;   //  4.5:1
$header-logo-height: $header-logo-width * $header-logo-height-ratio;

$navigation-symbol-width: 13px;
$navigation-symbol-padding: $navigation-symbol-width * 1.5;
$navigation-link-spacing: 20px;

$mobile-navigation-link-spacing: 12px;

$control-panel-divider-height: 36;

$dropdown-icon-width: 12px;
$dropdown-icon-height: 12px;


//  ========================================================================
//  Link with arrow
//  ========================================================================
$link-with-arrow-width: 13px;
$link-with-arrow-height: $link-with-arrow-width * 1.3;


//  ========================================================================
//  Tags
//  ========================================================================
$tags-link-spacing: rem(10);


//  ========================================================================
//  Team
//  ========================================================================
$team-text-spacing: 16;


//  ========================================================================
//  Testimonial
//  ========================================================================
$testimonial-width: 24;
$testimonial-aspect-ratio: 0.75;