//==========================================================================================
//
//  VW grid
//
//==========================================================================================

//==========================================================================================
//  Setup (All design values reflected as px)
//==========================================================================================
$design-grid-column-count: 12;
$design-grid-indent: 80;
$design-grid-gutter: 40;
$design-grid-column: 110;


//==========================================================================================
//  Responsive values (All grid values reflected as vw)
//==========================================================================================
$grid-indent: ($design-grid-indent / $root-page-width) * 100vw;
$grid-gutter: ($design-grid-gutter / $root-page-width) * 100vw;
$grid-width: ($design-grid-column / $root-page-width) * 100vw;


//==========================================================================================
//  Calculations
//==========================================================================================
@function design-grid($count: 1) {
    @return ( ($count * $grid-width) + (ceil($count - 1) * $grid-gutter) );
}

@function fixed-grid($count: 1) {
    $total: ($design-grid-column-count * $grid-width) + (ceil($design-grid-column-count - 1) * $grid-gutter);
    @return $total * ($count / $design-grid-column-count);
}