//==========================================================================================
//
//  Page layout
//
//==========================================================================================

//==========================================================================================
//  Containers
//==========================================================================================
.main {
  //  Account for possible borders with additional 2px
  width: 100%;
}

.component {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 40px 40px 40px 40px;
  overflow: hidden;
}


.component--showcase{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  .component--showcase--header{
    color: white;
    font-weight: bold;
    margin-left: 18px;
  }
}


//==========================================================================================
//  Modifiers
//==========================================================================================
// .component--no-padding {
//     //  Important required to avoid duplication in media queries
//     padding: 0 !important;
// }


// .component--full-width {
//     //  Important required to avoid duplication in media queries
//     width: calc(100vw - (100vw - 100%));
//     // margin-left: calc((100vw - 100%) / -2);
// }

// .component--wide {
//     position: relative;
//     width: 100%;
// }

// .component--narrow {
//     // Styles not required for mobile
// }


//==========================================================================================
//  Media queries
//==========================================================================================
// @include mq(screen1200) {
//     .component--narrow {
//         width: design-grid(6);
//     }
// }

// @include mq(screen1000) {
//     .component {
//         padding: design-grid(0.5) 0;
//     }
//     .component + .component {
//         padding: 0 0 80px;
//     }
//     .component--narrow {
//         width: design-grid(8);
//     }
// }

// @include mq(screen768) {
//     .component--narrow {
//         width: design-grid(10);
//     }
// }
