﻿//==========================================================================================
//
//  Root variables & states
//
//==========================================================================================

//==========================================================================================
//  Root values
//==========================================================================================
$root-page-width: 1920;
$root-font-size: 16;
$root-font-family: 'Fira Sans Condensed', sans-serif;
$root-font-secondary: 'Source Sans Pro', sans-serif;



//==========================================================================================
//  Animation Timings
//==========================================================================================
$animation-duration-short: 200ms;
$animation-duration-medium: 400ms;
$animation-duration-long: 600ms;

$animation-duration-form-out: 500ms;
$animation-duration-form-in: 1500ms;


//==========================================================================================
//  States
//==========================================================================================
$state-inactive-opacity: 0.2;