//==========================================================================================
//
//  Values for z-index tree
//
//==========================================================================================

//==========================================================================================
//  Cookie warning
//==========================================================================================
$z-index-cookie-warning: 999;

//==========================================================================================
//  Overlay
//==========================================================================================
$z-index-overlay: 700;
$z-index-overlay-shadow: 499;
$z-index-overlay-content: 501;


//==========================================================================================
//  Carousel
//==========================================================================================
$z-index-carousel-view: 0;
$z-index-carousel-buttons: 1;
$z-index-carousel-pagination: 1;


//==========================================================================================
//  Header
//==========================================================================================
$z-index-header: 600;
$z-index-header-mobile-nav: 599;


//==========================================================================================
//  Navigation dropdown
//==========================================================================================
$z-index-navigation-dropdown: 601;


//==========================================================================================
//  Video player controls
//==========================================================================================
$z-index-video-player-poster: 1;
$z-index-video-player-controls: 2;