//==========================================================================================
//
//  Breadcrumbs
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.breadcrumb {
    display: block;     // added to override Bootstrap default styles

    margin: 0;
    padding: 0px; //($grid-gutter / 2) 0;

    // border-top: 1px solid color(tertiary);
    border-radius: 0;   // added to override Bootstrap default styles

    background: none;   // added to override Bootstrap default styles
}

.breadcrumb__item {
    list-style-type: none;
    display: inline-block;
    color: color(tertiary);
    @include typography(breadcrumb);

    &:after {
        content: '/';
        position: relative;
        right: 0;
        margin: 0 5px;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}


//==========================================================================================
//  Links
//==========================================================================================
.breadcrumb__link {
    display: inline-block;
    color: color(tertiary);
}

//  Styles for breadcrumb states when they're links
a.breadcrumb__link {
    &:hover,
    &:focus,
    &:active {
        color: color(cta-secondary);
        text-decoration: underline;
    }

    &:visited {
        color: color(cta-secondary);
    }
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen600) {
    .breadcrumb__item {

        &:after {
            //margin: 0 7px;
        }
    }
}
