//==========================================================================================
//
//  Content header
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================


.content-header  {
    text-align: center;
}


//==========================================================================================
//  Text
//==========================================================================================
.content-header__title {
    @include typography(h3, 500);
    color: color(primary);
    padding: 0;
}

.content-header__text {
    @include typography(h2, 300);
    color: color(tertiary);
    margin: 20px 0 0;
}