//==========================================================================================
//  Documentation containers
//==========================================================================================
section {
    margin-bottom: 50px;
}


//==========================================================================================
//  Colour swatches
//  The colour list should be updated with the project colour palette
//==========================================================================================
// $colour-list: $color-dark-blue $color-blue $color-lighter-blue $color-seagreen $color-grey $color-red;

.colour__swatch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;

}

$i: 0;
@each $colour-name, $colour in $colour-palette {
    $i: $i + 1;
    .colour__swatch:nth-child(n+#{$i}) { 
        background-color: $colour;
    }
    .colour__swatch:nth-child(n + #{$i}) .colour__text:after {
        @include typography(body);

        content: "#{$colour-name}";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: block;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        line-height: line-height(golden-ratio);

        @if "#{$colour}" == "#fff"{
            color: color(primary);
        }
        @else {
            color: white;
        }

    }
}


//==========================================================================================
//  Grid representation
//==========================================================================================
.grid {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
}

.grid__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - #{$grid-indent});
    height: 100%;
    margin: 0 auto;
    background-color: grey;
}

.grid__width {
    flex: 0 0 auto;
    width: design-grid(1);
    height: 100%;

    background-color: darkgrey;
}