//==========================================================================================
//
//  Search Results
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.search-results {
    width: design-grid(12);
    margin: 0 auto;
}


//==========================================================================================
//  Item
//==========================================================================================
.search-results__item {
    display: block;
    position: relative;

    padding: rem(20);
    margin-bottom: rem(30);

    background-color: #fff;
    border: 1px solid color(bg-secondary, 0.2);
    text-decoration: none;

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 0%;
        height: 100%;
        opacity: 0;
        background: color(cta-secondary, 0.1);
        transform-origin: 50% 50%;
        transition: width $animation-duration-short cubic-bezier(0.5,0,1,1), opacity $animation-duration-short cubic-bezier(0.5,0,1,1);
    }

    &:hover,
    &:active,
    &:focus {
        color: color(primary);
        text-decoration: none;

        &:before {
            width: 100%;
            opacity: 1;
        }
    }

    &:visited {
        color: color(primary);
    }
}


//==========================================================================================
//  Title
//==========================================================================================
.search-results__title {
    margin-bottom: rem(20);
    @include typography(h3, 500);
    line-height: line-height(minor-third);
}


//==========================================================================================
//  Text
//==========================================================================================
.search-results__text {
    @include typography(body);
}

.search-results__text.rich p {
    padding-top: rem(15);

    &:first-child {
        padding-bottom:0;
    }
}

//==========================================================================================
//  Modifiers
//==========================================================================================
.search-results__item--no-results {
    &:before {
        content: none;
    }
}

//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen768) {
    .search-results {
        width: design-grid(10);
    }
}

@include mq(screen1000) {
    .search-results {
        width: design-grid(8);
    }

    .search-results__item {
        padding: rem(30);
    }

    .search-results__title {
        margin-bottom: rem(25);
    }
}

@include mq(screen1200) {
    .search-results {
        width: design-grid(6);
    }
}