//==========================================================================================
//
//  Awards
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.awards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: design-grid(12);

    margin-right: $grid-gutter;

    &:last-child,
    &:nth-child(2n+2),
    &:nth-child(4n+4) {
        margin-right: 0;
    }
}


//==========================================================================================
//  Awards Item
//==========================================================================================
.awards__item {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: design-grid(12);
    margin-right: $grid-gutter;
    margin-bottom: rem(20);
    text-decoration: none;

    &:nth-child(2n+2) {
        margin-right: 0;
    }
}


//==========================================================================================
//  Image
//==========================================================================================
.awards__image-container {
    flex: 0 0 auto;
    width: design-grid(6);
}

.awards__image {
    display: block;
    width: 100%;
    height: auto;
}


//==========================================================================================
//  Awards caption
//==========================================================================================
.awards__caption {
    width: design-grid(6);
    margin-left: $grid-gutter*0.5;
}

.awards__text {
    @include typography(h2-content, 400);
    line-height: line-height(major-third);
}

//==========================================================================================
//  Media queries
//==========================================================================================
@include mq(screen600) {
    .awards__item {
        width: design-grid(6);
    }

    .awards__image-container {
        width: design-grid(3);
    }

    .awards__caption {
        width: design-grid(3);
    }

    .awards__text {
        font-size: rem(18);
    }
}

@include mq(screen1200) {
    .awards {
        flex-direction: row;
    }

    .awards__item {
        flex-direction: row;
        width: design-grid(3);

        &:nth-child(2n+2) {
            margin-right: $grid-gutter;
        }

        &:nth-child(2n+4) {
            margin-right: 0;
        }
    }

    .awards__image-container {
        width: design-grid(1.5);
    }

    .awards__caption {
        width: design-grid(1.5);
    }

    .awards__text {
        font-size: rem(18);
    }
}

@include mq(screen1400) {
    .awards__text {
        font-size: rem(18);
    }
}

@include mq(screen1800) {
    .awards__text {
        font-size: rem(22);
    }
}
