<!DOCTYPE html>
<!-- <html itemtype="http://schema.org/WebPage" itemscope="" manifest="/manifest.appcache"> -->
<html itemtype="http://schema.org/WebPage" itemscope="" lang="{{ default.language }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Cache-Control" content="max-age=31622400,public">
	<!-- Prefetch -->
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="{{ default.prefetch }}">
	<!-- Preload -->
	<link rel="preload" href="{{ script }}" as="script">
	<!-- Indexing -->
	{{!--
	<meta name="google">
	<meta name="googlebot">
	<meta name="robots" content="NOODP,NOYDIR">
	--}}
	<!-- Description -->
	<meta name="author" content="{{ default.author }}">
	<meta name="keywords" content="{{ default.keywords }}">
	<meta name="description" content="{{ default.description }}">
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ default.description }}">
	<meta itemprop="image" content="{{ default.image }}">
	<!-- Canonical -->
	<link rel="canonical" href="{{ canonical }}">

  <!-- Font aweome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <!-- googlefonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Source+Sans+Pro" rel="stylesheet">


	<!-- Opengraph -->
	<meta property="og:title" content="{{ title }}" >
	<meta property="og:site_name" content="{{ default.sitename }}">
	<meta property="og:url" content="{{ canonical }}">
	<meta property="og:image" content="{{ default.image }}">
	<meta property="og:description" content="{{ default.description }}">
	<meta property="og:type" content="{{ default.sitetype }}">
	<meta property="og:locale" content="{{ default.locale }}">
	<meta property="og:locale:alternate" content="{{ default.alternate_locale }}">
	<!-- Facebook -->
	<!-- <meta property="fb:app_id" content=""> -->

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ default.sitename }}" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:image" content="{{ default.image }}" />

	<!-- Support pages -->
	{{!--
	<link rel="copyright" href="{{ default.copyright_url }}">
	<link rel="contact" href="{{ default.contact_url }}">
	--}}

	<!-- Icons -->
	<link rel="icon" href="{{ default.icon }}.ico" sizes="16x16 32x32 48x48 64x64" type="image/x-icon">
	<link rel="icon" href="{{ default.icon }}.png" sizes="32x32" type="image/png">
	<link rel="icon" href="{{ default.icon }}.svg" sizes="any" type="image/svg+xml">

	<!-- Apple -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon-precomposed" href="{{ icon_apple }}">
	<link rel="apple-touch-startup-image" href="{{ icon_apple_startup }}">

	<!-- Title -->
	<title>{{ title }}</title>

	<!-- Viewport -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ stylesheet }}">

</head>


<body lang="{{ default.locale }}" dir="ltr">

  <div class="wrapper">
		{{> header }}
		<main class="main">{% body %}</main>
		{{> footer }}
  </div>

	<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAwMntrvRkOCBUoDXDV7yk7deyVrdg8AVs" defer></script>
	<script src="https://use.typekit.net/bxp7rnj.js" defer></script>
	<script src="{{ script }}" defer></script>
	<script src="https://www.youtube.com/iframe_api" defer async></script>
</body>

</html>