//==========================================================================================
//
//  Footer
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid color(primary);
    background-color: color(primary);
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    padding-bottom: $grid-gutter;

    &.footer--with-cookie-bar {
        margin-bottom: 100px;
    }
}


//==========================================================================================
//  Navigation blocks
//==========================================================================================
.footer__navigation {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    //  Item spacing
    .footer__link:not(:last-of-type) {
        padding-right: $footer-spacing;
    }
}

.footer__social {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    //  Item spacing
    .footer__link:not(:first-of-type) {
        padding-left: $footer-spacing;
    }
}


//==========================================================================================
//  Links
//==========================================================================================
.footer__link {
    @include typography(anchor);
    color: white;

    // &:hover,
    // &:active,
    // &:focus {
    //     color: color(primary);
    //     text-decoration: underline;
    // }

    // &:visited {
    //     color: white;
    // }
}


//==========================================================================================
//  Media queries
//==========================================================================================
@include mq($until: screen768) {

    .footer {
        display: block;
    }

    // .footer__navigation {
    //     display: none;
    // }

    .footer__social {
        justify-content: flex-start;
    }

}