//==========================================================================================
//
//  Video player
//
//=========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.video-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


//==========================================================================================
//  Video
//==========================================================================================
.video-player__frame {
    flex: 0 0 auto;

    position: relative;

    width: design-grid(12);
    line-height: 0;
    font-size: 0;
}

.video-player__content {
    width: 100%;
}

.video-player__video {
    flex: 0 0 auto;

    width: 100%;
    height: auto;
}


//==========================================================================================
//  Controls
//==========================================================================================
.video__controls {
    position: absolute;
    z-index: $z-index-video-player-controls;

    cursor: pointer;

    top: 50%;
    left: 50%;
    bottom: initial;

    width: rem(100);
    height: rem(100);

    opacity: 1;

    transform: translate(-50%, -50%);
    transition: top $animation-duration-medium, left $animation-duration-medium, opacity $animation-duration-medium;
}

.video__symbol {
    color: white;
    fill: white;

    width: 65px;
    height: 65px;
    display: none;

    font-size: 60px;
    text-align: center;

}


//==========================================================================================
//  Show/Hide controls
//==========================================================================================
[data-video-playing="false"] {
    .video__controls {
        display: block;
    }
    .video__symbol--play {
        display: block;
    }
}

[data-video-playing="true"] {
    .video__controls {
        display: block;
        //  Needs to subtract the size of the button
        top: calc(100% - #{rem(75)});
        left: rem(25);

        width: rem(50);
        height: rem(50);
        opacity: 0.5;
        transform: none;
    }
    .video__symbol--pause {
        display: block;
    }
}

//==========================================================================================
//  Details
//==========================================================================================
.video-player__details {
    width: design-grid(12);
}

.video-player__title {
    @include typography(body);

    padding-bottom: rem(20);

    color: color(cta-secondary);
    text-transform: uppercase;
    font-weight: 500;
}

.video-player__description {
    @include typography(body);
    color: color(primary);
}


//==========================================================================================
//  Media Queries & Desktop only Modifier
//==========================================================================================
@include mq(screen1000) {
    .video-player__frame {
        width: design-grid(9);
    }

    .video-player__details {
        width: design-grid(3);
    }
}

@include mq(screen768) {
    .video-player {
        flex-direction: row;
    }

    .video-player--right-aligned {
        flex-direction: row-reverse;

        .video-player__details {
            align-items: flex-end;
            text-align: right;
        }
    }

    .video-player__frame {
        width: design-grid(8);
        margin-bottom: 0;
    }

    .video-player__details {
        width: design-grid(4);
    }
}