//==========================================================================================
//
//  Youtube specific video player
//
//=========================================================================================

[data-video="youtube"] .video-player__content {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video-player__poster,
[data-video="youtube"] .video-player__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-player__poster {
    z-index: $z-index-video-player-poster;
    width: 100%;
    height: 100%;
}