//==========================================================================================
//
//  Detailed Location
//
//=========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.detailed-location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: design-grid(12);
}


//==========================================================================================
//  Map
//==========================================================================================
.detailed-location__map {
    width: design-grid(12);
    height: design-grid(5);
    flex: 0 1 auto;

    margin-bottom: rem(20);

    //  This is required due to GoogleMaps not toggling aria-hidden attribute for areas of the map outside the initial viewport
    & [aria-hidden="true"] {
        display: block !important;
        display: initial !important;
    }
}


//==========================================================================================
//  Details
//==========================================================================================
.detailed-location__details {
    width: design-grid(12);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


//==========================================================================================
//  Address
//==========================================================================================
.detailed-location__address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}


//==========================================================================================
//  Region
//==========================================================================================
.detailed-location__region {
    @include typography(body);

    padding-bottom: rem(20);

    color: color(cta-secondary);
    text-transform: uppercase;
    font-weight: 500;
}

//==========================================================================================
//  Street - Postcode
//==========================================================================================
.detailed-location__street, .detailed-location__postcode {
    @include typography(h3);

    color: color(primary);
    font-weight: 300;
    text-transform: none;
}


//==========================================================================================
//  Contact Details
//==========================================================================================
.detailed-location__contact {
    padding-top: rem(20);
}

.detailed-location__contact--email {
    padding-top: rem(20);
}

.detailed-location__contact-type {
    @include typography(body);
    font-size: rem(14);
    font-weight: 500;
}

.detailed-location__contact-link {
    @include typography(body);
    color: color(primary);
    font-size: rem(14);
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: color(primary);
        text-decoration: underline;
    }

    &:visited {
        color: color(primary);
    }
}

.detailed-location__contact-text {
    @include typography(body);
    color: color(primary);
    font-size: rem(14);
}


//==========================================================================================
//  Link
//==========================================================================================
.detailed-location .link-with-arrow {
    margin-top: rem(30);
    svg {
        fill: color(cta-secondary);
    }
}


//==========================================================================================
//  Media Queries & Desktop only Modifier
//==========================================================================================
@include mq(screen1000) {
    .detailed-location__map {
        width: design-grid(9);
        height: design-grid(3);
    }

    .detailed-location__details {
        width: design-grid(3);
    }
}

@include mq(screen768) {
    .detailed-location {
        flex-direction: row;
    }

    .detailed-location--right-aligned {
        flex-direction: row-reverse;

        .detailed-location__details {
            align-items: flex-end;
            text-align: right;
        }
    }

    .detailed-location__map {
        width: design-grid(8);
        margin-bottom: 0;
    }

    .detailed-location__details {
        width: design-grid(4);
    }

    .detailed-location .link-with-arrow {
        margin-top: 0;
    }
}