//==========================================================================================
//
//  Latest
//
//==========================================================================================

//==========================================================================================
//  Container
//==========================================================================================
.latest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

//==========================================================================================
//  Carousel Overrides
//==========================================================================================
.latest.carousel__content {
    align-items: stretch;
}

.latest .carousel__item {
    flex-grow: 0;
    align-items: flex-start;
}


//==========================================================================================
//  Item
//==========================================================================================
.latest__item {
    width: design-grid(6);
    height: auto;
    min-height: design-grid(8);

    padding-right: 2*$grid-gutter;
    padding-bottom: 2*$grid-gutter;

    color: white;
    text-decoration: none;

    &:last-child {
        padding-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
        color: white;
        text-decoration: none;
    }

    &:visited {
        color: white;
    }
}


//==========================================================================================
//  Item Inner
//==========================================================================================
.latest__item-inner {
    position: relative;

    width: 100%;
    height: 100%;

    padding: design-grid(0.75);

    overflow: hidden;
    background-color: color(tertiary);
}

//==========================================================================================
//  Background
//==========================================================================================
.latest__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center center;

    transform: scale(1);
    transition: transform $animation-duration-long ease-in-out;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: color(primary);
        opacity: 0.4;
        transition: opacity $animation-duration-long ease-in-out;
    }
}

//==========================================================================================
//  Hover/Active states for background and opacity
//==========================================================================================
.latest__item:hover,
.latest__item:active,
.latest__item:focus {
    .latest__background {
        transform: scale(1.1);

        &:before {
            opacity: 0.5;
        }
    }

    .latest__background--light-overlay {
        &:before {
            opacity: 0.2;
        }
    }
}

//==========================================================================================
//  Content
//==========================================================================================
.latest__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 100%;
}


//==========================================================================================
//  Category
//==========================================================================================
.latest__category {
    padding-bottom: rem(15);

    @include typography(body);
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

//==========================================================================================
//  Copy
//==========================================================================================
.latest__copy {
    flex: 1 0 auto;
    width: 100%;

    max-width: design-grid(9);
}

//==========================================================================================
//  Title
//==========================================================================================
.latest__title {
    @include typography(h2,300);
    font-size: rem(30);
    line-height: line-height(major-third);
    color: #fff;
}

//==========================================================================================
//  Text
//==========================================================================================
.latest__text {
    display: none;
    margin-top: rem(30);
    padding-right: rem(30);

    @include typography(intro, 300);
    color: #fff;
}


//==========================================================================================
//  Link with arrow
//==========================================================================================
.latest {
    .link-with-arrow {
        color: #fff;

        margin-top: rem(30);
        padding: 0 rem(25) 0 0;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }

        .link-with-arrow__svg {
            fill: #fff;
        }
    }
}

//==========================================================================================
//  Modifiers
//==========================================================================================

//==========================================================================================
//  Large - to be added when there's only one latest item in the panel
//==========================================================================================
.latest__item--large {
    .latest__text {
        display: none;
    }
}

//==========================================================================================
//  Light overlay - to be used in conjunction with the gradient background
//==========================================================================================
.latest__background--light-overlay {
    &::before {
        opacity: 0;
    }
}

//==========================================================================================
//  Media Queries
//==========================================================================================
@include mq(screen1600) {
    .latest__title {
        max-width: design-grid(4);
    }

    .latest__text {
        max-width: design-grid(3.5);
    }
}

@include mq(screen1200) {
    .latest {
        height: design-grid(4.5);
    }
}

@include mq(screen1000) {
    .latest {
        height: design-grid(5);
    }
}

@include mq(screen768) {
    .latest {
        flex-direction: column;
        height: design-grid(6);
    }

    .latest__item {
        width: design-grid(6);
        height: calc(50% - (#{$grid-gutter})/2);
        min-height: 0;
        padding: 0;
    }

    .latest__item--large {
        height: 100%;

        .latest__text {
            display: block;
        }
    }

    .latest__item-inner {
        padding: design-grid(0.33) design-grid(0.5);
        min-height: 0;
    }

    .latest__copy {
        max-width: design-grid(5);
    }

    .latest__title {
        font-size: rem(25);
    }
}

@include mq(screen600) {
    .latest__item-inner {
        min-height: design-grid(6);
    }
}
